Repository plentymarkets/plentyshop-pwa, pull requests merged in 2023-10, with the labels that each got.

#169 feat: bump shop-api to 0.10.1 (multiple cookie headers)
  package.json
  yarn.lock
Labels: feature

#170 feat: checkout e2e test
  .github/workflows/e2e-tests.yaml
  apps/web/__tests__/fixtures/addressForm.json
  apps/web/__tests__/support/pageObjects/CartPageObject.ts
  apps/web/__tests__/support/pageObjects/CheckoutPageObject.ts
  apps/web/__tests__/support/pageObjects/HomePageObject.ts
  apps/web/__tests__/support/pageObjects/ProductDetailPageObject.ts
  apps/web/__tests__/support/pageObjects/ProductListPageObject.ts
  apps/web/__tests__/test/smoke/cartPage.cy.ts
  apps/web/__tests__/test/smoke/checkoutPage.cy.ts
  apps/web/__tests__/test/smoke/homePage.cy.ts
  apps/web/__tests__/test/smoke/loginPage.cy.ts
  apps/web/__tests__/test/smoke/passwordPage.cy.ts
  apps/web/__tests__/test/smoke/productDetailPage.cy.ts
  apps/web/__tests__/test/smoke/productListPage.cy.ts
  apps/web/__tests__/test/smoke/signupPage.cy.ts
  apps/web/components/AddressForm/AddressForm.vue
  apps/web/components/CartPageContent/CartPageContent.vue
  apps/web/components/CheckoutAddress/CheckoutAddress.vue
  apps/web/components/ConfirmationPageContent/ConfirmationPageContent.vue
  apps/web/components/ContactInformation/ContactInformationForm.vue
  apps/web/components/MegaMenu/MegaMenu.vue
  apps/web/components/ui/PurchaseCard/PurchaseCard.vue
  apps/web/cypress.config.ts
  apps/web/package.json
  apps/web/pages/checkout.vue
Labels: feature

#173 fix: pwa deploy action build
  .github/workflows/upload.yml
Labels: fix

#176 fix: import lodash
  apps/web/pages/checkout.vue
Labels: fix

#178 fix: category filters & add e2e test
  apps/web/__tests__/support/pageObjects/CategoryObject.ts
  apps/web/__tests__/test/smoke/categoryPage.cy.ts
  apps/web/components/CategoryFilters/Filter.vue
  apps/web/pages/category/[slug].vue
Labels: fix

#182 fix: return to prev
  apps/web/components/login/login.vue
  apps/web/lang/de.json
  apps/web/lang/en.json
  apps/web/pages/login.vue
Labels: fix

#184 feat: upload action only uploads bundled files
  .github/workflows/upload.yml
  .yarn/plugins/@yarnpkg/plugin-workspace-tools.cjs
  apps/server/package.json
  apps/server/tsup.config.ts
  package.json
  yarn.lock
Labels: feature

#185 fix: lang switch keep params
  apps/web/components/LanguageSelector/LanguageSelector.vue
  apps/web/pages/category/[slug].vue
  apps/web/pages/product/[slug].vue
Labels: fix

#186 fix: api url env
  apps/web/nuxt.config.ts
Labels: fix

#172 feat: add basic changelog
  README.md
  docs/changelog/changelog_de.md
  docs/changelog/changelog_en.md
Labels: documentation

#189 feat: add static page metadata functionality
  apps/web/app.vue
  apps/web/composables/index.ts
  apps/web/composables/useCanonical/types.ts
  apps/web/composables/useCanonical/useCanonical.ts
  apps/web/pages/CancellationForm.vue
  apps/web/pages/CancellationRights.vue
  apps/web/pages/LegalDisclosure.vue
  apps/web/pages/PrivacyPolicy.vue
  apps/web/pages/TermsAndConditions.vue
  apps/web/pages/cart.vue
  apps/web/pages/checkout.vue
  apps/web/pages/index.vue
  apps/web/pages/my-account/billing-details.vue
  apps/web/pages/my-account/index.vue
  apps/web/pages/my-account/my-orders.vue
  apps/web/pages/my-account/personal-data.vue
  apps/web/pages/my-account/returns.vue
  apps/web/pages/my-account/shipping-details.vue
  apps/web/pages/readonly-checkout.vue
  apps/web/pages/thank-you.vue
Labels: feature

#190 chore: add canonical
  docs/changelog/changelog_de.md
  docs/changelog/changelog_en.md
Labels: ignore-for-release

#179 feat: breadcrumbs for google
  apps/web/components/ui/Breadcrumbs/Breadcrumbs.vue
  apps/web/pages/category/[slug].vue
  apps/web/pages/product/[slug].vue
Labels: feature

#187 feat: added composable
  apps/web/app.vue
  apps/web/composables/index.ts
  apps/web/composables/useCanonical/index.ts
  apps/web/composables/useCanonical/types.ts
  apps/web/composables/useCanonical/useCanonical.ts
  apps/web/pages/CancellationForm.vue
  apps/web/pages/CancellationRights.vue
  apps/web/pages/LegalDisclosure.vue
  apps/web/pages/PrivacyPolicy.vue
  apps/web/pages/TermsAndConditions.vue
  apps/web/pages/cart.vue
  apps/web/pages/checkout.vue
  apps/web/pages/index.vue
  apps/web/pages/my-account/billing-details.vue
  apps/web/pages/my-account/index.vue
  apps/web/pages/my-account/my-orders.vue
  apps/web/pages/my-account/personal-data.vue
  apps/web/pages/my-account/returns.vue
  apps/web/pages/my-account/shipping-details.vue
  apps/web/pages/readonly-checkout.vue
  apps/web/pages/thank-you.vue
  docs/changelog/changelog_de.md
  docs/changelog/changelog_en.md
Labels: feature

#191 feat: add canonical url for pagination
  apps/web/components/ui/Pagination/Pagination.vue
Labels: feature

#114 feat: add i18n unit test
  .github/workflows/unit-tests.yaml
  apps/web/__tests__/test/unit/i18n.spec.ts
  apps/web/lang/de.json
  apps/web/lang/en.json
  apps/web/vitest.config.mjs
Labels: feature

#194 feat: structured data logo
  apps/web/layouts/default.vue
  apps/web/nuxt.config.ts
Labels: feature

#188 feat: canonical categories
  apps/web/composables/useCanonical/types.ts
  apps/web/composables/useCanonical/useCanonical.ts
  apps/web/pages/category/[slug].vue
Labels: feature

#196 feat: paypal feedback + remove integration.config
  README.md
  apps/web/components/CartPageContent/CartPageContent.vue
  apps/web/components/PayPal/PayPalCreditCardForm.vue
  apps/web/components/PayPal/PayPalExpressButton.vue
  apps/web/composables/useCart/types.ts
  apps/web/composables/useInitalSetup/types.ts
  apps/web/composables/useInitalSetup/useInitialSetup.ts
  apps/web/composables/usePayPal/types.ts
  apps/web/composables/usePayPal/usePayPal.ts
  apps/web/getters/paypalGetters.ts
  apps/web/integration.config.ts
  apps/web/layouts/checkout.vue
  apps/web/pages/checkout.vue
  apps/web/pages/readonly-checkout.vue
  docs/changelog/changelog_de.md
  docs/changelog/changelog_en.md
  docs/config/integrations.md
  package.json
  yarn.lock
Labels: feature

#195 feat: structured data single item
  apps/web/composables/index.ts
  apps/web/composables/useStructuredData/index.ts
  apps/web/composables/useStructuredData/types.ts
  apps/web/composables/useStructuredData/useStructuredData.ts
  apps/web/pages/product/[slug].vue
Labels: feature

#199 fix: canonicals for category are broken
  apps/web/components/ui/Pagination/Pagination.vue
  apps/web/composables/useCanonical/useCanonical.ts
  apps/web/pages/category/[slug].vue
  apps/web/pages/product/[slug].vue
Labels: fix

#200 feat: contact page
  apps/web/composables/useCustomerContact/index.ts
  apps/web/composables/useCustomerContact/types.ts
  apps/web/composables/useCustomerContact/useCustomerContact.ts
  apps/web/lang/de.json
  apps/web/lang/en.json
  apps/web/mocks/footerData.ts
  apps/web/pages/checkout.vue
  apps/web/pages/contact.vue
  apps/web/pages/readonly-checkout.vue
  apps/web/utils/paths.ts
  package.json
  yarn.lock
Labels: feature

#204 feat: add delete item from cart notification and change position
  apps/web/components/ui/CartProductCard/CartProductCard.vue
  apps/web/components/ui/Notifications/Notifications.vue
  apps/web/lang/de.json
  apps/web/lang/en.json
  docs/changelog/changelog_de.md
  docs/changelog/changelog_en.md
Labels: feature

#202 fix: filter filtering
  apps/web/composables/useCategoryFilter/types.ts
  apps/web/composables/useCategoryFilter/useCategoryFilter.ts
  apps/web/pages/category/[slug].vue
  docs/changelog/changelog_de.md
  docs/changelog/changelog_en.md
Labels: fix

#203 feat: mark selected bulk price
  apps/web/components/GraduatedPriceList/GraduatedPriceList.vue
  apps/web/components/GraduatedPriceList/types.ts
  apps/web/components/ui/PurchaseCard/PurchaseCard.vue
  docs/changelog/changelog_de.md
  docs/changelog/changelog_en.md
Labels: feature

#205 fix: env vars for middleware
  .github/workflows/e2e-tests.yaml
  .github/workflows/run-lhci-test.yml
  .github/workflows/upload.yml
  apps/server/.env.example
  apps/server/middleware.config.ts
  apps/web/nuxt.config.ts
  docs/changelog/changelog_de.md
  docs/changelog/changelog_en.md
  docs/config/middleware.md
Labels: fix
