Repository plentymarkets/plentyshop-pwa, pull requests merged in 2023-09, with the labels that each got.

#99 feat: login component
  apps/web/components/login/login.vue
  apps/web/components/ui/NavbarBottom.vue
  apps/web/composables/useCustomer/types.ts
  apps/web/composables/useCustomer/useCustomer.ts
  apps/web/lang/de.json
  apps/web/lang/en.json
  apps/web/layouts/default.vue
  apps/web/pages/login.vue
Labels: feature

#92 fix: display price for cross price
  apps/web/components/CategoryPageContent/CategoryPageContent.vue
  apps/web/components/Price/Price.vue
  apps/web/components/Price/types.ts
  apps/web/components/ui/PurchaseCard/PurchaseCard.vue
Labels: fix

#89 fix: paypal setup in readme
  README.md
Labels: fix

#93 fix: show add to cart / show article
  apps/web/components/CategoryPageContent/CategoryPageContent.vue
  apps/web/components/ProductSlider/ProductSlider.vue
  apps/web/components/ui/ProductCard/ProductCard.vue
  apps/web/lang/de.json
  apps/web/lang/en.json
  apps/web/pages/category/[slug].vue
  package.json
  yarn.lock
Labels: fix

#101 fix: shipping & payment selection / cart price changes
  apps/web/components/CheckoutPayment/CheckoutPayment.vue
  apps/web/components/CheckoutPayment/types.ts
  apps/web/components/ShippingMethod/ShippingMethod.vue
  apps/web/components/ShippingMethod/types.ts
  apps/web/components/ui/CartProductCard/CartProductCard.vue
  apps/web/pages/checkout.vue
Labels: fix

#100 feat: notifications, alerts
  apps/web/components/ui/Notifications/NegativeNotification/NegativeNotification.vue
  apps/web/components/ui/Notifications/NegativeNotification/__tests__/NegativeNotification.spec.ts
  apps/web/components/ui/Notifications/NegativeNotification/types.ts
  apps/web/components/ui/Notifications/NeutralNotification/NeutralNotification.vue
  apps/web/components/ui/Notifications/NeutralNotification/__tests__/NeutralNotification.spec.ts
  apps/web/components/ui/Notifications/NeutralNotification/types.ts
  apps/web/components/ui/Notifications/Notifications.vue
  apps/web/components/ui/Notifications/PositiveNotification/PositiveNotification.vue
  apps/web/components/ui/Notifications/PositiveNotification/__tests__/PositiveNotification.spec.ts
  apps/web/components/ui/Notifications/PositiveNotification/types.ts
  apps/web/components/ui/Notifications/SecondaryNotification/SecondaryNotification.vue
  apps/web/components/ui/Notifications/SecondaryNotification/__tests__/SecondaryNotification.spec.ts
  apps/web/components/ui/Notifications/SecondaryNotification/types.ts
  apps/web/components/ui/Notifications/WarningNotification/WarningNotification.vue
  apps/web/components/ui/Notifications/WarningNotification/__tests__/WarningNotification.spec.ts
  apps/web/components/ui/Notifications/WarningNotification/types.ts
  apps/web/components/ui/Notifications/__tests__/Notifications.spec.ts
  apps/web/composables/useNotification/index.ts
  apps/web/composables/useNotification/types.ts
  apps/web/composables/useNotification/useNotification.ts
  apps/web/layouts/default.vue
Labels: feature

#104 feat: breadcrumbs refactor
  apps/web/components/CategoryTree/CategoryTree.vue
  apps/web/components/CategoryTree/__tests__/CategoryTree.spec.ts
  apps/web/components/CategoryTree/types.ts
  apps/web/composables/useCategoryFilter/types.ts
  apps/web/composables/useCategoryFilter/useCategoryFilter.ts
  apps/web/pages/category/[slug].vue
  apps/web/pages/product/[slug].vue
  package.json
  yarn.lock
Labels: feature

#110 feat: login session handling
  apps/web/components/CheckoutAddress/CheckoutAddress.vue
  apps/web/components/ContactInformation/ContactInformation.vue
  apps/web/components/login/login.vue
  apps/web/components/login/types.ts
  apps/web/composables/useCustomer/types.ts
  apps/web/composables/useCustomer/useCustomer.ts
  apps/web/layouts/account.vue
  apps/web/layouts/default.vue
  apps/web/pages/checkout.vue
Labels: feature

#112 feat: merge upstream 05 09
  apps/web/__tests__/fixtures/account.json
  apps/web/__tests__/support/commands.ts
  apps/web/__tests__/support/e2e.ts
  apps/web/__tests__/support/pageObjects/HomePageObject.ts
  apps/web/__tests__/support/pageObjects/LoginPageObject.ts
  apps/web/__tests__/support/pageObjects/PasswordPageObject.ts
  apps/web/__tests__/support/pageObjects/ProductDetailPageObject.ts
  apps/web/__tests__/support/pageObjects/SignupPageObject.ts
  apps/web/__tests__/test/smoke/cartPage.cy.ts
  apps/web/__tests__/test/smoke/checkoutPage.cy.ts
  apps/web/__tests__/test/smoke/homePage.cy.ts
  apps/web/__tests__/test/smoke/loginPage.cy.ts
  apps/web/__tests__/test/smoke/passwordPage.cy.ts
  apps/web/__tests__/test/smoke/productListPage.cy.ts
  apps/web/__tests__/test/smoke/signupPage.cy.ts
  apps/web/__tests__/tsconfig.json
  apps/web/app.vue
  apps/web/components/RenderContentProductSlider/RenderContentProductSlider.vue
  apps/web/cypress.config.ts
  apps/web/layouts/default.vue
  apps/web/package.json
  apps/web/pages/reset-password-success.vue
  apps/web/pages/signup.vue
  package.json
  turbo.json
  yarn.lock
Labels: feature

#116 fix: paypal attribution id
  apps/web/composables/usePayPal/usePayPal.ts
Labels: fix

#115 feat: show notifications for sdk errors
  apps/web/components/ui/Notifications/Notifications.vue
  apps/web/composables/useHandleError/useHandleError.ts
  apps/web/composables/useMakeOrder/useMakeOrder.ts
  apps/web/composables/useNotification/useNotification.ts
  apps/web/pages/checkout.vue
Labels: feature

#120 feat: change password
  apps/web/components/AccountForms/AccountFormsPassword.vue
  apps/web/composables/useCustomer/types.ts
  apps/web/composables/useCustomer/useCustomer.ts
  apps/web/lang/de.json
  apps/web/lang/en.json
Labels: feature

#122 fix: mega menu infinite loop
  .github/workflows/code-quality.yaml
  .github/workflows/conventional-pr-name.yml
  .github/workflows/e2e-tests.yaml
  .github/workflows/lint.yml
  .github/workflows/run-lhci-test.yml
  .github/workflows/upload.yml
  apps/web/components/MegaMenu/MegaMenu.vue
Labels: fix

#118 feat: signup functionality
  apps/web/components/login/login.vue
  apps/web/components/login/types.ts
  apps/web/components/register/register.vue
  apps/web/composables/useCustomer/types.ts
  apps/web/composables/useCustomer/useCustomer.ts
  apps/web/lang/de.json
  apps/web/lang/en.json
  apps/web/layouts/default.vue
  apps/web/pages/checkout.vue
Labels: feature

#108 feat: test sdk url change
  apps/server/middleware.config.ts
  apps/server/package.json
  apps/server/src/index.ts
  apps/web/sdk/index.ts
  yarn.lock
Labels: feature

#121 feat: add product list to checkout
  apps/web/pages/checkout.vue
Labels: feature

#126 fix: workflows change branch develop to main
  .github/workflows/build-and-deploy.yaml
  .github/workflows/code-quality.yaml
  .github/workflows/lint.yml
Labels: fix

#128 feat: change repo name in files
  .github/workflows/build-and-deploy.yaml
  .github/workflows/initial-setup.yaml
  README.md
  docs/config/cookies.md
  docs/config/i18n.md
  docs/config/integrations.md
  docs/config/middleware.md
  docs/config/pwa.md
  docs/config/theme.md
  package.json
  yarn.lock
Labels: feature

#132 feat: improvements
  apps/web/components/ui/ProductCard/ProductCard.vue
  apps/web/components/ui/PurchaseCard/PurchaseCard.vue
  apps/web/composables/useProducts/useProducts.ts
  apps/web/i18n.config.ts
  apps/web/lang/de.json
  apps/web/lang/en.json
  apps/web/package.json
  apps/web/pages/index.vue
  yarn.lock
Labels: feature

#107 fix: base price hotfix
  apps/web/components/BasePrice/BasePrice.vue
  apps/web/components/BasePriceInLine/BasePriceInLine.vue
Labels: fix

#124 feat: accounts orders
  apps/web/components/ui/Pagination/Pagination.vue
  apps/web/components/ui/Pagination/types.ts
  apps/web/composables/useCustomerOrders/__tests__/useCustomerOrders.spec.ts
  apps/web/composables/useCustomerOrders/types.ts
  apps/web/composables/useCustomerOrders/useCustomerOrders.ts
  apps/web/lang/de.json
  apps/web/lang/en.json
  apps/web/layouts/account.vue
  apps/web/pages/my-account/my-orders.vue
  package.json
  yarn.lock
Labels: feature

#133 feat: update meta data to plentyshopPWA
  apps/web/nuxt.config.ts
Labels: feature

#134 feat: bump sdk and api version
  package.json
  yarn.lock
Labels: feature

#130 feat: account addresses
  apps/web/components/Address/Address.vue
  apps/web/components/Address/types.ts
  apps/web/components/AddressForm/AddressForm.vue
  apps/web/components/AddressForm/types.ts
  apps/web/components/AddressesList/AddressesList.vue
  apps/web/components/AddressesList/types.ts
  apps/web/components/CheckoutAddress/CheckoutAddress.vue
  apps/web/composables/useAddress/index.ts
  apps/web/composables/useAddress/types.ts
  apps/web/composables/useAddress/useAddress.ts
  apps/web/composables/useBillingAddress/index.ts
  apps/web/composables/useBillingAddress/types.ts
  apps/web/composables/useBillingAddress/useBillingAddress.ts
  apps/web/composables/useShippingAddress/index.ts
  apps/web/composables/useShippingAddress/types.ts
  apps/web/composables/useShippingAddress/useShippingAddress.ts
  apps/web/lang/de.json
  apps/web/lang/en.json
  apps/web/pages/checkout.vue
  apps/web/pages/my-account/billing-details.vue
  apps/web/pages/my-account/shipping-details.vue
Labels: feature

#135 fix: yarn version in actions
  .github/workflows/code-quality.yaml
  .github/workflows/conventional-pr-name.yml
  .github/workflows/e2e-tests.yaml
  .github/workflows/lint.yml
  .github/workflows/run-lhci-test.yml
  .github/workflows/upload.yml
  .yarnrc.yml.example
Labels: fix

#113 feat: removed edit button from my account personal information
  apps/web/components/AccountData/AccountData.vue
Labels: feature

#136 feat: order summary, shipping/payment & sums
  apps/web/lang/de.json
  apps/web/lang/en.json
  apps/web/pages/order/success.vue
  package.json
  yarn.lock
Labels: feature

#140 feat: item list (without product images) and smaller components on ThankYou page
  apps/web/components/OrderAddressData/OrderAddressData.vue
  apps/web/components/OrderAddressData/types.ts
  apps/web/components/OrderDetails/OrderDetails.vue
  apps/web/components/OrderDetails/types.ts
  apps/web/components/OrderPaymentSummary/OrderPaymentSummary.vue
  apps/web/components/OrderPaymentSummary/types.ts
  apps/web/components/OrderShippingSummary/OrderShippingSummary.vue
  apps/web/components/OrderShippingSummary/types.ts
  apps/web/components/OrderSummaryProductCard/OrderSummaryProductCard.vue
  apps/web/components/OrderSummaryProductCard/types.ts
  apps/web/components/OrderTotals/OrderTotals.vue
  apps/web/components/OrderTotals/types.ts
  apps/web/pages/order/success.vue
  package.json
  yarn.lock
Labels: feature

#144 feat: show icon for no orders
  apps/web/pages/my-account/my-orders.vue
Labels: feature

#138 feat: added loading animations where necessarry
  apps/web/components/AddressesList/AddressesList.vue
  apps/web/components/CartPageContent/CartPageContent.vue
  apps/web/components/ui/CartProductCard/CartProductCard.vue
  apps/web/components/ui/Search.vue
  apps/web/layouts/checkout.vue
  apps/web/pages/category/[slug].vue
  apps/web/pages/checkout.vue
  apps/web/pages/my-account/my-orders.vue
  apps/web/pages/my-account/returns.vue
  apps/web/pages/search.vue
Labels: feature

#129 feat: added returns in my account
  apps/web/composables/useCustomerReturns/__tests__/useCustomerReturns.spec.ts
  apps/web/composables/useCustomerReturns/types.ts
  apps/web/composables/useCustomerReturns/useCustomerReturns.ts
  apps/web/lang/de.json
  apps/web/lang/en.json
  apps/web/pages/my-account/my-orders.vue
  apps/web/pages/my-account/returns.vue
Labels: feature

#106 fix: for price in category
  apps/web/components/CategoryPageContent/CategoryPageContent.vue
  apps/web/components/Price/Price.vue
  apps/web/components/ui/ProductCard/ProductCard.vue
Labels: fix

#145 feat: soft login
  apps/web/components/ConfirmationPageContent/ConfirmationPageContent.vue
  apps/web/components/ConfirmationPageContent/types.ts
  apps/web/components/PayPal/PayPalExpressButton.vue
  apps/web/components/SoftLogin/SoftLogin.vue
  apps/web/components/SoftLogin/types.ts
  apps/web/components/SoftLoginInput/SoftLoginInput.vue
  apps/web/components/SoftLoginInput/types.ts
  apps/web/components/login/login.vue
  apps/web/components/login/types.ts
  apps/web/composables/useActiveShippingCountries/useActiveShippingCountries.ts
  apps/web/composables/useCustomer/useCustomer.ts
  apps/web/composables/useCustomerOrder/__tests__/useCustomerOrder.spec.ts
  apps/web/composables/useCustomerOrder/address.ts
  apps/web/composables/useCustomerOrder/product.ts
  apps/web/composables/useCustomerOrder/types.ts
  apps/web/composables/useCustomerOrder/useCustomerOrder.ts
  apps/web/composables/useHandleError/useHandleError.ts
  apps/web/lang/de.json
  apps/web/lang/en.json
  apps/web/pages/checkout.vue
  apps/web/pages/my-account/my-orders/[id].vue
  apps/web/pages/thank-you.vue
  package.json
  yarn.lock
Labels: feature

#148 feat: item not salable
  apps/web/components/ui/PurchaseCard/PurchaseCard.vue
  apps/web/lang/de.json
  apps/web/lang/en.json
  package.json
  yarn.lock
Labels: feature

#147 fix: some fixes
  apps/web/components/AccountData/AccountData.vue
  apps/web/components/AccountData/types.ts
  apps/web/components/ContactInformation/ContactInformationForm.vue
  apps/web/components/OrderSummary/OrderSummary.vue
  apps/web/components/PayPal/PayPalExpressButton.vue
  apps/web/composables/useCart/types.ts
  apps/web/composables/useCart/useCart.ts
  apps/web/pages/checkout.vue
  apps/web/pages/my-account/personal-data.vue
Labels: fix

#143 feat: order documents
  apps/web/components/ConfirmationPageContent/ConfirmationPageContent.vue
  apps/web/components/OrderDocumentsList/OrderDocumentsList.vue
  apps/web/components/OrderDocumentsList/types.ts
  apps/web/composables/useOrderDocument/index.ts
  apps/web/composables/useOrderDocument/types.ts
  apps/web/composables/useOrderDocument/useOrderDocument.ts
  apps/web/lang/de.json
  apps/web/lang/en.json
  apps/web/pages/order/__tests__/failed.spec.ts
  apps/web/pages/order/__tests__/sucess.spec.ts
  apps/web/pages/order/failed.vue
  apps/web/pages/order/success.vue
  package.json
  yarn.lock
Labels: feature

#152 feat: add "Details" button to my-orders
  apps/web/pages/my-account/my-orders.vue
  apps/web/utils/paths.ts
Labels: feature

#154 fix: cart prices
  apps/web/components/ui/CartProductCard/CartProductCard.vue
  package.json
  yarn.lock
Labels: fix

#151 feat: added language toggle
  apps/web/components/LanguageSelector/LanguageSelector.vue
  apps/web/lang/de.json
  apps/web/lang/en.json
  apps/web/layouts/default.vue
Labels: feature

#155 feat: lts routes compatibility
  apps/web/components/AttributeSelect/AttributeSelect.vue
  apps/web/components/ui/ProductCard/ProductCard.vue
  apps/web/composables/useCategoryFilter/useCategoryFilter.ts
  apps/web/composables/useProducts/types.ts
  apps/web/composables/useProducts/useProducts.ts
  apps/web/lang/de.json
  apps/web/lang/en.json
  apps/web/nuxt.config.ts
  apps/web/pages/product/[slug].vue
  apps/web/utils/paths.ts
  lighthouserc.json
  package.json
  yarn.lock
Labels: feature

#161 fix: paypal credentials
  apps/web/integration.config.ts
Labels: fix

#159 fix: show graduated prices correctly + graduated prices list
  apps/web/components/BasePrice/BasePrice.vue
  apps/web/components/GraduatedPriceList/GraduatedPriceList.vue
  apps/web/components/GraduatedPriceList/types.ts
  apps/web/components/Price/Price.vue
  apps/web/components/Price/types.ts
  apps/web/components/ui/CartProductCard/CartProductCard.vue
  apps/web/components/ui/PurchaseCard/PurchaseCard.vue
  apps/web/lang/de.json
  apps/web/lang/en.json
Labels: fix

#162 fix: page not found fix
  apps/web/composables/useProducts/useProducts.ts
  package.json
  yarn.lock
Labels: fix

#164 feat: multilingualism
  apps/web/app.vue
  apps/web/components/CartPageContent/CartPageContent.vue
  apps/web/components/CategoryEmptyState/CategoryEmptyState.vue
  apps/web/components/CategoryTree/CategoryTree.vue
  apps/web/components/CategoryTree/CategoryTreeItem.vue
  apps/web/components/MegaMenu/MegaMenu.vue
  apps/web/components/OrderSummaryProductCard/OrderSummaryProductCard.vue
  apps/web/components/ui/Breadcrumbs/Breadcrumbs.vue
  apps/web/components/ui/CartProductCard/CartProductCard.vue
  apps/web/components/ui/CategoryCard/CategoryCard.vue
  apps/web/components/ui/Display/Display.vue
  apps/web/components/ui/Footer.vue
  apps/web/components/ui/Hero/Hero.vue
  apps/web/components/ui/NavbarBottom.vue
  apps/web/components/ui/NavbarTop.vue
  apps/web/components/ui/ProductCard/ProductCard.vue
  apps/web/composables/useCategoryFilter/useCategoryFilter.ts
  apps/web/composables/useProduct/types.ts
  apps/web/composables/useProduct/useProduct.ts
  apps/web/composables/useProducts/useProducts.ts
  apps/web/layouts/account.vue
  apps/web/layouts/checkout.vue
  apps/web/layouts/default.vue
  apps/web/nuxt.config.ts
  apps/web/pages/category/[slug].vue
  apps/web/pages/my-account/my-orders.vue
  apps/web/pages/my-account/my-orders/[id].vue
  apps/web/pages/product/[slug].vue
  apps/web/pages/reset-password-success.vue
  apps/web/pages/reset-password.vue
  apps/web/pages/signup.vue
  lighthouserc.json
  package.json
  yarn.lock
Labels: feature

#150 feat: display vat information
  apps/web/components/CategoryPageContent/CategoryPageContent.vue
  apps/web/components/Price/Price.vue
  apps/web/components/ProductSlider/ProductSlider.vue
  apps/web/components/ui/ProductCard/ProductCard.vue
  apps/web/components/ui/PurchaseCard/PurchaseCard.vue
  apps/web/lang/de.json
  apps/web/lang/en.json
  apps/web/nuxt.config.ts
Labels: feature

#160 fix: multiple attribute select
  apps/web/components/AttributeSelect/AttributeSelect.vue
  apps/web/components/AttributeSelect/types.ts
Labels: fix

#163 fix: sdk cookie header state
  apps/web/sdk/index.ts
Labels: fix

#142 fix: use env for api endpoint
  .github/workflows/upload.yml
  README.md
  apps/server/middleware.config.ts
  apps/web/nuxt.config.ts
  apps/web/sdk/index.ts
  docs/deployment/deployment.md
Labels: fix

#165 feat: item multilang url
  apps/web/pages/product/[slug].vue
  package.json
  yarn.lock
Labels: feature

#166 chore: comment to product slug change
  apps/web/pages/product/[slug].vue
Labels: ignore-for-release

#167 feat: paypal credit card
  apps/web/components/CheckoutPayment/CheckoutPayment.vue
  apps/web/components/PayPal/PayPalCreditCardForm.vue
  apps/web/components/PayPal/PayPalExpressButton.vue
  apps/web/components/Price/Price.vue
  apps/web/composables/useAddress/useAddress.ts
  apps/web/composables/useMakeOrder/useMakeOrder.ts
  apps/web/composables/usePayPal/types.ts
  apps/web/composables/usePayPal/usePayPal.ts
  apps/web/composables/usePaymentMethods/usePaymentMethods.ts
  apps/web/getters/paypalGetters.ts
  apps/web/integration.config.ts
  apps/web/lang/de.json
  apps/web/lang/en.json
  apps/web/pages/checkout.vue
  package.json
  yarn.lock
Labels: feature
