Repository plentymarkets/plentyshop-pwa, pull requests merged in 2023-12, with the labels that each got.

#259 fix: open "Browse products" on mobile navbar product
  apps/web/__tests__/test/smoke/cartPage.cy.ts
  apps/web/components/MegaMenu/MegaMenu.vue
  apps/web/components/ui/NavbarBottom.vue
  apps/web/composables/index.ts
  apps/web/composables/useMegaMenu/index.ts
  apps/web/composables/useMegaMenu/types.ts
  apps/web/composables/useMegaMenu/useMegaMenu.ts
Labels: fix

#258 feat: cookie consent usability
  apps/web/__tests__/support/pageObjects/CartPageObject.ts
  apps/web/__tests__/test/smoke/cartPage.cy.ts
  apps/web/components/Cookiebar/Cookiebar.vue
  apps/web/composables/usePayPal/usePayPal.ts
  apps/web/composables/useReadCookieBar/useReadCookieBar.ts
  apps/web/cookie-scripts.config.ts
  apps/web/cookie.config.ts
  apps/web/lang/de.json
  apps/web/lang/en.json
  docs/changelog/changelog_de.md
  docs/changelog/changelog_en.md
Labels: feature

#262 feat: order properties group
  apps/web/components/OrderProperties/OrderProperties.vue
  apps/web/components/OrderProperties/types.ts
  apps/web/components/ui/PurchaseCard/PurchaseCard.vue
  package.json
  yarn.lock
Labels: feature

#264 feat: declutter default layout
  apps/web/__tests__/test/smoke/cartPage.cy.ts
  apps/web/components/CategoryFilters/Filter.vue
  apps/web/components/CategoryItemsPerPage/CategoryItemsPerPage.vue
  apps/web/components/CategorySorting/CategorySorting.vue
  apps/web/components/LoginComponent/LoginComponent.vue
  apps/web/components/LoginComponent/types.ts
  apps/web/components/SoftLogin/SoftLogin.vue
  apps/web/components/register/register.vue
  apps/web/components/ui/Header.vue
  apps/web/components/ui/ProductCard/ProductCard.vue
  apps/web/components/ui/Search.vue
  apps/web/layouts/auth.vue
  apps/web/layouts/default.vue
  apps/web/pages/login.vue
Labels: feature

#267 feat: declutter default layout
  apps/web/components/ui/Header.vue
Labels: feature

#270 feat: use unnified domain for deployment upload
  .github/workflows/upload.yml
  apps/web/__tests__/test/smoke/cartPage.cy.ts
  docs/deployment/deployment.md
Labels: feature

#266 fix: coupon value assertion
  apps/web/__tests__/support/pageObjects/CartPageObject.ts
  apps/web/__tests__/support/pageObjects/CheckoutPageObject.ts
  apps/web/__tests__/support/types/types.ts
  apps/web/__tests__/test/smoke/cartPage.cy.ts
  apps/web/__tests__/test/smoke/paypalCreditCard.cy.ts
  apps/web/components/Coupon/Coupon.vue
  apps/web/components/OrderSummary/OrderSummary.vue
  apps/web/composables/useCoupon/useCoupon.ts
  apps/web/lang/de.json
  apps/web/lang/en.json
Labels: fix

#261 feat: change language picker
  apps/web/components/LanguageButton/LanguageButton.vue
  apps/web/components/LanguageSelector/LanguageSelector.vue
Labels: feature

#271 chore: revert unified domain deployment
  .github/workflows/upload.yml
Labels: ignore-for-release

#263 feat: newsletter with turnstile
  .github/workflows/run-lhci-test.yml
  .github/workflows/tests.yaml
  apps/server/.env.example
  apps/server/middleware.config.ts
  apps/web/.env.example
  apps/web/components/CheckoutGeneralTerms/CheckoutGeneralTerms.vue
  apps/web/components/NewsletterSubscribe/NewsletterSubscribe.vue
  apps/web/composables/useNewsletter/index.ts
  apps/web/composables/useNewsletter/types.ts
  apps/web/composables/useNewsletter/useNewsletter.ts
  apps/web/cookie.config.ts
  apps/web/lang/de.json
  apps/web/lang/en.json
  apps/web/nuxt.config.ts
  apps/web/package.json
  apps/web/pages/index.vue
  docs/changelog/changelog_de.md
  docs/changelog/changelog_en.md
  docs/config/middleware.md
  yarn.lock
Labels: feature

#273 fix: grammatical error regarding cancellation rights hint in checkout
  apps/web/lang/de.json
Labels: fix

#269 feat: order properties checkbox
  apps/web/components/OrderProperties/OrderProperties.vue
  apps/web/components/OrderPropertyCheckbox/OrderPropertyCheckbox.vue
  apps/web/components/OrderPropertyCheckbox/types.ts
  package.json
  yarn.lock
Labels: feature

#275 feat: update pagination accessibility
  apps/web/components/ui/Pagination/Pagination.vue
  apps/web/lang/de.json
  apps/web/lang/en.json
Labels: feature

#277 feat: add properties to cart
  apps/web/components/OrderProperties/OrderProperties.vue
  apps/web/components/OrderPropertyCheckbox/OrderPropertyCheckbox.vue
  apps/web/components/PayPal/PayPalExpressButton.vue
  apps/web/components/PayPal/types.ts
  apps/web/components/Price/Price.vue
  apps/web/components/Price/types.ts
  apps/web/components/ui/PurchaseCard/PurchaseCard.vue
  apps/web/composables/useCart/types.ts
  apps/web/composables/useCart/useCart.ts
  apps/web/composables/useProduct/types.ts
  apps/web/composables/useProduct/useProduct.ts
  apps/web/composables/useProductOrderProperties/index.ts
  apps/web/composables/useProductOrderProperties/types.ts
  apps/web/composables/useProductOrderProperties/useProductOrderProperties.ts
  apps/web/lang/de.json
  apps/web/lang/en.json
Labels: feature

#278 feat: value handling order prop input
  apps/web/components/OrderProperties/OrderProperties.vue
  apps/web/components/OrderPropertyCheckbox/OrderPropertyCheckbox.vue
  apps/web/components/OrderPropertyInput/OrderPropertyInput.vue
Labels: feature
