Repository plentymarkets/plentyshop-pwa, pull requests merged in 2023-11, with the labels that each got.

#206 fix: add translation keys
  apps/web/components/AttributeSelect/AttributeSelect.vue
Labels: fix

#213 feat: e2e fail on console error
  apps/web/__tests__/support/e2e.ts
  apps/web/__tests__/support/failOnError.ts
Labels: feature

#215 feat: upmerge from 2023-11-02
  apps/web/composables/useCart/types.ts
  yarn.lock
Labels: feature

#214 fix: add removeVariationIdFromUrl on attribute select
  apps/web/components/AttributeSelect/AttributeSelect.vue
Labels: fix

#212 feat: change paths / product links
  apps/web/components/Cookiebar/Cookiebar.vue
  apps/web/components/LanguageSelector/LanguageSelector.vue
  apps/web/components/OrderSummaryProductCard/OrderSummaryProductCard.vue
  apps/web/components/PayPal/PayPalCreditCardForm.vue
  apps/web/components/PayPal/PayPalExpressButton.vue
  apps/web/components/register/register.vue
  apps/web/components/ui/CartProductCard/CartProductCard.vue
  apps/web/components/ui/Search.vue
  apps/web/layouts/account.vue
  apps/web/layouts/default.vue
  apps/web/pages/cart.vue
  apps/web/pages/category/[slug].vue
  apps/web/pages/checkout.vue
  apps/web/pages/my-account/my-orders/[id].vue
  apps/web/pages/offline.vue
  apps/web/pages/product/[slug].vue
  apps/web/pages/readonly-checkout.vue
  apps/web/pages/reset-password.vue
  apps/web/utils/paths.ts
  package.json
  yarn.lock
Labels: feature

#198 fix: paypal e2e
  apps/web/__tests__/support/commands.ts
  apps/web/__tests__/support/pageObjects/CheckoutPageObject.ts
  apps/web/__tests__/test/smoke/paypalCreditCard.cy.ts
  apps/web/components/CheckoutPayment/CheckoutPayment.vue
  apps/web/components/OrderPaymentSummary/OrderPaymentSummary.vue
  apps/web/components/PayPal/PayPalCreditCardForm.vue
  apps/web/pages/checkout.vue
  package.json
  yarn.lock
Labels: fix

#219 fix: update deployment guide with activation info
  docs/deployment/deployment.md
Labels: fix

#217 feat: implement images and paths on thank you page
  apps/web/components/ConfirmationPageContent/ConfirmationPageContent.vue
  apps/web/components/OrderSummaryProductCard/OrderSummaryProductCard.vue
  apps/web/components/OrderSummaryProductCard/types.ts
  package.json
  yarn.lock
Labels: feature

#218 fix: ssr sdk language
  apps/web/__tests__/support/pageObjects/HomePageObject.ts
  apps/web/__tests__/test/smoke/homePage.cy.ts
  apps/web/app.vue
  apps/web/composables/useInitalSetup/types.ts
  apps/web/composables/useInitalSetup/useInitialSetup.ts
  apps/web/sdk/index.ts
Labels: fix

#211 feat: composables docs
  .gitignore
  apps/web/composables/index.ts
  apps/web/composables/useActiveShippingCountries/index.ts
  apps/web/composables/useAdditionalInformation/index.ts
  apps/web/composables/useAddress/index.ts
  apps/web/composables/useCanonical/index.ts
  apps/web/composables/useCart/index.ts
  apps/web/composables/useCartShippingMethods/index.ts
  apps/web/composables/useCategoryFilter/index.ts
  apps/web/composables/useCategoryTree/index.ts
  apps/web/composables/useCookieBar/index.ts
  apps/web/composables/useCustomer/index.ts
  apps/web/composables/useCustomerAddress/index.ts
  apps/web/composables/useCustomerContact/index.ts
  apps/web/composables/useCustomerOrder/index.ts
  apps/web/composables/useCustomerOrders/index.ts
  apps/web/composables/useCustomerReturns/index.ts
  apps/web/composables/useHandleError/index.ts
  apps/web/composables/useInitalSetup/index.ts
  apps/web/composables/useLegalInformation/index.ts
  apps/web/composables/useMakeOrder/index.ts
  apps/web/composables/useNotification/index.ts
  apps/web/composables/useOrderDocument/index.ts
  apps/web/composables/usePayPal/index.ts
  apps/web/composables/usePaymentMethods/index.ts
  apps/web/composables/useProduct/index.ts
  apps/web/composables/useProductRecommended/index.ts
  apps/web/composables/useProductReviewAverage/index.ts
  apps/web/composables/useProductReviews/index.ts
  apps/web/composables/useProducts/index.ts
  apps/web/composables/useSearch/index.ts
  apps/web/composables/useStructuredData/index.ts
  apps/web/docs/.vitepress/config.ts
  apps/web/docs/index.md
  apps/web/package.json
  apps/web/tsconfig.json
  yarn.lock
Labels: feature

#220 feat: upmerge from 2023-11-08
  apps/web/package.json
  yarn.lock
Labels: feature

#222 fix: load logo from cdn
  README.md
  plentysystems.jpg
Labels: fix

#223 fix: e2e workflow triggers
  .github/workflows/e2e-tests.yaml
Labels: fix

#224 fix: typedoc out path
  .gitignore
  apps/web/tsconfig.json
Labels: fix

#201 fix: added structured data rating
  apps/web/components/ReviewsAccordion/ReviewsAccordion.vue
  apps/web/components/ReviewsAccordion/types.ts
  apps/web/composables/useProductReviews/__tests__/useProductReviews.spec.ts
  apps/web/composables/useProductReviews/types.ts
  apps/web/composables/useProductReviews/useProductReviews.ts
  apps/web/composables/useStructuredData/types.ts
  apps/web/composables/useStructuredData/useStructuredData.ts
  apps/web/pages/product/[slug].vue
  docs/changelog/changelog_de.md
  docs/changelog/changelog_en.md
  package.json
  yarn.lock
Labels: fix

#225 feat: default layout small code refactor
  apps/web/composables/useStructuredData/types.ts
  apps/web/composables/useStructuredData/useStructuredData.ts
  apps/web/layouts/default.vue
Labels: feature

#226 chore: update pull request template with changelog
  .github/PULL_REQUEST_TEMPLATE.md
Labels: ignore-for-release

#221 feat: cookie refactor
  apps/web/components/Cookiebar/Cookiebar.vue
  apps/web/composables/defaults.ts
  apps/web/composables/useReadCookieBar/index.ts
  apps/web/composables/useReadCookieBar/types.ts
  apps/web/composables/useReadCookieBar/useReadCookieBar.ts
  apps/web/cookie.config.ts
  docs/changelog/changelog_de.md
  docs/changelog/changelog_en.md
Labels: feature

#227 feat: refactor checkout vue 1
  apps/web/components/CheckoutGeneralTerms/CheckoutGeneralTerms.vue
  apps/web/composables/useAgreementCheckbox/index.ts
  apps/web/composables/useAgreementCheckbox/types.ts
  apps/web/composables/useAgreementCheckbox/useAgreementCheckbox.ts
  apps/web/layouts/checkout.vue
  apps/web/pages/checkout.vue
Labels: feature

#231 feat: disable pwa preview
  apps/web/components/PreviewMode/PreviewMode.vue
  apps/web/components/PreviewMode/types.ts
  apps/web/composables/defaults.ts
  apps/web/lang/de.json
  apps/web/lang/en.json
  apps/web/layouts/default.vue
Labels: feature

#234 fix: refactor switch to mapper
  apps/web/components/ui/Notifications/Notifications.vue
  apps/web/components/ui/Notifications/types.ts
Labels: fix

#232 fix: refactor language select
  apps/web/__tests__/support/pageObjects/LanguageSelectObject.ts
  apps/web/__tests__/test/smoke/languageSelect.cy.ts
  apps/web/components/LanguageSelector/LanguageSelector.vue
  apps/web/components/LanguageSelector/flags.ts
  apps/web/lang/de.json
  apps/web/lang/en.json
  apps/web/layouts/default.vue
  package.json
  yarn.lock
Labels: fix

#239 chore: enable corepack
  .github/workflows/build-and-deploy.yaml
  .github/workflows/conventional-pr-name.yml
  .github/workflows/e2e-tests.yaml
  .github/workflows/lint.yml
  .github/workflows/run-lhci-test.yml
  .github/workflows/unit-tests.yaml
  .github/workflows/upload.yml
Labels: ignore-for-release

#236 fix: display minimum buy error
  apps/web/composables/useMakeOrder/useMakeOrder.ts
  apps/web/lang/de.json
  apps/web/lang/en.json
  apps/web/pages/checkout.vue
Labels: fix

#237 fix: change type from CancellationForm to WithdrawalForm
  apps/web/pages/CancellationForm.vue
Labels: fix

#243 chore: combine test workflows
  .github/workflows/tests.yaml
  .github/workflows/unit-tests.yaml
Labels: ignore-for-release

#242 fix: different pagination desktop mobile
  apps/web/app.vue
  apps/web/components/ui/Pagination/Pagination.vue
  apps/web/layouts/default.vue
  apps/web/pages/category/[slug].vue
Labels: fix

#247 fix: notifications layout shift
  apps/web/components/ui/Notifications/Notifications.vue
Labels: fix

#244 feat: remove google png use locally conv webp
  apps/web/pages/index.vue
  apps/web/public/images/display-1.png
  apps/web/public/images/display-2.png
  apps/web/public/images/display-3.png
  apps/web/public/images/homepage-display-1.webp
  apps/web/public/images/homepage-display-2.webp
  apps/web/public/images/homepage-display-3.webp
  apps/web/public/images/homepage-hero-bg-mobile.webp
  apps/web/public/images/homepage-hero-bg.webp
  apps/web/public/images/homepage-hero-headphones.webp
  apps/web/public/images/homepage-kid-category.webp
  apps/web/public/images/homepage-men-category.webp
  apps/web/public/images/homepage-women-category.webp
Labels: feature

#240 feat: implement csrf token
  apps/web/__tests__/support/commands.ts
  apps/web/__tests__/support/pageObjects/CategoryObject.ts
  apps/web/__tests__/support/pageObjects/ProductListPageObject.ts
  apps/web/__tests__/test/smoke/cartPage.cy.ts
  apps/web/__tests__/test/smoke/categoryPage.cy.ts
  apps/web/app.vue
  apps/web/components/ui/NavbarBottom.vue
  apps/web/components/ui/ProductCard/ProductCard.vue
  apps/web/composables/useCategoryTree/types.ts
  apps/web/composables/useCategoryTree/useCategoryTree.ts
  apps/web/composables/useCsrfToken/index.ts
  apps/web/composables/useCsrfToken/useCsrfToken.ts
  apps/web/composables/useInitalSetup/types.ts
  apps/web/composables/useInitalSetup/useInitialSetup.ts
  apps/web/sdk/index.ts
  package.json
  yarn.lock
Labels: feature

#250 feat: show all reviews href
  apps/web/components/ui/PurchaseCard/PurchaseCard.vue
Labels: feature

#246 chore: changelog update
  apps/server/package.json
  apps/web/package.json
  docs/changelog/changelog_de.md
  docs/changelog/changelog_en.md
  package.json
Labels: ignore-for-release

#251 feat: update homepage img demo sections
  apps/web/pages/index.vue
Labels: feature

#248 feat: add missing html attributes
  apps/web/components/Cookiebar/Cookiebar.vue
  apps/web/lang/de.json
  apps/web/lang/en.json
  apps/web/pages/index.vue
  docs/changelog/changelog_de.md
  docs/changelog/changelog_en.md
Labels: feature

#238 chore: remove prettier plugin from eslint config
  .github/PULL_REQUEST_TEMPLATE.md
  .github/workflows/lint.yml
  .prettierignore
  .prettierrc
  GUIDE.md
  LICENSE.md
  README.md
  apps/server/middleware.config.ts
  apps/server/tsup.config.ts
  apps/web/.eslintrc.cjs
  apps/web/docs/.vitepress/config.ts
  apps/web/docs/index.md
  apps/web/package.json
  docs/config/middleware.md
  docs/deployment/deployment.md
  package.json
  yarn.lock
Labels: ignore-for-release

#255 chore: remove redundant e2e test
  apps/web/__tests__/test/smoke/cartPage.cy.ts
  apps/web/__tests__/test/smoke/coupon.cy.ts
  apps/web/__tests__/test/smoke/paypalCreditCard.cy.ts
Labels: ignore-for-release

#253 fix: added padding to VsfLogo to have bigger click area in mobile view
  apps/web/components/ui/VsfLogo.vue
Labels: fix

#252 feat: added rating on category pages
  apps/web/components/CategoryPageContent/CategoryPageContent.vue
  apps/web/components/ProductSlider/ProductSlider.vue
  apps/web/components/ui/ProductCard/ProductCard.vue
  apps/web/components/ui/PurchaseCard/PurchaseCard.vue
  apps/web/composables/useStructuredData/useStructuredData.ts
  apps/web/pages/product/[slug].vue
  package.json
  yarn.lock
Labels: feature
