Repository plentymarkets/plentyshop-pwa, pull requests merged in 2024-09, with the labels that each got.

#626 feat: implement Applepay as a payment method
  apps/web/assets/style.scss
  apps/web/components/PayPal/ApplePayButton.vue
  apps/web/components/PayPal/types.ts
  apps/web/composables/usePayPal/usePayPal.ts
  apps/web/pages/checkout.vue
  apps/web/tsconfig.json
  docs/changelog/changelog_en.md
  package.json
  yarn.lock
Labels: feature

#638 feat: accessibility issues with newsletter form
  apps/web/components/NewsletterSubscribe/NewsletterSubscribe.vue
  docs/changelog/changelog_en.md
Labels: feature

#642 feat: adding category template SDK for homepage
  apps/web/composables/index.ts
  apps/web/composables/useCategoryTemplate/index.ts
  apps/web/composables/useCategoryTemplate/types.ts
  apps/web/composables/useCategoryTemplate/useCategoryTemplate.ts
  apps/web/nuxt.config.ts
  apps/web/pages/index.vue
Labels: feature

#637 feat: appropriate click sizes for interactive elements
  apps/web/__tests__/support/pageObjects/ReviewPageObject.ts
  apps/web/__tests__/test/feature/reviews.cy.ts
  apps/web/components/Cookiebar/Cookiebar.vue
  docs/changelog/changelog_en.md
Labels: feature

#636 fix: move system configuration from hook to separate script
  .gitignore
  apps/web/.eslintrc.cjs
  apps/web/build/configurator/AppConfigurator.ts
  apps/web/build/configurator/AssetDownloader.ts
  apps/web/build/configurator/SystemConfiguration.ts
  apps/web/build/configurator/__tests__/AppConfigurator.spec.ts
  apps/web/build/configurator/__tests__/AssetDownloader.spec.ts
  apps/web/build/configurator/types.ts
  apps/web/build/fetchConfiguration.ts
  apps/web/build/fetchFavicon.ts
  apps/web/build/fetchLogo.ts
  apps/web/build/generateScssVariables.ts
  apps/web/build/helpers/fetchFileHelper.ts
  apps/web/build/index.ts
  apps/web/build/logs/Logger.ts
  apps/web/build/logs/types.ts
  apps/web/build/types/ConfigItem.ts
  apps/web/build/validators/FileTypeValidator.ts
  apps/web/build/validators/__tests__/FileTypeValidator.spec.ts
  apps/web/build/writers/CdnToFileWriter.ts
  apps/web/build/writers/DataToFileWriter.ts
  apps/web/build/writers/types.ts
  apps/web/nuxt.config.ts
  apps/web/package.json
  docs/changelog/changelog_de.md
  docs/changelog/changelog_en.md
  package.json
  yarn.lock
Labels: fix

#639 feat: font size of wishlist
  apps/web/components/ui/Header.vue
  docs/changelog/changelog_en.md
Labels: feature

#644 feat: feedback text verified purchase contrast
  apps/web/components/ui/Review/Review.vue
  docs/changelog/changelog_en.md
Labels: feature

#648 fix: orphaned attribute form larabel
  apps/web/components/ProductAttributes/AttributeBox/AttributeBox.vue
  docs/changelog/changelog_en.md
Labels: fix

#650 fix: fix cookie privacy link
  apps/web/components/Cookiebar/Cookiebar.vue
  docs/changelog/changelog_en.md
Labels: fix

#651 feat: reduce open graph protocol app config to minimum required
  apps/web/configuration/app.config.ts
  docs/changelog/changelog_de.md
  docs/changelog/changelog_en.md
Labels: feature

#649 fix: review and card fields form design
  apps/web/components/PayPal/PayPalCreditCardForm.vue
  apps/web/components/ReviewForm/ReviewForm.vue
  docs/changelog/changelog_de.md
  docs/changelog/changelog_en.md
Labels: fix

#652 chore: review and card field form syntax fix
  apps/web/components/ReviewForm/ReviewForm.vue
Labels: ignore-for-release

#654 fix: added important to leading class
  apps/web/components/ui/Header.vue
Labels: fix

#647 feat: server static assets
  apps/web/nuxt.config.ts
  docs/changelog/changelog_en.md
Labels: feature

#660 chore: fix paypal creditcard test
  apps/web/__tests__/support/pageObjects/CheckoutPageObject.ts
  apps/web/components/PayPal/PayPalCreditCardForm.vue
Labels: ignore-for-release

#657 feat: optimize aria labels and alt texts on homepage
  apps/web/components/MegaMenu/MegaMenu.vue
  apps/web/components/ui/Header.vue
  apps/web/lang/de.json
  apps/web/lang/en.json
  apps/web/pages/index.vue
  docs/changelog/changelog_en.md
Labels: feature

#658 fix: make property link blue
  apps/web/components/VariationProperties/VariationProperties.vue
  docs/changelog/changelog_en.md
Labels: fix

#661 fix: login page accesibilty issues
  apps/web/components/GuestLogin/GuestLogin.vue
  apps/web/components/ui/Form/FormPasswordInput.vue
  apps/web/lang/de.json
  apps/web/lang/en.json
  docs/changelog/changelog_en.md
Labels: fix

#662 feat: my account table header
  apps/web/lang/de.json
  apps/web/lang/en.json
  apps/web/pages/my-account/my-orders.vue
  docs/changelog/changelog_en.md
Labels: feature

#656 feat: update turnstile sitekey name to match system configuration
  apps/web/.env.example
  apps/web/nuxt.config.ts
  docs/changelog/changelog_de.md
  docs/changelog/changelog_en.md
Labels: feature

#663 fix: add to basket overlay accesibility
  apps/web/components/OrDivider/OrDivider.vue
  apps/web/components/QuickCheckout/QuickCheckout.vue
  apps/web/lang/de.json
  apps/web/lang/en.json
  docs/changelog/changelog_en.md
Labels: fix

#665 chore: update nuxt version
  apps/web/components/Cookiebar/Cookiebar.vue
  apps/web/layouts/default.vue
  apps/web/nuxt.config.ts
  apps/web/package.json
  docs/changelog/changelog_en.md
  package.json
  yarn.lock
Labels: ignore-for-release

#667 fix: header logo working only as a svg
  apps/web/build/configurator/SystemConfiguration.ts
  apps/web/components/ui/VsfLogo.vue
  apps/web/nuxt.config.ts
  apps/web/package.json
Labels: fix

#668 feat: nocache query param
  apps/web/sdk.client.ts
  docs/changelog/changelog_en.md
  package.json
  yarn.lock
Labels: feature

#670 fix: re-add alt attribute
  apps/web/components/ui/VsfLogo.vue
Labels: fix

#598 fix: base price
  .github/workflows/lighthouse-mobile-audit.yml
  .github/workflows/quarantine-tests.yaml
  .github/workflows/tests.yaml
  apps/web/__tests__/__mocks__/product.mock.ts
  apps/web/__tests__/support/failOnError.ts
  apps/web/components/CategoryPageContent/CategoryPageContent.vue
  apps/web/components/LowestPrice/LowestPrice.vue
  apps/web/components/OrderAgain/OrderAgain.vue
  apps/web/components/Price/Price.vue
  apps/web/components/Price/types.ts
  apps/web/components/ProductPrice/ProductPrice.vue
  apps/web/components/ProductSlider/ProductSlider.vue
  apps/web/components/WishlistPageContent/WishlistPageContent.vue
  apps/web/components/ui/ProductCard/ProductCard.vue
  apps/web/components/ui/ProductCard/types.ts
  apps/web/components/ui/PurchaseCard/PurchaseCard.vue
  apps/web/composables/useProductPrice/index.ts
  apps/web/composables/useProductPrice/useProductPrice.ts
  apps/web/composables/useStructuredData/useStructuredData.ts
  docs/changelog/changelog_en.md
  package.json
  yarn.lock
Labels: fix

#676 chore: update Nuxt to version 3.13.2
  apps/web/components/ContactInformation/ContactInformationForm.vue
  apps/web/components/NewsletterSubscribe/NewsletterSubscribe.vue
  apps/web/components/OrderPropertyCheckbox/OrderPropertyCheckbox.vue
  apps/web/components/OrderPropertyFileUpload/OrderPropertyFileUpload.vue
  apps/web/components/OrderPropertyInput/OrderPropertyInput.vue
  apps/web/components/OrderPropertySelect/OrderPropertySelect.vue
  apps/web/components/ProductAttributes/AttributeBox/AttributeBox.vue
  apps/web/components/ProductAttributes/AttributeDropdown/AttributeDropdown.vue
  apps/web/components/ProductAttributes/AttributeImage/AttributeImage.vue
  apps/web/components/Register/Register.vue
  apps/web/components/ReplyForm/ReplyForm.vue
  apps/web/components/ReviewForm/ReviewForm.vue
  apps/web/nuxt.config.ts
  apps/web/package.json
  apps/web/pages/contact.vue
  apps/web/vitest.config.ts
  package.json
  yarn.lock
Labels: ignore-for-release

#675 fix: resize favicon
  apps/web/public/favicon.ico
  docs/changelog/changelog_en.md
Labels: fix

#674 fix: broken aria reference
  apps/web/components/LanguageSelector/LanguageSelector.vue
  apps/web/components/ui/Header.vue
  docs/changelog/changelog_en.md
Labels: fix

#646 feat: paypal paylater banners
  apps/web/app.vue
  apps/web/components/GuestLogin/GuestLogin.vue
  apps/web/components/PayPal/ApplePayButton.vue
  apps/web/components/PayPal/PayPalCreditCardForm.vue
  apps/web/components/PayPal/PayPalExpressButton.vue
  apps/web/components/PayPal/PayPalPayLaterBanner.vue
  apps/web/components/PayPal/types.ts
  apps/web/components/QuickCheckout/QuickCheckout.vue
  apps/web/components/ui/PurchaseCard/PurchaseCard.vue
  apps/web/composables/useInitialSetup/useInitialSetup.ts
  apps/web/composables/useLocalization/useLocalization.ts
  apps/web/composables/usePayPal/types.ts
  apps/web/composables/usePayPal/usePayPal.ts
  apps/web/composables/useProducts/useProducts.ts
  apps/web/pages/cart.vue
  apps/web/pages/checkout.vue
  docs/changelog/changelog_en.md
  package.json
Labels: feature

#672 fix: basket accesibility
  apps/web/__tests__/test/quarantine/cartPage.cy.ts
  apps/web/__tests__/test/quarantine/wishlist.cy.ts
  apps/web/components/Coupon/Coupon.vue
  apps/web/components/OrderSummary/OrderSummary.vue
  apps/web/components/ui/CartProductCard/CartProductCard.vue
  apps/web/lang/de.json
  apps/web/lang/en.json
  docs/changelog/changelog_en.md
Labels: fix

#687 chore: remove cardholder from credit card
  apps/web/__tests__/support/pageObjects/CheckoutPageObject.ts
  apps/web/components/PayPal/PayPalCreditCardForm.vue
Labels: ignore-for-release

#673 feat: review average fetching improvement
  apps/web/__tests__/support/pageObjects/ProductListPageObject.ts
  apps/web/components/ui/PurchaseCard/__tests__/PurchaseCard.spec.ts
  apps/web/components/ui/PurchaseCard/types.ts
  apps/web/components/ui/ReviewStatistics/ReviewStatistics.vue
  apps/web/composables/useProductReviews/__tests__/productReviews.mock.ts
  apps/web/composables/useProductReviews/useProductReviews.ts
  apps/web/pages/product/[slug].vue
  docs/changelog/changelog_en.md
  package.json
  yarn.lock
Labels: feature

#689 chore: adjust credit card e2e test
  apps/web/__tests__/support/pageObjects/CheckoutPageObject.ts
  apps/web/__tests__/test/quarantine/paypalCreditCard.spec.cy.ts
Labels: ignore-for-release

#692 fix: order properties responsivess bug
  apps/web/components/OrderPropertyCheckbox/OrderPropertyCheckbox.vue
  docs/changelog/changelog_en.md
Labels: fix

#693 fix: removed demo links from footer
  apps/web/lang/de.json
  apps/web/lang/en.json
  apps/web/mocks/footerData.ts
  docs/changelog/changelog_en.md
Labels: fix

#695 feat: manufacturer information
  apps/web/components/ManufacturerInformation/ManufacturerInformation.vue
  apps/web/components/ManufacturerInformation/types.ts
  apps/web/components/ManufacturerResponsibleInfo/ManufacturerResponsibleInfo.vue
  apps/web/components/ManufacturerResponsibleInfo/types.ts
  apps/web/components/ProductLegalDetailsDrawer/ProductLegalDetailsDrawer.vue
  apps/web/components/ProductLegalDetailsDrawer/types.ts
  apps/web/components/ReviewsAccordion/ReviewsAccordion.vue
  apps/web/composables/useProductLegalDetailsDrawer/index.ts
  apps/web/composables/useProductLegalDetailsDrawer/types.ts
  apps/web/composables/useProductLegalDetailsDrawer/useProductLegalDetailsDrawer.ts
  apps/web/lang/de.json
  apps/web/lang/en.json
  apps/web/pages/product/[slug].vue
  docs/changelog/changelog_en.md
  package.json
  yarn.lock
Labels: feature

#697 chore: updated translations for EU responsible person and manufacturer; fixe…
  apps/web/lang/de.json
  apps/web/lang/en.json
Labels: ignore-for-release

#698 fix: update paddings
  apps/web/components/Cookiebar/Cookiebar.vue
  apps/web/pages/my-account/my-orders.vue
  docs/changelog/changelog_en.md
Labels: fix
