Repository plentymarkets/plentyshop-pwa, pull requests merged in 2024-04, with the labels that each got.

#372 feat: pwa modern image AB#101096
  apps/web/.env.example
  apps/web/components/CategoryPageContent/CategoryPageContent.vue
  apps/web/components/ConfirmationPageContent/ConfirmationPageContent.vue
  apps/web/components/Gallery/Gallery.vue
  apps/web/components/OrderReturnProductCard/OrderReturnProductCard.vue
  apps/web/components/OrderSummaryProductCard/OrderSummaryProductCard.vue
  apps/web/components/ProductSlider/ProductSlider.vue
  apps/web/components/WishlistPageContent/WishlistPageContent.vue
  apps/web/components/ui/CartProductCard/CartProductCard.vue
  apps/web/components/ui/CategoryCard/CategoryCard.vue
  apps/web/components/ui/Display/Display.vue
  apps/web/components/ui/Hero/Hero.vue
  apps/web/components/ui/ProductCard/ProductCard.vue
  apps/web/composables/index.ts
  apps/web/composables/useImageUrl/index.ts
  apps/web/composables/useImageUrl/types.ts
  apps/web/composables/useImageUrl/useImageUrl.ts
  apps/web/composables/useModernImage/index.ts
  apps/web/composables/useModernImage/types.ts
  apps/web/composables/useModernImage/useModernImage.ts
  apps/web/nuxt.config.ts
  apps/web/pages/product/[slug].vue
Labels: feature

#386 fix: language switch AB#101714
  apps/web/__tests__/support/pageObjects/LanguageSelectObject.ts
  apps/web/__tests__/test/feature/languageSelect.cy.ts
  apps/web/components/LanguageSelector/LanguageSelector.vue
  apps/web/composables/useCategoryFilter/useCategoryFilter.ts
  apps/web/composables/useCategoryTree/useCategoryTree.ts
  apps/web/composables/useLocalization/useLocalization.ts
Labels: fix

#394 fix: different image urls for viewports
  apps/web/components/Gallery/Gallery.vue
  apps/web/components/Gallery/__tests__/Gallery.spec.ts
  apps/web/components/ProductSlider/ProductSlider.vue
  apps/web/components/WishlistPageContent/WishlistPageContent.vue
  apps/web/components/ui/CartProductCard/CartProductCard.vue
  apps/web/composables/useModernImage/types.ts
  apps/web/composables/useModernImage/useModernImage.ts
  apps/web/pages/product/[slug].vue
  package.json
  yarn.lock
Labels: fix

#396 fix: wishlist button
  apps/web/components/ui/NavbarBottom.vue
Labels: fix

#399 fix: nuxt component import paths for tests
  apps/web/components/AccountData/__tests__/AccountData.spec.ts
  apps/web/components/AccountForms/__tests__/AccountFormsName.spec.ts
  apps/web/components/AccountForms/__tests__/AccountFormsPassword.spec.ts
  apps/web/components/AddressForm/__tests__/AddressForm.spec.ts
  apps/web/components/CategoryEmptyState/__tests__/CategoryEmptyState.spec.ts
  apps/web/components/CategoryFilters/__tests__/CategoryFilters.spec.ts
  apps/web/components/CategoryFilters/__tests__/Filter.spec.ts
  apps/web/components/CategoryItemsPerPage/__tests__/CategoryItemsPerPage.spec.ts
  apps/web/components/CategoryPageContent/__tests__/CategoryPageContent.spec.ts
  apps/web/components/CategorySidebar/__tests__/CategorySidebar.spec.ts
  apps/web/components/CategorySorting/__tests__/CategorySorting.spec.ts
  apps/web/components/CategoryTree/__tests__/CategoryTree.spec.ts
  apps/web/components/CategoryTree/__tests__/CategoryTreeItem.spec.ts
  apps/web/components/CheckoutAddress/__tests__/CheckoutAddress.spec.ts
  apps/web/components/CheckoutPayment/__tests__/CheckoutPayment.spec.ts
  apps/web/components/ContactInformation/__tests__/ContactInformation.spec.ts
  apps/web/components/ContactInformation/__tests__/ContactInformationForm.spec.ts
  apps/web/components/Gallery/__tests__/Gallery.spec.ts
  apps/web/components/Heading/__tests__/Heading.spec.ts
  apps/web/components/NarrowContainer/__tests__/NarrowContainer.spec.ts
  apps/web/components/OrderSummary/__tests__/ContactInformation.spec.ts
  apps/web/components/ProductAccordion/__tests__/ProductAccordion.spec.ts
  apps/web/components/ProductSlider/__tests__/ProductSlider.spec.ts
  apps/web/components/ShippingMethod/__tests__/ShippingMethod.spec.ts
  apps/web/components/WishlistPageContent/__tests__/CategoryPageContent.spec.ts
  apps/web/components/ui/AccordionItem/__tests__/AccordionItem.spec.ts
  apps/web/components/ui/Badges/__tests__/Badges.spec.ts
  apps/web/components/ui/Breadcrumbs/__tests__/Breadcrumbs.spec.ts
  apps/web/components/ui/Divider/__tests__/Divider.spec.tsx
  apps/web/components/ui/Form/__tests__/FormHelperText.spec.ts
  apps/web/components/ui/Form/__tests__/FormLabel.spec.ts
  apps/web/components/ui/Notifications/__tests__/Notifications.spec.ts
  apps/web/components/ui/Overlay/__tests__/Overlay.spec.ts
  apps/web/components/ui/Pagination/__tests__/Pagination.spec.ts
  apps/web/components/ui/ProductCard/__tests__/ProductCard.spec.ts
  apps/web/components/ui/ProductCardHorizontal/__tests__/ProductCardHorizontal.spec.ts
  apps/web/components/ui/PurchaseCard/__tests__/PurchaseCard.spec.ts
  apps/web/components/ui/QuantitySelector/__tests__/QuantitySelector.spec.ts
  apps/web/components/ui/Review/__tests__/Review.spec.ts
  apps/web/components/ui/Tag/__tests__/Tag.spec.ts
Labels: fix

#400 fix: notification test component imports
  apps/web/components/ui/Notifications/NegativeNotification/__tests__/NegativeNotification.spec.ts
  apps/web/components/ui/Notifications/NeutralNotification/__tests__/NeutralNotification.spec.ts
  apps/web/components/ui/Notifications/PositiveNotification/__tests__/PositiveNotification.spec.ts
  apps/web/components/ui/Notifications/SecondaryNotification/__tests__/SecondaryNotification.spec.ts
  apps/web/components/ui/Notifications/WarningNotification/__tests__/WarningNotification.spec.ts
Labels: fix

#397 feat: frontend security token AB#100686
  .github/workflows/upload.yml
  apps/server/middleware.config.ts
  apps/web/.env.example
  package.json
  yarn.lock
Labels: feature

#381 feat: add contact form
  apps/web/lang/de.json
  apps/web/lang/en.json
  apps/web/pages/contact.vue
Labels: feature

#404 feat: optional required label
  apps/web/components/AddressDisplay/AddressDisplay.vue
  apps/web/components/AddressForm/AddressForm.vue
  apps/web/lang/de.json
  apps/web/lang/en.json
Labels: feature

#395 feat: migrate register route
  apps/web/components/NewsletterSubscribe/NewsletterSubscribe.vue
  apps/web/components/register/register.vue
  apps/web/composables/useCustomer/useCustomer.ts
  apps/web/lang/de.json
  apps/web/lang/en.json
  package.json
  yarn.lock
Labels: feature

#405 fix: mobile search
  apps/web/components/MegaMenu/MegaMenu.vue
  apps/web/components/register/register.vue
  apps/web/components/ui/Header.vue
  apps/web/layouts/auth.vue
  apps/web/layouts/default.vue
  apps/web/pages/contact.vue
Labels: fix

#406 fix: modern image formats not working
  apps/web/composables/useModernImage/useModernImage.ts
Labels: fix

#409 feat: sitemap
  apps/web/nuxt.config.ts
Labels: feature

#355 feat: activate image attribute
  apps/web/components/ProductAttributes/ProductAttributes.vue
Labels: feature

#407 fix: recommended products
  apps/web/components/ProductSlider/ProductSlider.vue
  apps/web/components/ui/ProductCard/ProductCard.vue
  apps/web/components/ui/ProductCard/types.ts
Labels: fix

#412 fix: refactor checkout layout
  apps/web/components/AddressFormNew/AddressFormNew.vue
  apps/web/components/AddressFormNew/__tests__/AddressForm.spec.ts
  apps/web/components/AddressFormNew/types.ts
  apps/web/components/CheckoutAddressNew/CheckoutAddressNew.vue
  apps/web/components/CheckoutAddressNew/__tests__/CheckoutAddress.spec.ts
  apps/web/components/CheckoutAddressNew/types.ts
  apps/web/composables/useAddress/types.ts
  apps/web/composables/useAddress/useAddress.ts
  apps/web/pages/checkoutnew.vue
Labels: fix

#413 chore: upgrade sdk and api package
  package.json
  yarn.lock
Labels: ignore-for-release

#415 feat: nuxt upgrade
  apps/server/package.json
  apps/web/package.json
  package.json
  yarn.lock
Labels: feature

#408 feat: changelogs changes
  docs/changelog/changelog_de.md
  docs/changelog/changelog_en.md
Labels: feature

#416 chore: missing changelog entries
  docs/changelog/changelog_de.md
Labels: ignore-for-release

#371 feat: unit tests for useModernImage, useLocalization
  apps/web/composables/useLocalization/__tests__/useLocalization.spec.ts
  apps/web/composables/useModernImage/__tests__/useModernImage.spec.ts
Labels: feature

#428 chore: update sdk version
  package.json
  yarn.lock
Labels: ignore-for-release

#414 fix: hydration and intlify warnings
  apps/web/components/CartPageContent/CartPageContent.vue
  apps/web/components/CategoryPageContent/CategoryPageContent.vue
  apps/web/components/CheckoutGeneralTerms/CheckoutGeneralTerms.vue
  apps/web/components/LanguageSelector/LanguageSelector.vue
  apps/web/components/MegaMenu/MegaMenu.vue
  apps/web/components/NewsletterSubscribe/NewsletterSubscribe.vue
  apps/web/components/OrderPropertyFileUpload/OrderPropertyFileUpload.vue
  apps/web/components/PayPal/PayPalExpressButton.vue
  apps/web/components/register/register.vue
  apps/web/components/ui/Footer.vue
  apps/web/components/ui/Header.vue
  apps/web/components/ui/PurchaseCard/PurchaseCard.vue
  apps/web/components/ui/QuantitySelector/QuantitySelector.vue
  apps/web/composables/index.ts
  apps/web/composables/useBreakpoints/index.ts
  apps/web/composables/useBreakpoints/useBreakpoints.ts
  apps/web/composables/useModernImage/useModernImage.ts
  apps/web/layouts/account.vue
  apps/web/layouts/auth.vue
  apps/web/layouts/checkout.vue
  apps/web/layouts/default.vue
  apps/web/nuxt.config.ts
  apps/web/pages/checkout.vue
  apps/web/pages/checkoutnew.vue
  apps/web/pages/contact.vue
  apps/web/pages/index.vue
  apps/web/pages/my-account/my-orders.vue
  apps/web/pages/my-account/returns.vue
  apps/web/pages/readonly-checkout.vue
  apps/web/pages/reset-password-success.vue
  apps/web/pages/signup.vue
  docs/changelog/changelog_de.md
  docs/changelog/changelog_en.md
  package.json
  yarn.lock
Labels: fix

#422 fix: creating new item in basket instead of updating quantity
  apps/web/composables/useProductOrderProperties/types.ts
  apps/web/composables/useProductOrderProperties/useProductOrderProperties.ts
  docs/changelog/changelog_de.md
  docs/changelog/changelog_en.md
Labels: fix

#425 fix: add required and optional to all forms
  apps/web/components/AccountForms/AccountFormsName.vue
  apps/web/components/AccountForms/AccountFormsPassword.vue
  apps/web/components/LoginComponent/LoginComponent.vue
  apps/web/components/SoftLoginInput/SoftLoginInput.vue
  apps/web/components/register/register.vue
  apps/web/pages/contact.vue
  apps/web/pages/reset-password.vue
  apps/web/pages/set-new-password.vue
  apps/web/pages/signup.vue
Labels: fix

#430 chore: add changelog
  docs/changelog/changelog_en.md
Labels: ignore-for-release

#401 fix: size attributes on item images
  apps/web/components/CategoryPageContent/CategoryPageContent.vue
  apps/web/components/Gallery/Gallery.vue
  apps/web/components/Gallery/__tests__/Gallery.spec.ts
  apps/web/components/ProductSlider/ProductSlider.vue
  apps/web/components/WishlistPageContent/WishlistPageContent.vue
  apps/web/components/ui/ProductCard/ProductCard.vue
  apps/web/components/ui/ProductCard/__tests__/ProductCard.spec.ts
  apps/web/components/ui/ProductCard/types.ts
  apps/web/components/ui/VsfLogo.vue
  apps/web/composables/useModernImage/types.ts
  docs/changelog/changelog_de.md
  docs/changelog/changelog_en.md
  package.json
  yarn.lock
Labels: fix

#420 feat: checkout guest login
  apps/web/__tests__/support/failOnError.ts
  apps/web/__tests__/support/pageObjects/CheckoutPageObject.ts
  apps/web/__tests__/test/smoke/checkoutPage.cy.ts
  apps/web/__tests__/test/smoke/paypalCreditCard.cy.ts
  apps/web/components/CartPageContent/CartPageContent.vue
  apps/web/components/GuestLogin/GuestLogin.vue
  apps/web/components/OrDivider/OrDivider.vue
  apps/web/lang/de.json
  apps/web/lang/en.json
  apps/web/pages/guest/login.vue
  apps/web/utils/paths.ts
  docs/changelog/changelog_de.md
  docs/changelog/changelog_en.md
Labels: feature

#427 feat: saved adresses select
  apps/web/__tests__/fixtures/addressForm.json
  apps/web/__tests__/support/pageObjects/CheckoutPageObject.ts
  apps/web/components/Address/Address.vue
  apps/web/components/Address/types.ts
  apps/web/components/AddressesList/AddressesList.vue
  apps/web/components/CheckoutAddress/CheckoutAddress.vue
  apps/web/lang/de.json
  apps/web/lang/en.json
  docs/changelog/changelog_de.md
  docs/changelog/changelog_en.md
Labels: feature

#432 fix: setting facet filter
  apps/web/components/CategoryFilters/CategoryFilters.vue
  apps/web/components/CategoryFilters/Filter.vue
  apps/web/components/CategoryItemsPerPage/CategoryItemsPerPage.vue
  apps/web/components/CategorySidebar/CategorySidebar.vue
  apps/web/components/CategorySorting/CategorySorting.vue
  apps/web/components/CategoryTree/CategoryTree.vue
  apps/web/pages/[...slug].vue
  apps/web/pages/search.vue
  apps/web/pages/tag/[slug].vue
  docs/changelog/changelog_de.md
  docs/changelog/changelog_en.md
  package.json
  yarn.lock
Labels: fix

#434 fix: login error
  apps/web/components/LoginComponent/LoginComponent.vue
  apps/web/components/register/register.vue
  apps/web/components/ui/Header.vue
  apps/web/composables/useCustomer/useCustomer.ts
  apps/web/pages/login.vue
  docs/changelog/changelog_de.md
  docs/changelog/changelog_en.md
Labels: fix
