Repository plentymarkets/plentyshop-pwa, pull requests merged in 2024-08, with the labels that each got.

#586 fix: category url trailing-slash results in 404
  package.json
  yarn.lock
Labels: fix

#575 fix: align design of properties
  apps/web/components/CartOrderProperty/CartOrderProperty.vue
  apps/web/components/VariationProperties/VariationProperties.vue
  apps/web/components/VariationPropertyDate/VariationPropertyDate.vue
  apps/web/components/VariationPropertyHtml/VariationPropertyHtml.vue
  apps/web/components/VariationPropertyText/VariationPropertyText.vue
  apps/web/components/ui/CartProductCard/CartProductCard.vue
  apps/web/components/ui/PurchaseCard/PurchaseCard.vue
  docs/changelog/changelog_en.md
Labels: fix

#585 feat: create account after guest order
  apps/web/components/ConfirmationPageContent/ConfirmationPageContent.vue
  apps/web/components/Register/Register.vue
  apps/web/components/Register/types.ts
  apps/web/composables/useMigrateGuestOrder/index.ts
  apps/web/lang/de.json
  apps/web/lang/en.json
  docs/changelog/changelog_en.md
Labels: feature

#590 feat: refactor confirmation url
  apps/web/components/PayPal/PayPalCreditCardForm.vue
  apps/web/components/PayPal/PayPalExpressButton.vue
  apps/web/nuxt.config.ts
  apps/web/pages/checkout.vue
  apps/web/pages/checkoutnew.vue
  apps/web/pages/confirmation/[orderId]/[accessKey].vue
  apps/web/pages/my-account/my-orders.vue
  apps/web/pages/my-account/returns.vue
  apps/web/pages/readonly-checkout.vue
  apps/web/utils/paths.ts
  docs/changelog/changelog_de.md
  docs/changelog/changelog_en.md
Labels: feature

#592 feat: buy again with stock availability
  apps/web/components/OrderAgain/OrderAgain.vue
  apps/web/composables/useOrderAgain/useOrderAgain.ts
  apps/web/lang/de.json
  apps/web/lang/en.json
  docs/changelog/changelog_en.md
  package.json
  yarn.lock
Labels: feature

#589 feat: item link color
  apps/web/assets/style.scss
  apps/web/components/ui/PurchaseCard/PurchaseCard.vue
  docs/changelog/changelog_en.md
Labels: feature

#594 fix: remove cookie browser language detect
  apps/web/configuration/i18n.config.ts
  docs/changelog/changelog_en.md
Labels: fix

#591 fix: pagination reactivity + hydration warnings fix
  apps/web/components/CategoryPageContent/CategoryPageContent.vue
  apps/web/components/ReviewsAccordion/ReviewsAccordion.vue
  apps/web/components/ui/Header.vue
  apps/web/components/ui/Pagination/Pagination.vue
  apps/web/pages/product/[slug].vue
  docs/changelog/changelog_en.md
Labels: fix

#597 fix: fix base prices
  apps/web/components/BasePrice/BasePrice.vue
  apps/web/components/BasePrice/types.ts
  apps/web/components/BasePriceInLine/BasePriceInLine.vue
  apps/web/components/BasePriceInLine/types.ts
  apps/web/components/CategoryPageContent/CategoryPageContent.vue
  apps/web/components/ProductPrice/ProductPrice.vue
  apps/web/components/WishlistPageContent/WishlistPageContent.vue
  apps/web/components/ui/CartProductCard/CartProductCard.vue
  apps/web/components/ui/ProductCard/types.ts
  apps/web/components/ui/PurchaseCard/PurchaseCard.vue
  docs/changelog/changelog_en.md
Labels: fix

#603 chore: viewport fix
  apps/web/components/MegaMenu/MegaMenu.vue
Labels: ignore-for-release

#601 fix: remove category image loading spinner
  apps/web/components/ui/ProductCard/ProductCard.vue
Labels: fix

#478 feat: use product unit test
  apps/web/__tests__/__mocks__/product.mock.ts
  apps/web/composables/useProduct/__tests__/useProduct.spec.ts
  apps/web/composables/useProduct/types.ts
  apps/web/composables/useProduct/useProduct.ts
  apps/web/pages/product/[slug].vue
  apps/web/utils/__tests__/__fixtures__/CategoryTree.ts
  apps/web/utils/__tests__/productHelper.spec.ts
  apps/web/utils/productHelper.ts
  docs/changelog/changelog_de.md
  docs/changelog/changelog_en.md
Labels: feature

#602 fix: setting the vsf-locale cookie on ssr
  apps/web/__tests__/test/smoke/categoryPage.cy.ts
  apps/web/app.vue
  apps/web/composables/useInitialSetup/types.ts
  apps/web/composables/useInitialSetup/useInitialSetup.ts
  apps/web/sdk.client.ts
  docs/changelog/changelog_en.md
Labels: fix

#605 fix(docs-composables): side navigation links
  apps/web/package.json
  apps/web/tsconfig.json
  docs/changelog/changelog_de.md
  docs/changelog/changelog_en.md
Labels: fix

#604 chore: create unit test for sdk client cookie helper
  apps/web/sdk.client.ts
  apps/web/utils/__tests__/sdkClientHelper.spec.ts
  apps/web/utils/sdkClientHelper.ts
Labels: ignore-for-release

#596 fix: preload logo
  apps/web/components/ui/VsfLogo.vue
  docs/changelog/changelog_en.md
Labels: fix

#600 feat: dynamic metadata title for items
  apps/web/composables/useProduct/types.ts
  apps/web/composables/useProduct/useProduct.ts
  apps/web/configuration/app.config.ts
  apps/web/pages/[...slug].vue
  apps/web/pages/product/[slug].vue
  docs/changelog/changelog_en.md
Labels: feature

#611 fix: missing fetch flag when rebuilding
  apps/web/build/fetchConfiguration.ts
Labels: fix

#610 feat: add favicon configuration at build time
  apps/web/build/fetchConfiguration.ts
  apps/web/build/fetchFavicon.ts
  apps/web/build/types/ConfigItem.ts
  apps/web/nuxt.config.ts
  docs/changelog/changelog_de.md
  docs/changelog/changelog_en.md
Labels: feature

#616 chore: update CODEOWNERS
  .github/CODEOWNERS
Labels: ignore-for-release

#617 chore: update sdk version
  package.json
  yarn.lock
Labels: ignore-for-release

#615 feat: add fetch logo script
  apps/web/build/fetchFavicon.ts
  apps/web/build/fetchLogo.ts
  apps/web/build/helpers/fetchFileHelper.ts
  apps/web/components/ui/VsfLogo.vue
  apps/web/nuxt.config.ts
  apps/web/public/images/logo.svg
  docs/changelog/changelog_de.md
  docs/changelog/changelog_en.md
Labels: feature

#613 feat: dynamic image title
  apps/web/__tests__/__mocks__/product.mock.ts
  apps/web/components/CategoryPageContent/CategoryPageContent.vue
  apps/web/components/Gallery/Gallery.vue
  apps/web/components/Gallery/__tests__/Gallery.spec.ts
  apps/web/components/ProductSlider/ProductSlider.vue
  apps/web/components/WishlistPageContent/WishlistPageContent.vue
  apps/web/components/ui/ProductCard/ProductCard.vue
  apps/web/components/ui/ProductCard/types.ts
  docs/changelog/changelog_en.md
Labels: feature

#614 feat: configure google fonts via env
  apps/web/configuration/fontFamily.config.ts
  apps/web/configuration/tailwind.config.ts
  apps/web/nuxt.config.ts
  docs/changelog/changelog_de.md
  docs/changelog/changelog_en.md
Labels: feature

#619 feat: added pagination test for reviews
  apps/web/__tests__/support/pageObjects/ReviewPageObject.ts
  apps/web/__tests__/test/feature/reviews.cy.ts
  apps/web/components/ui/Pagination/Pagination.vue
  docs/changelog/changelog_en.md
Labels: feature

#618 feat: add heading to categories
  apps/web/components/CategoryFilters/CategoryFilters.vue
  apps/web/components/CategoryTree/CategoryTree.vue
  docs/changelog/changelog_en.md
Labels: feature

#595 chore: ssr init
  apps/web/__tests__/support/pageObjects/ProductListPageObject.ts
  apps/web/__tests__/test/smoke/productDetailPage.cy.ts
  apps/web/app.vue
  apps/web/components/CategoryPageContent/CategoryPageContent.vue
  apps/web/components/OrderDetails/OrderDetails.vue
  apps/web/components/OrderReturnForm/OrderReturnForm.vue
  apps/web/pages/my-account/my-orders.vue
  apps/web/pages/my-account/my-orders/[id].vue
  apps/web/pages/my-account/new-return/[id].vue
  apps/web/pages/my-account/returns.vue
  apps/web/pages/my-account/wishlist.vue
  package.json
  yarn.lock
Labels: ignore-for-release

#624 fix: accessability of return page
  apps/web/pages/my-account/new-return/[id]/[accessKey].vue
Labels: fix

#621 fix: review author name not editable e2e
  .github/workflows/tests.yaml
  apps/web/.env.example
  apps/web/__tests__/support/pageObjects/ReviewPageObject.ts
  apps/web/__tests__/test/feature/reviews.cy.ts
  apps/web/components/ReviewForm/ReviewForm.vue
  apps/web/components/ReviewsAccordion/ReviewsAccordion.vue
  apps/web/components/ui/Review/Review.vue
  apps/web/composables/useCategoryFilter/useCategoryFilter.ts
  apps/web/composables/useProductReviews/useProductReviews.ts
  apps/web/cypress.config.ts
  apps/web/nuxt.config.ts
  docs/changelog/changelog_en.md
  package.json
  yarn.lock
Labels: fix

#628 feat: media card component
  apps/web/components/ui/MediaCard/MediaCard.vue
  apps/web/pages/index.vue
Labels: feature

#629 fix: issue with the plentyID-cookie in the PWA live preview
  docs/changelog/changelog_en.md
  package.json
  yarn.lock
Labels: fix

#630 feat: homepage/reorg
  apps/web/components/ui/MediaCard/MediaCard.vue
  apps/web/pages/index.vue
Labels: feature

#631 fix: only show express button if the item is salable
  apps/web/components/ui/PurchaseCard/PurchaseCard.vue
  docs/changelog/changelog_en.md
Labels: fix

#627 fix: display file property
  apps/web/components/VariationProperties/VariationProperties.vue
  apps/web/components/VariationPropertyFile/VariationPropertyFile.vue
  docs/changelog/changelog_en.md
Labels: fix

#633 feat: add quick checkout data from cart request
  apps/web/components/QuickCheckout/QuickCheckout.vue
  apps/web/composables/useCart/types.ts
  apps/web/composables/useCart/useCart.ts
  docs/changelog/changelog_en.md
  package.json
  yarn.lock
Labels: feature

#632 feat: canonical on item
  apps/web/pages/product/[slug].vue
  docs/changelog/changelog_en.md
  package.json
  yarn.lock
Labels: feature

#622 feat: adding newsletter configuration
  apps/web/.env.example
  apps/web/composables/useNewsletter/types.ts
  apps/web/composables/useNewsletter/useNewsletter.ts
  apps/web/nuxt.config.ts
  apps/web/pages/index.vue
  docs/changelog/changelog_de.md
  docs/changelog/changelog_en.md
Labels: feature
