Repository plentymarkets/plentyshop-pwa, pull requests merged in 2024-12, with the labels that each got.

#844 fix: translation for filter not working when switching language
  apps/web/components/CategoryTree/CategoryTree.vue
  docs/changelog/changelog_en.md
Labels: fix

#854 fix: paypal cookie notice text
  apps/web/components/PayPal/PayPalCookieDisabledBanner.vue
  apps/web/lang/de.json
  apps/web/lang/en.json
  docs/changelog/changelog_en.md
Labels: feature, fix

#852 fix: shownetPrices from session
  apps/web/components/CategoryPageContent/CategoryPageContent.vue
  apps/web/components/OrderAgain/OrderAgain.vue
  apps/web/components/Price/Price.vue
  apps/web/components/ProductSlider/ProductSlider.vue
  apps/web/components/QuickCheckout/QuickCheckout.vue
  apps/web/components/WishlistPageContent/WishlistPageContent.vue
  apps/web/components/ui/ProductCard/ProductCard.vue
  apps/web/components/ui/PurchaseCard/PurchaseCard.vue
  apps/web/composables/useCustomer/types.ts
  apps/web/composables/useCustomer/useCustomer.ts
  apps/web/nuxt.config.ts
  docs/changelog/changelog_en.md
Labels: fix

#845 feat: add extra manufacturer info
  apps/web/components/ManufacturerInformation/ManufacturerInformation.vue
  apps/web/components/ManufacturerResponsibleInfo/ManufacturerResponsibleInfo.vue
  apps/web/lang/de.json
  apps/web/lang/en.json
  docs/changelog/changelog_en.md
Labels: feature

#861 feat: add login redirect on category rights
  apps/web/composables/useProducts/useProducts.ts
  docs/changelog/changelog_en.md
  package.json
  yarn.lock
Labels: feature

#840 fix: image quality in quick checkout and quantity position
  apps/web/components/QuickCheckout/QuickCheckout.vue
  apps/web/lang/de.json
  apps/web/lang/en.json
  docs/changelog/changelog_en.md
Labels: fix

#864 fix: block action condition
  apps/web/pages/index.vue
  docs/changelog/changelog_en.md
Labels: fix

#866 fix: only outline blocks in preview
  apps/web/pages/index.vue
Labels: fix

#868 fix: review e2e test
  apps/web/__tests__/support/pageObjects/ProductListPageObject.ts
  apps/web/__tests__/test/quarantine/reviews.cy.ts
Labels: fix

#869 fix: quantity label on desktop fix
  apps/web/components/QuickCheckout/QuickCheckout.vue
  docs/changelog/changelog_en.md
Labels: fix

#870 fix: paypal modes
  apps/web/components/PayPal/PayPalCreditCardForm.vue
  apps/web/components/PayPal/PayPalExpressButton.vue
  apps/web/composables/useApplePay/useApplePay.ts
  apps/web/composables/useGooglePay/useGooglePay.ts
  apps/web/composables/usePayPal/usePayPal.ts
  apps/web/pages/readonly-checkout.vue
  docs/changelog/changelog_en.md
Labels: fix

#850 chore: update yarn to version 4.5.3
  .github/actions/setup/action.yml
  .yarn/plugins/@yarnpkg/plugin-interactive-tools.cjs
  .yarn/plugins/@yarnpkg/plugin-workspace-tools.cjs
  .yarn/releases/yarn-3.6.4.cjs
  .yarn/releases/yarn-4.5.3.cjs
  README.md
  apps/web/.env.example
  docs/changelog/changelog_en.md
  package.json
  yarn.lock
  yarn.ps1
  yarn.sh
Labels: fix

#831 feat: zoom image improvements
  apps/web/components/Drift/Drift.scss
  apps/web/components/Drift/Drift.vue
  apps/web/components/Gallery/Gallery.vue
  apps/web/components/OrderProperties/OrderProperties.vue
  apps/web/components/ZoomableImage/ZoomableImage.vue
  apps/web/components/ZoomableImage/types.ts
  apps/web/composables/useImageZoom/useImageZoom.ts
  apps/web/lang/de.json
  apps/web/lang/en.json
  docs/changelog/changelog_en.md
Labels: feature, fix

#859 fix: paypal readonly checkout
  apps/web/components/AddressSelect/AddressSelect.vue
  apps/web/components/CheckoutPayment/CheckoutPayment.vue
  apps/web/components/CheckoutPayment/types.ts
  apps/web/components/ShippingMethod/ShippingMethod.vue
  apps/web/components/ShippingMethod/types.ts
  apps/web/composables/useAggregatedCountries/useAggregatedCountries.ts
  apps/web/composables/useCartTotalChange/useCartTotalChange.ts
  apps/web/lang/de.json
  apps/web/lang/en.json
  apps/web/pages/checkout.vue
  apps/web/pages/readonly-checkout.vue
  docs/changelog/changelog_en.md
Labels: fix

#877 fix: css for basic html tags
  apps/web/assets/style.scss
  apps/web/components/BundleOrderItems/BundleOrderItems.vue
  apps/web/components/ProductAccordion/ProductAccordion.vue
  apps/web/components/VariationPropertyHtml/VariationPropertyHtml.vue
  apps/web/components/ui/MediaCard/MediaCard.vue
  apps/web/pages/cancellation-form.vue
  apps/web/pages/cancellation-rights.vue
  apps/web/pages/legal-disclosure.vue
  apps/web/pages/privacy-policy.vue
  apps/web/pages/terms-and-conditions.vue
  docs/changelog/changelog_en.md
Labels: fix

#799 feat: add the valid until date to the offer page
  apps/web/components/OfferPageContent/OfferPageContent.vue
  apps/web/composables/useOffer/types.ts
  apps/web/composables/useOffer/useOffer.ts
  apps/web/lang/de.json
  apps/web/lang/en.json
  apps/web/pages/offer/[offerId]/[accessKey].vue
  docs/changelog/changelog_en.md
  package.json
  yarn.lock
Labels: feature, fix

#892 fix: h1 css was ignored in context of section
  apps/web/assets/style.scss
  docs/changelog/changelog_en.md
Labels: fix

#896 feat: block edit hover behavior
  apps/web/__tests__/support/pageObjects/EditorObject.ts
  apps/web/__tests__/test/editor/editMode.cy.ts
  apps/web/pages/index.vue
Labels: feature

#899 fix: optional configurations
  apps/web/composables/useHomepage/types.ts
Labels: fix

#902 fix: item bundle name missing fallback changed
  apps/web/components/BundleOrderItems/BundleOrderItems.vue
  apps/web/lang/de.json
  apps/web/lang/en.json
Labels: fix

#905 fix: mobile pagination fix
  apps/web/components/CategoryPageContent/CategoryPageContent.vue
  apps/web/components/ReviewsAccordion/ReviewsAccordion.vue
  docs/changelog/changelog_en.md
Labels: fix

#895 fix: plentyone rebrand
  .github/CONTRIBUTING.md
  README.md
  apps/web/assets/_variables.scss
  apps/web/build/configurator/SystemConfiguration.ts
  apps/web/configuration/app.config.ts
  apps/web/nuxt.config.ts
  docs/changelog/changelog_de.md
  docs/changelog/changelog_en.md
Labels: fix

#918 fix: replace logo with plentyone
  apps/web/public/images/logo.svg
Labels: fix

#919 fix: editor language picker has inverted data shown
  apps/web/composables/useCategoryTemplate/types.ts
  apps/web/composables/useHomepage/useHomepage.ts
  docs/changelog/changelog_en.md
Labels: fix

#893 fix: redirect on hidden category after login
  apps/web/components/LoginComponent/LoginComponent.vue
  apps/web/components/ui/Header.vue
  apps/web/composables/useCategoryFilter/useCategoryFilter.ts
  apps/web/composables/useProducts/types.ts
  apps/web/composables/useProducts/useProducts.ts
  apps/web/middleware/category-guard.ts
  apps/web/pages/[...slug].vue
  apps/web/pages/login.vue
  docs/changelog/changelog_en.md
Labels: fix

#921 fix: margin for graduated prices
  apps/web/components/GraduatedPriceList/GraduatedPriceList.vue
  docs/changelog/changelog_en.md
Labels: fix

#926 fix: replace favicon
  apps/web/public/favicon.ico
  docs/changelog/changelog_en.md
Labels: fix

#929 fix: text alignment in media card
  apps/web/components/ui/MediaCard/MediaCard.vue
  docs/changelog/changelog_en.md
Labels: fix

#927 fix: same text in alt and title in category page
  apps/web/components/CategoryPageContent/CategoryPageContent.vue
  docs/changelog/changelog_en.md
Labels: fix
