Repository plentymarkets/plentyshop-pwa, pull requests merged in 2024-10, with the labels that each got.

#701 feat: adding store title from settings
  apps/web/configuration/app.config.ts
  apps/web/nuxt.config.ts
  docs/changelog/changelog_en.md
Labels: feature

#706 feat: homepage adaptations
  apps/web/pages/index.vue
  docs/changelog/changelog_de.md
  docs/changelog/changelog_en.md
Labels: feature

#677 feat: sbs/language configuration
  apps/web/configuration/app.config.ts
  apps/web/configuration/i18n.config.ts
  apps/web/configuration/locale.config.ts
  apps/web/configuration/vueI18n.config.ts
  docs/changelog/changelog_de.md
  docs/changelog/changelog_en.md
Labels: feature

#707 feat: show bank details on the order confirmation page
  apps/web/components/ConfirmationPageContent/ConfirmationPageContent.vue
  apps/web/components/OrderBankDetails/OrderBankDetails.vue
  apps/web/components/OrderBankDetails/types.ts
  apps/web/lang/de.json
  apps/web/lang/en.json
  docs/changelog/changelog_en.md
  package.json
  yarn.lock
Labels: feature

#703 fix: refactor cookiebar layout for mobile
  apps/web/components/Cookiebar/Cookiebar.vue
  docs/changelog/changelog_en.md
Labels: fix

#714 chore(cypress): update cypress to latest version
  apps/web/package.json
  yarn.lock
Labels: ignore-for-release

#712 feat: remove display font
  apps/web/configuration/fontFamily.config.ts
  apps/web/configuration/tailwind.config.ts
  docs/changelog/changelog_en.md
Labels: feature

#720 chore: paypal checkout fix
  apps/web/components/PayPal/PayPalExpressButton.vue
  apps/web/pages/checkout.vue
Labels: ignore-for-release

#718 fix: cart and wishlist count badge size
  apps/web/components/ui/Header.vue
  apps/web/components/ui/NavbarBottom.vue
  docs/changelog/changelog_en.md
Labels: fix

#722 chore: update paypal color to gold
  apps/web/components/PayPal/PayPalExpressButton.vue
Labels: ignore-for-release

#716 feat: update manufacturer apparence
  apps/web/components/ManufacturerInformation/ManufacturerInformation.vue
  apps/web/components/ManufacturerResponsibleInfo/ManufacturerResponsibleInfo.vue
  apps/web/components/ProductLegalDetailsDrawer/ProductLegalDetailsDrawer.vue
  apps/web/configuration/tailwind.config.ts
  apps/web/lang/de.json
  apps/web/lang/en.json
  docs/changelog/changelog_en.md
  package.json
  yarn.lock
Labels: feature

#724 feat: optimization fixes
  apps/web/components/ui/MediaCard/MediaCard.vue
  apps/web/pages/index.vue
  docs/changelog/changelog_de.md
  docs/changelog/changelog_en.md
Labels: feature

#726 feat: adding flags and languages from multilingualism
  apps/web/components/LanguageSelector/flags.ts
  apps/web/lang/de.json
  apps/web/lang/en.json
Labels: feature

#725 feat: add store name in footer and shop meta field
  apps/web/components/ui/Footer/Footer.vue
  apps/web/configuration/app.config.ts
  apps/web/mocks/footerData.ts
  apps/web/nuxt.config.ts
  docs/changelog/changelog_de.md
  docs/changelog/changelog_en.md
Labels: feature

#719 feat: added product minimum quantity price logic
  apps/web/components/ProductPrice/ProductPrice.vue
  apps/web/components/QuickCheckout/QuickCheckout.vue
  apps/web/components/ui/CartProductCard/CartProductCard.vue
  apps/web/components/ui/PurchaseCard/PurchaseCard.vue
  apps/web/components/ui/QuantitySelector/QuantitySelector.vue
  apps/web/composables/useCart/types.ts
  apps/web/composables/useCart/useCart.ts
  apps/web/lang/de.json
  apps/web/lang/en.json
  docs/changelog/changelog_en.md
  package.json
  yarn.lock
Labels: feature

#727 feat: update media card to allow multiple entries
  apps/web/components/ui/MediaCard/MediaCard.vue
  apps/web/components/ui/MediaCard/types.ts
  apps/web/pages/index.vue
  docs/changelog/changelog_en.md
Labels: feature

#729 chore: hide applepay
  apps/web/composables/usePayPal/usePayPal.ts
  apps/web/pages/checkout.vue
  docs/changelog/changelog_en.md
Labels: ignore-for-release

#691 feat: offer page
  apps/web/components/OfferPageContent/OfferPageContent.vue
  apps/web/components/OfferPageContent/types.ts
  apps/web/components/OrderTotals/OrderTotals.vue
  apps/web/components/ui/OfferProductCard/OfferProductCard.vue
  apps/web/components/ui/OfferProductCard/types.ts
  apps/web/components/ui/PaymentOptionItem/PaymentOptionItem.vue
  apps/web/components/ui/PaymentOptionItem/types.ts
  apps/web/components/ui/ShippingOptionItem/ShippingOptionItem.vue
  apps/web/components/ui/ShippingOptionItem/types.ts
  apps/web/composables/index.ts
  apps/web/composables/useOffer/index.ts
  apps/web/composables/useOffer/types.ts
  apps/web/composables/useOffer/useOffer.ts
  apps/web/lang/de.json
  apps/web/lang/en.json
  apps/web/pages/offer/[offerId]/[accessKey].vue
  docs/changelog/changelog_de.md
  docs/changelog/changelog_en.md
  package.json
  yarn.lock
Labels: feature

#731 fix: create empty json for active language, if no json is found in directory
  apps/web/configuration/locale.config.ts
  docs/changelog/changelog_en.md
Labels: fix

#732 chore: switched the types of the buttons on the decline offer modal
  apps/web/components/OfferPageContent/OfferPageContent.vue
Labels: ignore-for-release

#737 fix: order confirmation soft login
  apps/web/pages/confirmation/[orderId]/[accessKey].vue
  docs/changelog/changelog_en.md
Labels: fix

#738 fix: fix manufacturer on structured data
  apps/web/composables/useStructuredData/useStructuredData.ts
  docs/changelog/changelog_en.md
Labels: fix

#740 feat: add new request header for configId + no cache in env
  apps/web/nuxt.config.ts
  apps/web/sdk.client.ts
  docs/changelog/changelog_en.md
Labels: feature

#734 fix: error messages
  apps/web/composables/useAddressV2/useCheckoutAddress.ts
  apps/web/composables/useAddressV2/useCreateAddress.ts
  apps/web/composables/useAddressV2/useDeleteAddress.ts
  apps/web/composables/useAddressV2/useFetchAdddress.ts
  apps/web/composables/useAddressV2/usePrimaryAddress.ts
  apps/web/composables/useCustomer/useCustomer.ts
  apps/web/composables/useHandleError/types.ts
  apps/web/composables/useHandleError/useHandleError.ts
  apps/web/composables/useInitialSetup/useInitialSetup.ts
  apps/web/composables/useMakeOrder/useMakeOrder.ts
  apps/web/composables/useProductReviews/useProductReviews.ts
  apps/web/lang/de.json
  apps/web/lang/en.json
  apps/web/sdk.client.ts
  docs/changelog/changelog_en.md
  package.json
  yarn.lock
Labels: fix

#739 fix: remove sizes for non full images
  apps/web/components/Gallery/Gallery.vue
  apps/web/components/ui/ProductCard/ProductCard.vue
  apps/web/composables/defaults.ts
  docs/changelog/changelog_en.md
Labels: fix

#742 feat: update notification design
  apps/web/components/ui/Notifications/Notifications.vue
  docs/changelog/changelog_en.md
Labels: feature

#736 feat: swiper carousel
  .gitignore
  .prettierignore
  apps/web/.eslintignore
  apps/web/assets/libraries/swiper/navigation.min.css
  apps/web/assets/libraries/swiper/pagination.min.css
  apps/web/assets/libraries/swiper/swiper.min.css
  apps/web/assets/style.scss
  apps/web/components/HeroContent/HeroContent.vue
  apps/web/components/ui/Hero/Hero.vue
  apps/web/components/ui/Hero/types.ts
  apps/web/components/ui/HeroCarousel/HeroCarousel.vue
  apps/web/components/ui/HeroContent/HeroContent.vue
  apps/web/composables/useCarousel/useCarousel.ts
  apps/web/layouts/account.vue
  apps/web/nuxt.config.ts
  apps/web/pages/index.vue
  docs/changelog/changelog_en.md
  package.json
  yarn.lock
Labels: feature

#750 fix: typography in headlines
  apps/web/configuration/tailwind.config.ts
  docs/changelog/changelog_en.md
Labels: fix

#752 fix: content layout shift
  apps/web/pages/[...slug].vue
  docs/changelog/changelog_en.md
  lighthouserc.json
Labels: fix

#753 feat: manufacturer-improvements
  apps/web/components/ManufacturerResponsibleInfo/ManufacturerResponsibleInfo.vue
  apps/web/pages/product/[slug].vue
  docs/changelog/changelog_en.md
Labels: feature

#728 chore: updated translations for EU Responsible Person + Manufacturer
  apps/web/lang/de.json
  apps/web/lang/en.json
  docs/changelog/changelog_en.md
Labels: ignore-for-release

#756 fix: fix swiper mobile cls
  apps/web/components/ui/HeroCarousel/HeroCarousel.vue
  apps/web/components/ui/HeroCarousel/types.ts
  apps/web/components/ui/HeroContent/HeroContent.vue
  apps/web/nuxt.config.ts
  apps/web/pages/index.vue
Labels: fix

#747 fix: removed addtocart notification
  apps/web/components/ui/ProductCard/ProductCard.vue
  apps/web/components/ui/PurchaseCard/PurchaseCard.vue
  docs/changelog/changelog_en.md
Labels: fix

#759 chore: adjust loginFailed translation key
  apps/web/lang/de.json
  apps/web/lang/en.json
Labels: ignore-for-release

#751 fix: logo adaptation
  apps/web/components/MegaMenu/MegaMenu.vue
  apps/web/components/ui/VsfLogo.vue
  docs/changelog/changelog_en.md
Labels: fix

#758 feat: alt text for media card and for hero
  apps/web/components/ui/HeroCarousel/types.ts
  apps/web/components/ui/HeroContent/HeroContent.vue
  apps/web/components/ui/MediaCard/MediaCard.vue
  apps/web/components/ui/MediaCard/types.ts
  apps/web/pages/index.vue
  apps/web/utils/urlHelper.ts
  docs/changelog/changelog_en.md
Labels: feature

#755 feat: adding the ability to color text in hero banner
  apps/web/components/ui/HeroCarousel/types.ts
  apps/web/components/ui/HeroContent/HeroContent.vue
  apps/web/pages/index.vue
  docs/changelog/changelog_en.md
Labels: feature

#766 chore: downsize wishlist buttons
  apps/web/components/WishlistButton/WishlistButton.vue
Labels: ignore-for-release

#769 feat: refactor-index
  apps/server/tsconfig.json
  apps/web/components/HeroContent/HeroContent.vue
  apps/web/components/ui/HeroCarousel/HeroCarousel.vue
  apps/web/components/ui/HeroCarousel/types.ts
  apps/web/components/ui/HeroContent/HeroContent.vue
  apps/web/components/ui/MediaCard/types.ts
  apps/web/composables/useHomepageData/homepageTemplateData.json
  apps/web/composables/useHomepageData/useHomepageData.ts
  apps/web/pages/index.vue
  docs/changelog/changelog_en.md
Labels: feature

#771 feat: set default notification timeout to 5 seconds
  apps/web/composables/useNotification/__tests__/useNotification.spec.ts
  apps/web/composables/useNotification/useNotification.ts
  apps/web/vitest.config.ts
  docs/changelog/changelog_en.md
Labels: feature

#761 fix: cls spike
  apps/web/assets/libraries/swiper/swiper.min.css
  docs/changelog/changelog_en.md
Labels: fix

#772 feat: use the paymentStatus translation key to display the right payment status
  apps/web/components/OrderPaymentSummary/OrderPaymentSummary.vue
  apps/web/lang/de.json
  apps/web/lang/en.json
  docs/changelog/changelog_en.md
  package.json
  yarn.lock
Labels: feature
