Repository plentymarkets/plentyshop-pwa, pull requests merged in 2024-07, with the labels that each got.

#533 fix: mobile-prices
  apps/web/components/ui/ProductCard/ProductCard.vue
  docs/changelog/changelog_en.md
Labels: fix

#543 fix: language selector on mobile
  apps/web/components/ui/Header.vue
  docs/changelog/changelog_en.md
Labels: fix

#544 feat: fetching pwa settings
  .github/workflows/conventional-pr-name.yml
  .github/workflows/lighthouse-mobile-audit.yml
  .github/workflows/lint.yml
  .github/workflows/tests.yaml
  apps/web/build/fetchConfiguration.ts
  apps/web/nuxt.config.ts
  docs/changelog/changelog_de.md
  docs/changelog/changelog_en.md
Labels: feature

#549 fix: reviews scroll on mobile
  apps/web/components/ui/PurchaseCard/PurchaseCard.vue
Labels: fix

#546 feat: language selector e2e tests
  apps/web/__tests__/support/pageObjects/LanguageSelectObject.ts
  apps/web/__tests__/test/feature/languageSelect.cy.ts
  apps/web/components/LanguageSelector/LanguageSelector.vue
  docs/changelog/changelog_en.md
Labels: feature

#552 fix: reviews scroll on mobile
  apps/web/components/ui/PurchaseCard/PurchaseCard.vue
  docs/changelog/changelog_en.md
Labels: fix

#550 feat: new layout for checkout
  apps/web/components/ui/Footer/Footer.vue
  apps/web/components/ui/Footer/types.ts
  apps/web/components/ui/SimplifiedHeader.vue
  apps/web/layouts/simplifiedHeaderAndFooter.vue
  apps/web/pages/checkout.vue
  docs/changelog/changelog_de.md
  docs/changelog/changelog_en.md
Labels: feature

#548 fix: fetch flag rewritten in env file
  apps/web/build/fetchConfiguration.ts
  docs/changelog/changelog_de.md
  docs/changelog/changelog_en.md
Labels: fix

#536 feat: upgrade nuxt and dependencies
  apps/server/package.json
  apps/web/__tests__/support/pageObjects/CheckoutPageObject.ts
  apps/web/__tests__/support/pageObjects/ProductListPageObject.ts
  apps/web/__tests__/test/feature/wishlist.cy.ts
  apps/web/__tests__/test/quarantine/paypalCreditCard.spec.cy.ts
  apps/web/__tests__/test/smoke/cartPage.cy.ts
  apps/web/__tests__/test/smoke/checkoutPage.cy.ts
  apps/web/app.vue
  apps/web/assets/style.scss
  apps/web/components/ContactInformation/ContactInformation.vue
  apps/web/components/Coupon/Coupon.vue
  apps/web/components/MegaMenu/MegaMenu.vue
  apps/web/components/ProductAttributes/AttributeDropdown/AttributeDropdown.vue
  apps/web/components/ProductAttributes/ProductAttributes.vue
  apps/web/components/ReviewsAccordion/ReviewsAccordion.vue
  apps/web/components/ui/Header.vue
  apps/web/components/ui/ProductCard/ProductCard.vue
  apps/web/components/ui/PurchaseCard/PurchaseCard.vue
  apps/web/composables/useCategoryFilter/useCategoryFilter.ts
  apps/web/composables/useCookieBar/useCookieBar.ts
  apps/web/composables/useCustomer/useCustomer.ts
  apps/web/composables/useHandleError/useHandleError.ts
  apps/web/composables/useProduct/types.ts
  apps/web/composables/useProduct/useProduct.ts
  apps/web/composables/useReadCookieBar/useReadCookieBar.ts
  apps/web/composables/useWishlist/useWishlist.ts
  apps/web/layouts/account.vue
  apps/web/layouts/checkout.vue
  apps/web/layouts/default.vue
  apps/web/package.json
  apps/web/pages/cart.vue
  apps/web/pages/my-account/personal-data.vue
  apps/web/pages/product/[slug].vue
  docs/changelog/changelog_en.md
  package.json
  yarn.lock
Labels: feature

#477 fix: webmanifest 404
  apps/web/app.vue
  docs/changelog/changelog_en.md
Labels: fix

#554 chore: fix changelog
  docs/changelog/changelog_en.md
Labels: ignore-for-release

#555 fix: random img loader stuck
  apps/web/components/ui/ProductCard/ProductCard.vue
  docs/changelog/changelog_en.md
Labels: fix

#556 chore: changelog 1.5.0
  docs/changelog/changelog_en.md
Labels: ignore-for-release

#559 feat: dependabot security fix
  package.json
  yarn.lock
Labels: feature

#564 fix: guest wishlist functionality
  apps/web/composables/useWishlist/useWishlist.ts
  docs/changelog/changelog_en.md
Labels: fix

#557 fix: review overview design flaws
  apps/web/components/ReviewsAccordion/ReviewsAccordion.vue
  docs/changelog/changelog_en.md
Labels: fix

#553 feat: order again
  apps/web/assets/style.scss
  apps/web/components/ConfirmationPageContent/ConfirmationPageContent.vue
  apps/web/components/MegaMenu/MegaMenu.vue
  apps/web/components/OrderAgain/OrderAgain.vue
  apps/web/components/OrderAgain/types.ts
  apps/web/components/OrderAgainButton/OrderAgainButton.vue
  apps/web/components/OrderAgainButton/types.ts
  apps/web/components/Skeletons/OrderAgainItem/OrderAgainItem.vue
  apps/web/components/ui/Dropdown/Dropdown.vue
  apps/web/components/ui/Tag/Tag.vue
  apps/web/components/ui/Tag/types.ts
  apps/web/composables/useCart/types.ts
  apps/web/composables/useCart/useCart.ts
  apps/web/composables/useOrderAgain/index.ts
  apps/web/composables/useOrderAgain/types.ts
  apps/web/composables/useOrderAgain/useOrderAgain.ts
  apps/web/lang/de.json
  apps/web/lang/en.json
  apps/web/pages/my-account/my-orders.vue
  docs/changelog/changelog_de.md
  docs/changelog/changelog_en.md
  package.json
  yarn.lock
Labels: feature

#560 feat: catch all layout
  apps/web/__tests__/support/pageObjects/LanguageSelectObject.ts
  apps/web/components/LanguageButton/LanguageButton.vue
  apps/web/composables/useLocalization/useLocalization.ts
  apps/web/layouts/default.vue
  apps/web/nuxt.config.ts
  apps/web/pages/product/[slug].vue
  apps/web/pages/tag/[slug].vue
  docs/changelog/changelog_en.md
Labels: feature

#551 feat: added product properties
  apps/web/components/QuickCheckout/QuickCheckout.vue
  apps/web/components/VariationProperties/VariationProperties.vue
  apps/web/components/VariationProperties/types.ts
  apps/web/components/VariationPropertyDate/VariationPropertyDate.vue
  apps/web/components/VariationPropertyDate/types.ts
  apps/web/components/VariationPropertyFile/VariationPropertyFile.vue
  apps/web/components/VariationPropertyFile/types.ts
  apps/web/components/VariationPropertyHtml/VariationPropertyHtml.vue
  apps/web/components/VariationPropertyHtml/types.ts
  apps/web/components/VariationPropertyText/VariationPropertyText.vue
  apps/web/components/VariationPropertyText/types.ts
  apps/web/components/ui/CartProductCard/CartProductCard.vue
  apps/web/components/ui/PurchaseCard/PurchaseCard.vue
  docs/changelog/changelog_en.md
  package.json
  yarn.lock
Labels: feature

#565 chore: use correct getter for order again
  apps/web/composables/useOrderAgain/useOrderAgain.ts
Labels: ignore-for-release

#566 chore: update changelog
  docs/changelog/changelog_de.md
  docs/changelog/changelog_en.md
Labels: ignore-for-release

#567 fix: add /rest to config fetch call
  apps/web/build/fetchConfiguration.ts
  docs/changelog/changelog_de.md
  docs/changelog/changelog_en.md
Labels: fix

#562 feat: cookiebar icon replace
  apps/web/components/Cookiebar/Cookiebar.vue
  docs/changelog/changelog_en.md
Labels: feature

#568 feat: read app meta config from environment
  apps/web/nuxt.config.ts
  docs/changelog/changelog_de.md
  docs/changelog/changelog_en.md
Labels: feature

#573 feat: order again order properties
  apps/web/components/OrderAgain/OrderAgain.vue
  apps/web/composables/useOrderAgain/useOrderAgain.ts
  apps/web/lang/de.json
  apps/web/lang/en.json
  apps/web/pages/my-account/my-orders.vue
  docs/changelog/changelog_de.md
  docs/changelog/changelog_en.md
  package.json
  yarn.lock
Labels: feature

#574 fix: checkout address buttons on mobile
  apps/web/components/CheckoutAddress/CheckoutAddress.vue
  apps/web/lang/de.json
  apps/web/lang/en.json
  docs/changelog/changelog_de.md
  docs/changelog/changelog_en.md
Labels: fix

#577 fix: paypal script load blocks main thread
  apps/web/components/ui/PurchaseCard/PurchaseCard.vue
  docs/changelog/changelog_de.md
  docs/changelog/changelog_en.md
Labels: fix

#582 feat: metadata for products and categories
  apps/web/pages/[...slug].vue
  apps/web/pages/product/[slug].vue
  docs/changelog/changelog_en.md
  package.json
  yarn.lock
Labels: feature
