Repository plentymarkets/plentyshop-pwa, pull requests merged in 2024-11, with the labels that each got.

#760 fix: build on windows
  .github/workflows/build-windows.yml
  apps/web/build/logs/Logger.ts
  docs/changelog/changelog_en.md
Labels: fix

#763 feat: toolbar component and json editor
  apps/web/components/Editor/Editor.vue
  apps/web/components/Editor/heroData.ts
  apps/web/components/Editor/mediaData.ts
  apps/web/components/ui/Toolbar/Toolbar.vue
  apps/web/composables/useEditor/useEditor.ts
  apps/web/composables/useJsonEditor/types.ts
  apps/web/composables/useJsonEditor/useJsonEditor.ts
  apps/web/lang/de.json
  apps/web/lang/en.json
  apps/web/layouts/default.vue
  apps/web/pages/index.vue
  docs/changelog/changelog_en.md
Labels: feature

#767 feat: display product titles without suffix
  apps/web/composables/useProduct/useProduct.ts
  apps/web/layouts/default.vue
  docs/changelog/changelog_en.md
  package.json
  yarn.lock
Labels: feature

#774 chore: manufacturer eu responsible country name
  apps/web/components/ManufacturerResponsibleInfo/ManufacturerResponsibleInfo.vue
  package.json
  yarn.lock
Labels: ignore-for-release

#778 fix(build): add api url to environment map
  apps/web/build/configurator/AppConfigurator.ts
  apps/web/build/configurator/__tests__/AppConfigurator.spec.ts
  docs/changelog/changelog_en.md
Labels: fix

#780 chore: fix after paypal order cart gets cleared and watcher redirects…
  apps/web/components/ConfirmationPageContent/ConfirmationPageContent.vue
  apps/web/components/PayPal/PayPalExpressButton.vue
  apps/web/composables/index.ts
  apps/web/composables/useProcessingOrder/index.ts
  apps/web/composables/useProcessingOrder/useProcessingOrder.ts
  apps/web/pages/checkout.vue
Labels: ignore-for-release

#781 chore: show default error message
  apps/web/composables/useHandleError/useHandleError.ts
Labels: ignore-for-release

#746 feat: apple pay & google pay
  apps/web/assets/style.scss
  apps/web/components/PayPal/ApplePayButton.vue
  apps/web/components/PayPal/GooglePayButton.vue
  apps/web/components/PayPal/types.ts
  apps/web/composables/useApplePay/index.ts
  apps/web/composables/useApplePay/useApplePay.ts
  apps/web/composables/useGooglePay/index.ts
  apps/web/composables/useGooglePay/types.ts
  apps/web/composables/useGooglePay/useGooglePay.ts
  apps/web/composables/usePayPal/types.ts
  apps/web/composables/usePayPal/usePayPal.ts
  apps/web/lang/de.json
  apps/web/lang/en.json
  apps/web/pages/checkout.vue
  apps/web/tsconfig.json
  docs/changelog/changelog_en.md
  package.json
  yarn.lock
Labels: feature

#782 chore: validate addresses for google and apple pay
  apps/web/components/PayPal/PayPalCreditCardForm.vue
  apps/web/composables/useCheckout/__tests__/useCheckout.spec.ts
  apps/web/composables/useCheckout/useCheckout.ts
  apps/web/composables/useJsonEditor/useJsonEditor.ts
  apps/web/lang/de.json
  apps/web/lang/en.json
  apps/web/pages/checkout.vue
  package.json
  yarn.lock
Labels: ignore-for-release

#784 chore: close quick checkout after finishing paypal payment
  apps/web/components/PayPal/PayPalExpressButton.vue
  apps/web/components/QuickCheckout/QuickCheckout.vue
Labels: ignore-for-release

#764 feat: implement Email Confirmation
  apps/web/composables/useNewsletterConfirmation/index.ts
  apps/web/composables/useNewsletterConfirmation/types.ts
  apps/web/composables/useNewsletterConfirmation/useNewsletterConfirmation.ts
  apps/web/lang/de.json
  apps/web/lang/en.json
  apps/web/middleware/newsletter-confirmation.ts
  apps/web/pages/index.vue
  docs/changelog/changelog_en.md
  package.json
  yarn.lock
Labels: feature

#773 fix: reload page after login
  apps/web/components/LoginComponent/LoginComponent.vue
  apps/web/components/LoginComponent/types.ts
  apps/web/components/ui/ReviewModal/ReviewModal.vue
  docs/changelog/changelog_en.md
Labels: fix

#635 fix: responsive images on item page
  apps/web/components/Gallery/Gallery.vue
  docs/changelog/changelog_en.md
Labels: fix

#790 feat: adding update category template route to sdk
  package.json
  yarn.lock
Labels: feature

#789 fix: empty cart message on manual cart navigation
  apps/web/pages/cart.vue
  apps/web/pages/checkout.vue
  docs/changelog/changelog_en.md
Labels: fix

#792 fix: hero button link
  apps/web/components/ui/HeroContent/HeroContent.vue
  apps/web/composables/useHomepageData/homepageTemplateData.json
  docs/changelog/changelog_en.md
Labels: fix

#794 feat: adding new headers to the whitelist
  package.json
  yarn.lock
Labels: feature

#796 fix: buy button clickable during redirect from checkout to confirmation
  apps/web/pages/checkout.vue
  docs/changelog/changelog_en.md
Labels: fix

#785 feat: page navigation loading indicator <3
  apps/web/app.vue
  docs/changelog/changelog_en.md
Labels: feature

#801 fix: fixed gpsr drawer responsiveness
  apps/web/components/ProductLegalDetailsDrawer/ProductLegalDetailsDrawer.vue
  docs/changelog/changelog_en.md
Labels: fix

#800 fix: homepage
  apps/web/components/ui/VsfLogo.vue
  apps/web/composables/useHomepageData/homepageTemplateData.json
  apps/web/composables/useHomepageData/homepageTemplateDataDe.json
  apps/web/composables/useHomepageData/homepageTemplateDataEn.json
  apps/web/composables/useHomepageData/useHomepageData.ts
  apps/web/pages/index.vue
  docs/changelog/changelog_en.md
Labels: fix

#804 fix: load correct data when switching language
  apps/web/composables/useHomepageData/useHomepageData.ts
Labels: fix

#805 fix: allow for multiple category products fetching
  apps/web/composables/useProducts/types.ts
  apps/web/composables/useProducts/useProducts.ts
  docs/changelog/changelog_en.md
Labels: fix

#806 fix: review modal scroll
  apps/web/components/ui/ReviewModal/ReviewModal.vue
  docs/changelog/changelog_en.md
Labels: fix

#786 feat: zoom in image
  apps/web/components/Drift/Drift.scss
  apps/web/components/Drift/Drift.vue
  apps/web/components/Drift/types.ts
  apps/web/components/Gallery/Gallery.vue
  apps/web/components/Gallery/__tests__/Gallery.spec.ts
  apps/web/components/ui/PurchaseCard/PurchaseCard.vue
  docs/changelog/changelog_en.md
  package.json
  yarn.lock
Labels: feature

#798 feat: update lighithouse rules
  .github/workflows/lighthouse-mobile-audit.yml
  docs/changelog/changelog_en.md
  lighthouserc.json
Labels: feature

#812 feat: cookiebar reactive consent management
  apps/web/components/Cookiebar/Cookiebar.vue
  apps/web/components/PayPal/PayPalCookieDisabledBanner.vue
  apps/web/components/PayPal/PayPalCreditCardBuyButton.vue
  apps/web/components/PayPal/PayPalExpressButton.vue
  apps/web/components/PayPal/PayPalPayLaterBanner.vue
  apps/web/components/QuickCheckout/QuickCheckout.vue
  apps/web/composables/useCookieConsent/index.ts
  apps/web/composables/useCookieConsent/useCookieConsent.ts
  apps/web/composables/usePayPal/usePayPal.ts
  apps/web/composables/useReadCookieBar/useReadCookieBar.ts
  apps/web/configuration/cookie.config.ts
  apps/web/lang/de.json
  apps/web/lang/en.json
  apps/web/pages/checkout.vue
  docs/changelog/changelog_en.md
Labels: feature

#803 feat: show error messages for add to cart
  apps/web/composables/useCart/useCart.ts
  apps/web/lang/de.json
  apps/web/lang/en.json
  apps/web/sdk.client.ts
  docs/changelog/changelog_en.md
  package.json
  yarn.lock
Labels: feature

#814 fix: zindex for order property tooltip
  apps/web/components/OrderProperties/OrderProperties.vue
  docs/changelog/changelog_en.md
Labels: fix

#809 feat: handle blocked payment method
  apps/web/components/CheckoutPayment/CheckoutPayment.vue
  apps/web/composables/useCheckoutPagePaymentAndShipping/__tests__/useCheckoutPagePaymentAndShipping.spec.ts
  apps/web/composables/useCheckoutPagePaymentAndShipping/useCheckoutPagePaymentAndShipping.ts
  docs/changelog/changelog_en.md
  package.json
  yarn.lock
Labels: feature

#811 feat: json editor - homepage customization
  apps/web/components/Editor/Editor.vue
  apps/web/components/Editor/heroData.ts
  apps/web/components/Editor/mediaData.ts
  apps/web/components/ui/HeroCarousel/HeroCarousel.vue
  apps/web/components/ui/HeroCarousel/types.ts
  apps/web/components/ui/HeroContent/HeroContent.vue
  apps/web/components/ui/SkeletonLoader/SkeletonLoader.vue
  apps/web/components/ui/Toolbar/Toolbar.vue
  apps/web/composables/useCategoryTemplate/types.ts
  apps/web/composables/useCategoryTemplate/useCategoryTemplate.ts
  apps/web/composables/useEditor/useEditor.ts
  apps/web/composables/useFetchHome/useFetchHome.ts
  apps/web/composables/useFetchHomepageTemplate/useFetchHomepageTemplate.ts
  apps/web/composables/useHomepage/homepageTemplateDataDe.json
  apps/web/composables/useHomepage/homepageTemplateDataEn.json
  apps/web/composables/useHomepage/types.ts
  apps/web/composables/useHomepage/useHomepage.ts
  apps/web/composables/useHomepageData/useHomepageData.ts
  apps/web/composables/useJsonEditor/useJsonEditor.ts
  apps/web/composables/useUpdatePageTemplate/useUpdatePageTemplate.ts
  apps/web/layouts/default.vue
  apps/web/pages/index.vue
  docs/changelog/changelog_en.md
Labels: feature

#810 fix: paypal button rendering on checkout
  apps/web/__tests__/support/pageObjects/CheckoutPageObject.ts
  apps/web/__tests__/test/feature/paypalButtons.cy.ts
  apps/web/__tests__/test/quarantine/paypalCreditCard.spec.cy.ts
  apps/web/components/OrderSummary/OrderSummary.vue
  apps/web/composables/useApplePay/useApplePay.ts
  apps/web/composables/useGooglePay/useGooglePay.ts
  apps/web/pages/checkout.vue
  docs/changelog/changelog_en.md
Labels: fix

#813 fix: cookiebar height in landscape
  apps/web/components/Cookiebar/Cookiebar.vue
  docs/changelog/changelog_en.md
Labels: fix

#816 fix: variation select before order properties
  apps/web/components/ui/PurchaseCard/PurchaseCard.vue
  docs/changelog/changelog_en.md
Labels: fix

#808 fix: filter rating category
  apps/web/components/CategoryFilters/Filter.vue
  apps/web/composables/useProducts/useProducts.ts
  docs/changelog/changelog_en.md
Labels: fix

#817 feat: reload page after a consent gets revoked
  apps/web/composables/useJsonEditor/useJsonEditor.ts
  apps/web/composables/useReadCookieBar/__tests__/useReadCookieBar.spec.ts
  apps/web/composables/useReadCookieBar/useReadCookieBar.ts
  apps/web/configuration/cookie.config.ts
  docs/changelog/changelog_en.md
Labels: feature

#821 fix: category product prices
  apps/web/components/CategoryPageContent/CategoryPageContent.vue
  docs/changelog/changelog_en.md
Labels: fix

#823 chore: load homepage data on ssr
  apps/web/composables/useCategoryTemplate/types.ts
  apps/web/composables/useCategoryTemplate/useCategoryTemplate.ts
  apps/web/composables/useFetchHome/useFetchHome.ts
  apps/web/composables/useFetchHomepageTemplate/useFetchHomepageTemplate.ts
  apps/web/composables/useHomepage/types.ts
  apps/web/composables/useHomepage/useHomepage.ts
  apps/web/composables/useInitialSetup/useInitialSetup.ts
  apps/web/pages/index.vue
Labels: ignore-for-release

#820 fix: recommended products display
  apps/web/composables/useCategoryTemplate/types.ts
  apps/web/composables/useCategoryTemplate/useCategoryTemplate.ts
  apps/web/composables/useFetchHome/useFetchHome.ts
  apps/web/composables/useFetchHomepageTemplate/useFetchHomepageTemplate.ts
  apps/web/composables/useHomepage/types.ts
  apps/web/composables/useHomepage/useHomepage.ts
  apps/web/composables/useInitialSetup/useInitialSetup.ts
  apps/web/composables/useJsonEditor/useJsonEditor.ts
  apps/web/pages/index.vue
  docs/changelog/changelog_en.md
Labels: fix

#824 fix: remove rating filter checkbox margin
  apps/web/components/CategoryFilters/Filter.vue
  docs/changelog/changelog_en.md
Labels: fix

#815 fix: disable lang selection in monolingual shops
  apps/web/components/ui/Header.vue
  docs/changelog/changelog_en.md
Labels: fix

#826 fix: button overlaps on mobile checkout
  apps/web/assets/icons/paths/pen.ts
  apps/web/components/ContactInformation/ContactInformation.vue
  apps/web/components/ui/Review/Review.vue
  docs/changelog/changelog_en.md
Labels: fix

#827 fix: 404 on itempage when product not loaded
  apps/web/pages/product/[slug].vue
  docs/changelog/changelog_en.md
Labels: fix

#829 fix: selling points alignment
  apps/web/components/Register/Register.vue
  docs/changelog/changelog_en.md
Labels: fix

#797 feat: output mapped structured data
  apps/web/composables/useStructuredData/useStructuredData.ts
  docs/changelog/changelog_en.md
  package.json
  yarn.lock
Labels: feature

#830 feat: handle checkout without shipping methods
  apps/web/__tests__/support/pageObjects/CheckoutPageObject.ts
  apps/web/__tests__/test/smoke/checkoutPage.cy.ts
  apps/web/__tests__/types/checkout.ts
  apps/web/__tests__/types/index.ts
  apps/web/components/CheckoutPayment/CheckoutPayment.vue
  apps/web/components/ShippingMethod/ShippingMethod.vue
  apps/web/lang/de.json
  apps/web/lang/en.json
  docs/changelog/changelog_en.md
Labels: feature

#839 fix: inconsistent hero cls
  .github/workflows/lighthouse-mobile-audit.yml
  apps/web/components/ui/HeroContent/HeroContentSkeleton.vue
  docs/changelog/changelog_en.md
  lighthouserc.desktop.json
  lighthouserc.json
  lighthouserc.mobile.json
  package.json
Labels: fix

#837 fix: swiper nav overlap
  apps/web/components/ui/HeroCarousel/HeroCarousel.vue
  docs/changelog/changelog_en.md
Labels: fix

#836 fix: swiper css scope
  apps/web/components/ui/HeroCarousel/HeroCarousel.vue
  apps/web/components/ui/HeroCarousel/styles/navigation.min.css
  apps/web/components/ui/HeroCarousel/styles/pagination.min.css
  apps/web/components/ui/HeroCarousel/styles/swiper.min.css
  docs/changelog/changelog_en.md
Labels: fix
