Repository plentymarkets/plentyshop-pwa, pull requests merged in 2024-06, with the labels that each got.

#482 fix: sitemap
  apps/web/nuxt.config.ts
  apps/web/public/sitemap_style.xsl
  docs/changelog/changelog_de.md
  docs/changelog/changelog_en.md
Labels: fix

#487 feat: extend sficonbase
  apps/web/assets/icons/edit.svg
  apps/web/components/ui/Review/Review.vue
  apps/web/nuxt.config.ts
  docs/changelog/changelog_de.md
  docs/changelog/changelog_en.md
Labels: feature

#489 chore: german registration texts
  apps/web/components/ProductAttributes/AttributeImage/AttributeImage.vue
  apps/web/lang/de.json
Labels: ignore-for-release

#485 chore: changelog 1.4.1
  docs/changelog/changelog_de.md
  docs/changelog/changelog_en.md
Labels: ignore-for-release

#490 chore: homepage link/button & article show options
  apps/web/components/ui/ProductCard/ProductCard.vue
  apps/web/lang/de.json
  apps/web/lang/en.json
  apps/web/pages/index.vue
Labels: ignore-for-release

#492 fix: paypal seperator only if available
  apps/web/components/GuestLogin/GuestLogin.vue
  apps/web/components/OrDivider/OrDivider.vue
  apps/web/components/QuickCheckout/QuickCheckout.vue
  apps/web/composables/usePayPal/types.ts
  apps/web/composables/usePayPal/usePayPal.ts
  apps/web/lang/de.json
  apps/web/lang/en.json
  docs/changelog/changelog_de.md
  docs/changelog/changelog_en.md
Labels: fix

#497 fix: hydration errors
  apps/web/pages/cart.vue
  apps/web/pages/guest/login.vue
  docs/changelog/changelog_en.md
Labels: fix

#499 chore: delete flaky PayPal credit card test
  apps/web/__tests__/test/smoke/paypalCreditCard.cy.ts
Labels: ignore-for-release

#495 fix: wishlist aria label
  apps/web/components/WishlistButton/WishlistButton.vue
  docs/changelog/changelog_de.md
  docs/changelog/changelog_en.md
Labels: fix

#500 fix: images should have tooltip
  apps/web/components/ProductAttributes/AttributeImage/AttributeImage.vue
  docs/changelog/changelog_de.md
  docs/changelog/changelog_en.md
Labels: fix

#493 fix: dont render empty elements
  apps/web/components/ui/Badges/Badges.vue
  docs/changelog/changelog_de.md
  docs/changelog/changelog_en.md
Labels: fix

#501 chore: remove cart image
  apps/web/components/CartPageContent/CartPageContent.vue
Labels: ignore-for-release

#508 chore: update readme flow, remove mevofvd5omld.c01-14.plentymarkets.c…
  README.md
  apps/server/src/index.ts
  apps/web/.env.example
  apps/web/nuxt.config.ts
Labels: ignore-for-release

#505 fix: item list image size to small
  apps/web/components/ProductSlider/ProductSlider.vue
  docs/changelog/changelog_en.md
Labels: fix

#494 fix: remove basket item hover
  apps/web/components/ui/CartProductCard/CartProductCard.vue
  docs/changelog/changelog_de.md
  docs/changelog/changelog_en.md
Labels: fix

#496 fix: bundle item links
  apps/web/components/BundleOrderItems/BundleOrderItems.vue
  docs/changelog/changelog_de.md
  docs/changelog/changelog_en.md
Labels: fix

#510 fix: locale checkout button
  apps/web/components/ConfirmationPageContent/ConfirmationPageContent.vue
  docs/changelog/changelog_de.md
  docs/changelog/changelog_en.md
Labels: fix

#491 fix: missing short description
  apps/web/components/QuickCheckout/QuickCheckout.vue
  apps/web/components/ui/ProductCard/ProductCard.vue
  docs/changelog/changelog_de.md
  docs/changelog/changelog_en.md
Labels: fix

#509 chore: update z-index for the megamenu
  apps/web/components/MegaMenu/MegaMenu.vue
  apps/web/components/ui/Header.vue
Labels: ignore-for-release

#512 feat: make reviews visisble
  apps/web/components/ReviewsAccordion/ReviewsAccordion.vue
Labels: feature

#513 fix: countries translation
  apps/web/components/AddressForm/AddressForm.vue
  docs/changelog/changelog_de.md
  docs/changelog/changelog_en.md
  package.json
  yarn.lock
Labels: fix

#514 fix: short description empty
  docs/changelog/changelog_en.md
  package.json
  yarn.lock
Labels: fix

#515 chore: change productive middleware url
  apps/web/nuxt.config.ts
Labels: ignore-for-release

#502 feat: configuration UI experimental
  apps/web/assets/style.scss
  apps/web/components/ConfigurationDrawer/ConfigurationDrawer.vue
  apps/web/components/NewsletterSubscribe/NewsletterSubscribe.vue
  apps/web/components/ui/Header.vue
  apps/web/composables/useConfigurationDrawer/index.ts
  apps/web/composables/useConfigurationDrawer/types.ts
  apps/web/composables/useConfigurationDrawer/useConfigurationDrawer.ts
  apps/web/composables/useNewsletter/types.ts
  apps/web/composables/useNewsletter/useNewsletter.ts
  apps/web/nuxt.config.ts
  apps/web/package.json
  apps/web/tailwind.config.ts
  apps/web/utils/__tests__/tailwindHelper.spec.ts
  apps/web/utils/tailwindHelper.ts
  docs/changelog/changelog_de.md
  docs/changelog/changelog_en.md
  yarn.lock
Labels: feature

#518 fix: canonical links
  apps/web/composables/useCanonical/useCanonical.ts
  docs/changelog/changelog_de.md
  docs/changelog/changelog_en.md
Labels: fix

#517 chore: wishlist show options
  apps/web/components/ui/ProductCard/ProductCard.vue
Labels: ignore-for-release

#523 chore: small changelog cleanup
  docs/changelog/changelog_en.md
Labels: ignore-for-release

#463 fix: addresses
  apps/web/components/Address/Address.vue
  apps/web/components/AddressForm/AddressForm.vue
  apps/web/components/AddressFormNew/AddressFormNew.vue
  apps/web/components/AddressesList/AddressesList.vue
  apps/web/components/CategoryFilters/Filter.vue
  apps/web/components/CheckoutAddress/CheckoutAddress.vue
  apps/web/components/CheckoutAddress/__tests__/CheckoutAddress.spec.ts
  apps/web/components/CheckoutAddress/types.ts
  apps/web/components/CheckoutAddressNew/CheckoutAddressNew.vue
  apps/web/components/CheckoutAddressNew/__tests__/CheckoutAddress.spec.ts
  apps/web/components/CheckoutAddressNew/types.ts
  apps/web/components/MegaMenu/MegaMenu.vue
  apps/web/components/ui/Badges/Badges.vue
  apps/web/components/ui/Review/Review.vue
  apps/web/composables/useActiveShippingCountries/useActiveShippingCountries.ts
  apps/web/composables/useAddress/__tests__/useAddress.spec.ts
  apps/web/composables/useAddress/types.ts
  apps/web/composables/useAddress/useAddress.ts
  apps/web/composables/useLocalization/useLocalization.ts
  apps/web/pages/checkout.vue
  apps/web/pages/checkoutnew.vue
  apps/web/pages/my-account/my-orders.vue
  apps/web/pages/my-account/returns.vue
  apps/web/pages/product/[slug].vue
  apps/web/pages/readonly-checkout.vue
  docs/changelog/changelog_de.md
  docs/changelog/changelog_en.md
  package.json
  yarn.lock
Labels: fix

#525 fix: cart hydration error
  apps/web/components/ui/Pagination/Pagination.vue
  apps/web/components/ui/Pagination/types.ts
  apps/web/layouts/checkout.vue
  apps/web/layouts/types.ts
  apps/web/pages/cart.vue
  apps/web/pages/checkout.vue
  apps/web/pages/checkoutnew.vue
  apps/web/pages/guest/login.vue
  apps/web/pages/readonly-checkout.vue
  docs/changelog/changelog_en.md
Labels: fix

#526 chore: address changelog
  docs/changelog/changelog_de.md
  docs/changelog/changelog_en.md
Labels: ignore-for-release

#511 fix: add to cart button is smaller when loading
  apps/web/components/ui/PurchaseCard/PurchaseCard.vue
  docs/changelog/changelog_en.md
Labels: fix

#516 fix: close language switch
  apps/web/components/LanguageSelector/LanguageSelector.vue
  apps/web/components/ui/Header.vue
  apps/web/composables/useLocalization/useLocalization.ts
  docs/changelog/changelog_en.md
Labels: fix

#529 fix: removed Image on myAccount-myOrders
  apps/web/pages/my-account/my-orders.vue
  apps/web/public/images/empty-cart.svg
Labels: fix

#530 fix: no redirect after navbar login on guest login page
  apps/web/components/GuestLogin/GuestLogin.vue
  docs/changelog/changelog_de.md
  docs/changelog/changelog_en.md
Labels: fix

#531 fix: to many reviews error case
  apps/web/components/ReviewsAccordion/ReviewsAccordion.vue
  apps/web/composables/useHandleError/useHandleError.ts
  apps/web/composables/useProductReviews/useProductReviews.ts
  docs/changelog/changelog_en.md
Labels: fix

#527 feat: download order property file
  apps/web/components/CartOrderProperty/CartOrderProperty.vue
  apps/web/composables/useAdditionalInformation/useAdditionalInformation.ts
  apps/web/composables/useProductOrderProperties/types.ts
  apps/web/composables/useProductOrderProperties/useProductOrderProperties.ts
  docs/changelog/changelog_de.md
  docs/changelog/changelog_en.md
  package.json
  yarn.lock
Labels: feature

#535 fix: recommended product text overflow
  apps/web/components/ui/ProductCard/ProductCard.vue
  docs/changelog/changelog_en.md
Labels: fix

#534 fix: scroll for product reviews on navigation
  apps/web/components/ReviewsAccordion/ReviewsAccordion.vue
  docs/changelog/changelog_en.md
Labels: fix

#528 fix: checkout layout errors
  apps/web/components/CartPageContent/CartPageContent.vue
  apps/web/components/CheckoutAddressNew/CheckoutAddressNew.vue
  apps/web/components/CheckoutAddressNew/types.ts
  apps/web/components/GuestLogin/GuestLogin.vue
  apps/web/components/PayPal/PayPalExpressButton.vue
  apps/web/components/ui/PurchaseCard/PurchaseCard.vue
  apps/web/pages/cart.vue
  apps/web/pages/checkout.vue
  apps/web/pages/checkoutnew.vue
  docs/changelog/changelog_en.md
Labels: fix

#539 chore: remove lazy loading attribute on index.vue
  apps/web/pages/index.vue
Labels: ignore-for-release

#538 feat: addresses placeholder
  apps/web/components/AddressesList/AddressesList.vue
  apps/web/lang/de.json
  apps/web/lang/en.json
  apps/web/pages/my-account/billing-details.vue
  apps/web/pages/my-account/personal-data.vue
  apps/web/pages/my-account/shipping-details.vue
  apps/web/pages/my-account/wishlist.vue
  docs/changelog/changelog_de.md
  docs/changelog/changelog_en.md
Labels: feature
