Repository plentymarkets/plentyshop-pwa, pull requests merged in 2024-03, with the labels that each got.

#353 chore: update sdk version api response fixes
  package.json
  yarn.lock
Labels: ignore-for-release

#356 fix: paypal credit card test
  apps/web/__tests__/support/pageObjects/CheckoutPageObject.ts
  apps/web/__tests__/test/smoke/paypalCreditCard.cy.ts
Labels: fix

#352 fix: unify styling of input heights
  apps/web/components/OrderPropertyCheckbox/OrderPropertyCheckbox.vue
  apps/web/components/OrderPropertyInput/OrderPropertyInput.vue
  apps/web/components/OrderPropertySelect/OrderPropertySelect.vue
  apps/web/components/ProductAttributes/AttributeBox/AttributeBox.vue
  apps/web/components/ProductAttributes/AttributeDropdown/AttributeDropdown.vue
  apps/web/components/ui/PurchaseCard/PurchaseCard.vue
  apps/web/components/ui/QuantitySelector/QuantitySelector.vue
Labels: fix

#354 feat: unify remove buttons
  apps/web/components/CartPageContent/CartPageContent.vue
  apps/web/components/CategoryFilters/Filter.vue
  apps/web/components/Coupon/Coupon.vue
  apps/web/components/ui/CartProductCard/CartProductCard.vue
Labels: feature

#344 feat: change new return layout
  apps/web/components/OrderReturnProductCard/OrderReturnProductCard.vue
  apps/web/lang/de.json
  apps/web/lang/en.json
  apps/web/pages/my-account/my-orders.vue
  apps/web/pages/my-account/new-return/[id].vue
  apps/web/utils/paths.ts
Labels: feature

#346 feat: tags design and positioning AB#98448
  apps/web/components/ui/ProductCard/ProductCard.vue
  apps/web/components/ui/PurchaseCard/PurchaseCard.vue
  apps/web/components/ui/Tags/Tags.vue
Labels: feature

#349 feat: item display availability AB#98866
  apps/web/components/ui/Badges/Badges.vue
  apps/web/components/ui/Badges/__tests__/Badges.spec.ts
  apps/web/components/ui/Badges/types.ts
  apps/web/components/ui/CartProductCard/CartProductCard.vue
  apps/web/components/ui/ProductCard/ProductCard.vue
  apps/web/components/ui/PurchaseCard/PurchaseCard.vue
  apps/web/components/ui/Tags/Tags.vue
  apps/web/components/ui/Tags/__tests__/Tags.spec.ts
  package.json
  yarn.lock
Labels: feature

#359 feat: static sitemap
  apps/web/nuxt.config.ts
  apps/web/package.json
  yarn.lock
Labels: feature

#360 feat: display bundle items
  apps/web/components/BundleOrderItems/BundleOrderItems.vue
  apps/web/components/BundleOrderItems/types.ts
  apps/web/components/ConfirmationPageContent/ConfirmationPageContent.vue
  apps/web/components/OrderSummaryProductCard/OrderSummaryProductCard.vue
  apps/web/components/ui/CartProductCard/CartProductCard.vue
  apps/web/components/ui/PurchaseCard/PurchaseCard.vue
  apps/web/components/ui/Tag/Tag.vue
  apps/web/lang/de.json
  apps/web/lang/en.json
  package.json
  yarn.lock
Labels: feature

#357 feat: remove c as category url identifier
  apps/web/__tests__/test/feature/languageSelect.cy.ts
  apps/web/__tests__/test/smoke/categoryPage.cy.ts
  apps/web/__tests__/test/smoke/languageSelect.cy.ts
  apps/web/components/CategoryTree/CategoryTree.vue
  apps/web/components/LanguageButton/LanguageButton.vue
  apps/web/components/LanguageSelector/LanguageSelector.vue
  apps/web/components/MegaMenu/MegaMenu.vue
  apps/web/components/ui/Header.vue
  apps/web/composables/index.ts
  apps/web/composables/useCategoryFilter/useCategoryFilter.ts
  apps/web/composables/useLanguageSelect/index.ts
  apps/web/composables/useLanguageSelect/useLanguageSelect.ts
  apps/web/composables/useLocalization/index.ts
  apps/web/composables/useLocalization/useLocalization.ts
  apps/web/nuxt.config.ts
  apps/web/pages/[...slug].vue
  apps/web/pages/product/[slug].vue
  lighthouserc.json
  package.json
  yarn.lock
Labels: feature

#361 feat: improve wishlist calls
  apps/web/__tests__/support/pageObjects/WishlistObject.ts
  apps/web/components/ui/Header.vue
  apps/web/composables/useInitalSetup/useInitialSetup.ts
  apps/web/composables/useWishlist/types.ts
  apps/web/composables/useWishlist/useWishlist.ts
Labels: feature

#363 fix: styling issues AB#100695
  apps/web/components/Coupon/Coupon.vue
  apps/web/components/NewsletterSubscribe/NewsletterSubscribe.vue
  apps/web/components/ShippingMethod/ShippingMethod.vue
  apps/web/components/ui/Badges/Badges.vue
Labels: fix

#365 fix: new return page style
  apps/web/components/OrderReturnProductCard/OrderReturnProductCard.vue
  apps/web/lang/en.json
  apps/web/layouts/account.vue
  apps/web/layouts/types.ts
  apps/web/pages/my-account/new-return/[id].vue
Labels: fix

#364 fix: sitemap excludes
  apps/web/nuxt.config.ts
Labels: fix

#368 chore: downgrade turbo package to a version that does not contain the…
  package.json
  yarn.lock
Labels: ignore-for-release

#367 feat: wishlist item availability AB#101092
  apps/web/components/WishlistPageContent/WishlistPageContent.vue
  apps/web/components/ui/Badges/Badges.vue
  apps/web/components/ui/ProductCard/ProductCard.vue
  apps/web/pages/checkout.vue
Labels: feature

#366 fix: improve item bundle
  apps/web/components/BundleOrderItems/BundleOrderItems.vue
  apps/web/components/OrderSummaryProductCard/OrderSummaryProductCard.vue
  apps/web/components/ui/CartProductCard/CartProductCard.vue
  package.json
  yarn.lock
Labels: fix

#376 fix: canonical language path AB#101715
  apps/web/composables/useCanonical/useCanonical.ts
Labels: fix

#375 fix: address format
  apps/web/components/OrderAddressData/OrderAddressData.vue
Labels: fix

#374 fix: legal text mobile AB#101548
  apps/web/pages/cancellation-form.vue
  apps/web/pages/cancellation-rights.vue
  apps/web/pages/legal-disclosure.vue
  apps/web/pages/privacy-policy.vue
  apps/web/pages/terms-and-conditions.vue
Labels: fix

#373 feat: load config in upload action
  .github/workflows/upload.yml
Labels: feature

#379 fix: order confirmation styling AB#101529
  apps/web/components/ConfirmationPageContent/ConfirmationPageContent.vue
  apps/web/public/images/order-success.svg
Labels: fix

#380 fix: item bundle csss
  apps/web/components/BundleOrderItems/BundleOrderItems.vue
Labels: fix

#383 fix: display bundle on ssr
  apps/web/components/BundleOrderItems/BundleOrderItems.vue
Labels: fix

#385 fix: header color on mobile device
  apps/web/nuxt.config.ts
Labels: fix

#370 fix: dont clear cart after failing order process
  apps/web/pages/checkout.vue
Labels: fix

#378 fix: homepage cls
  apps/web/pages/index.vue
Labels: fix

#387 feat: create new action for new release to send repo zip to the s3 bucket
  .github/workflows/release-new-app.yml
Labels: feature

#390 feat: unify address
  apps/web/components/Address/Address.vue
  apps/web/components/AddressDisplay/AddressDisplay.vue
  apps/web/components/AddressDisplay/types.ts
  apps/web/components/CheckoutAddress/CheckoutAddress.vue
  apps/web/components/OrderAddressData/OrderAddressData.vue
Labels: feature
