Repository plentymarkets/plentyshop-pwa, pull requests merged in 2024-01, with the labels that each got.

#279 feat: webp
  apps/web/.env.example
  apps/web/components/CategoryPageContent/CategoryPageContent.vue
  apps/web/components/OrderSummaryProductCard/OrderSummaryProductCard.vue
  apps/web/components/ProductSlider/ProductSlider.vue
  apps/web/components/ui/CartProductCard/CartProductCard.vue
  apps/web/composables/index.ts
  apps/web/composables/useImageUrl/index.ts
  apps/web/composables/useImageUrl/types.ts
  apps/web/composables/useImageUrl/useImageUrl.ts
  apps/web/nuxt.config.ts
  apps/web/pages/product/[slug].vue
Labels: feature

#281 feat: implement vee-validate
  apps/web/components/ContactInformation/ContactInformationForm.vue
  apps/web/lang/de.json
  apps/web/lang/en.json
  apps/web/nuxt.config.ts
  package.json
  yarn.lock
Labels: feature

#283 feat: merge from upstream
  apps/web/composables/useCustomer/__tests__/useCustomer.spec.ts
  apps/web/composables/useProductRecommended/__tests__/useProductRecommended.spec.ts
  apps/web/composables/useProductReviews/__tests__/useProductReviews.spec.ts
  yarn.lock
Labels: feature

#285 feat: show properties cart
  apps/web/components/CartOrderProperty/CartOrderProperty.vue
  apps/web/components/CartOrderProperty/types.ts
  apps/web/components/OrderPropertySelect/OrderPropertySelect.vue
  apps/web/components/OrderSummary/OrderSummary.vue
  apps/web/components/ui/CartProductCard/CartProductCard.vue
  apps/web/lang/de.json
  apps/web/lang/en.json
  apps/web/sdk/index.ts
  package.json
  yarn.lock
Labels: feature

#289 feat: order properties validation
  apps/web/components/OrderPropertyCheckbox/OrderPropertyCheckbox.vue
  apps/web/components/OrderPropertyInput/OrderPropertyInput.vue
  apps/web/components/OrderPropertySelect/OrderPropertySelect.vue
  apps/web/components/ui/PurchaseCard/PurchaseCard.vue
  apps/web/composables/useValidatorAggregator/index.ts
  apps/web/composables/useValidatorAggregator/types.ts
  apps/web/composables/useValidatorAggregator/useValidatorAggregator.ts
  apps/web/lang/de.json
  apps/web/lang/en.json
Labels: feature

#291 fix: validator agnostic composable
  apps/web/components/OrderPropertyCheckbox/OrderPropertyCheckbox.vue
  apps/web/components/OrderPropertyInput/OrderPropertyInput.vue
  apps/web/components/OrderPropertySelect/OrderPropertySelect.vue
  apps/web/composables/useValidatorAggregator/types.ts
  apps/web/composables/useValidatorAggregator/useValidatorAggregator.ts
Labels: fix

#287 feat: registration validation and fixes
  apps/web/components/register/register.vue
  apps/web/composables/useCustomer/types.ts
  apps/web/composables/useCustomer/useCustomer.ts
  apps/web/lang/de.json
  apps/web/lang/en.json
  apps/web/pages/login.vue
  yarn.lock
Labels: feature

#284 fix: order properties file upload component
  apps/web/components/OrderProperties/OrderProperties.vue
  apps/web/components/OrderPropertyFileUpload/OrderPropertyFileUpload.vue
  apps/web/components/OrderPropertyFileUpload/types.ts
  apps/web/lang/de.json
  apps/web/lang/en.json
  apps/web/public/images/file-upload.svg
Labels: fix

#288 feat: use new unified publish url
  .github/workflows/upload.yml
Labels: feature

#290 feat: nuxt unit tests
  .github/workflows/tests.yaml
  apps/web/__tests__/__mocks__/category-tree.mock.ts
  apps/web/__tests__/__mocks__/category.mock.ts
  apps/web/__tests__/__mocks__/facet.mock.ts
  apps/web/__tests__/__mocks__/product.mock.ts
  apps/web/__tests__/__mocks__/shipping-countries.mock.ts
  apps/web/components/AttributeSelect/AttributeSelect.vue
  apps/web/components/AttributeSelect/__tests__/AttributeSelect.spec.ts
  apps/web/components/CategoryFilters/__tests__/Filter.spec.ts
  apps/web/components/CategoryTree/__tests__/CategoryTree.spec.ts
  apps/web/components/CheckoutAddress/CheckoutAddress.vue
  apps/web/components/ContactInformation/ContactInformation.vue
  apps/web/components/ProductAccordion/__tests__/ProductAccordion.spec.ts
  apps/web/components/ShippingMethod/ShippingMethod.vue
  apps/web/components/ui/ProductCard/__tests__/ProductCard.spec.ts
  apps/web/components/ui/PurchaseCard/__tests__/PurchaseCard.spec.ts
  apps/web/composables/useCartShippingMethods/useCartShippingMethods.ts
  apps/web/composables/useProductReviews/__tests__/productReviewItems.mock.ts
  apps/web/nuxt.config.ts
  apps/web/package.json
  apps/web/vitest.config.mjs
  apps/web/vitest.config.setup.ts
  apps/web/vitest.config.ts
  apps/web/vue-test-utils.extend.js
  yarn.lock
Labels: feature

#272 chore: remove config docs
  README.md
  docs/config/cookies.md
  docs/config/i18n.md
  docs/config/middleware.md
  docs/config/pwa.md
  docs/config/theme.md
  docs/deployment/deployment.md
Labels: ignore-for-release

#293 feat: order properties for order confirmation
  apps/web/components/OrderSummaryProductCard/OrderSummaryProductCard.vue
  apps/web/components/OrderTotals/OrderTotals.vue
  package.json
  yarn.lock
Labels: feature

#294 feat: wishlist page
  apps/web/components/HeaderWithLink/HeaderWithLink.vue
  apps/web/components/HeaderWithLink/types.ts
  apps/web/components/WishlistButton/WishlistButton.vue
  apps/web/components/WishlistButton/types.ts
  apps/web/components/WishlistPageContent/WishlistPageContent.vue
  apps/web/components/WishlistPageContent/__tests__/CategoryPageContent.spec.ts
  apps/web/components/WishlistPageContent/types.ts
  apps/web/components/ui/Header.vue
  apps/web/components/ui/ProductCard/ProductCard.vue
  apps/web/lang/de.json
  apps/web/lang/en.json
  apps/web/layouts/account.vue
  apps/web/pages/my-account/wishlist.vue
  apps/web/pages/wishlist.vue
  apps/web/utils/paths.ts
Labels: feature

#296 feat: multiline order property
  apps/web/components/OrderPropertyInput/OrderPropertyInput.vue
  package.json
  yarn.lock
Labels: feature

#299 feat: my account navigation
  apps/web/__tests__/support/pageObjects/MyAccountPageObject.ts
  apps/web/__tests__/test/smoke/myAccountPage.cy.ts
  apps/web/components/AccountData/AccountData.vue
  apps/web/components/AddressesList/AddressesList.vue
  apps/web/components/WishlistPageContent/WishlistPageContent.vue
  apps/web/components/ui/Header.vue
  apps/web/layouts/account.vue
  apps/web/pages/my-account/my-orders.vue
  apps/web/pages/my-account/personal-data.vue
  apps/web/pages/my-account/returns.vue
  apps/web/pages/my-account/wishlist.vue
  apps/web/pages/wishlist.vue
Labels: feature

#297 feat: order property type validation
  apps/web/components/LoginComponent/LoginComponent.vue
  apps/web/components/OrderPropertyFileUpload/OrderPropertyFileUpload.vue
  apps/web/components/OrderPropertyInput/OrderPropertyInput.vue
  apps/web/components/register/register.vue
  apps/web/lang/de.json
  apps/web/lang/en.json
Labels: feature

#300 fix: update register.vue
  apps/web/components/register/register.vue
Labels: fix

#302 feat: validate newsletter registration
  apps/web/components/NewsletterSubscribe/NewsletterSubscribe.vue
  apps/web/lang/de.json
  apps/web/lang/en.json
  package.json
  yarn.lock
Labels: feature

#303 feat: file upload order property
  apps/server/package.json
  apps/server/src/index.ts
  apps/web/components/OrderPropertyFileUpload/OrderPropertyFileUpload.vue
  apps/web/components/OrderSummaryProductCard/OrderSummaryProductCard.vue
  apps/web/composables/useProductOrderProperties/types.ts
  apps/web/composables/useProductOrderProperties/useProductOrderProperties.ts
  apps/web/lang/de.json
  apps/web/lang/en.json
  yarn.lock
Labels: feature

#301 feat: integrate lighthouse in e2e tests
  .github/workflows/run-lhci-test.yml
  .github/workflows/tests.yaml
Labels: feature

#307 fix: order properties without group
  package.json
  yarn.lock
Labels: fix

#308 fix: order properties validation
  apps/web/components/OrderPropertyCheckbox/OrderPropertyCheckbox.vue
  apps/web/components/OrderPropertyFileUpload/OrderPropertyFileUpload.vue
  apps/web/components/OrderPropertyInput/OrderPropertyInput.vue
  apps/web/components/OrderPropertySelect/OrderPropertySelect.vue
  apps/web/components/ui/Notifications/NegativeNotification/NegativeNotification.vue
  apps/web/components/ui/Notifications/NeutralNotification/NeutralNotification.vue
  apps/web/components/ui/Notifications/PositiveNotification/PositiveNotification.vue
  apps/web/components/ui/Notifications/SecondaryNotification/SecondaryNotification.vue
  apps/web/components/ui/Notifications/WarningNotification/WarningNotification.vue
  apps/web/components/ui/PurchaseCard/PurchaseCard.vue
  apps/web/composables/useNotification/types.ts
  apps/web/composables/useNotification/useNotification.ts
  apps/web/composables/useValidatorAggregator/types.ts
  apps/web/composables/useValidatorAggregator/useValidatorAggregator.ts
  apps/web/lang/de.json
  apps/web/lang/en.json
Labels: fix

#311 fix: locale cookie lifespan/expire date
  apps/web/app.vue
Labels: fix

#312 fix: add 128 chars validation for order property
  apps/web/components/OrderPropertyInput/OrderPropertyInput.vue
  apps/web/lang/de.json
  apps/web/lang/en.json
Labels: fix

#305 fix: homepage recommended products
  apps/web/components/NewsletterSubscribe/NewsletterSubscribe.vue
  apps/web/components/ProductRecommendedProducts/ProductRecommendedProducts.vue
  apps/web/components/ProductRecommendedProducts/types.ts
  apps/web/components/ui/Header.vue
  apps/web/components/ui/NavbarBottom.vue
  apps/web/lang/de.json
  apps/web/lang/en.json
  apps/web/pages/index.vue
  apps/web/pages/product/[slug].vue
Labels: fix

#313 feat: wishlist e2e
  apps/web/__tests__/support/pageObjects/WishlistObject.ts
  apps/web/__tests__/test/feature/wishlistPage.cy.ts
  apps/web/components/WishlistButton/WishlistButton.vue
  apps/web/components/WishlistPageContent/WishlistPageContent.vue
  apps/web/components/ui/Header.vue
  apps/web/lang/de.json
  apps/web/lang/en.json
Labels: feature

#317 feat: initiate return
  apps/web/components/OrderReturnForm/OrderReturnForm.vue
  apps/web/components/OrderReturnForm/types.ts
  apps/web/components/OrderReturnFormConfirmation/OrderReturnFormConfirmation.vue
  apps/web/components/OrderReturnProductCard/OrderReturnProductCard.vue
  apps/web/components/OrderReturnProductCard/types.ts
  apps/web/components/ui/QuantitySelector/QuantitySelector.vue
  apps/web/composables/useReturnOrder/index.ts
  apps/web/composables/useReturnOrder/types.ts
  apps/web/composables/useReturnOrder/useReturnOrder.ts
  apps/web/pages/my-account/my-orders.vue
Labels: feature

#315 fix: paypal commit flag
  apps/web/components/PayPal/PayPalExpressButton.vue
  apps/web/composables/usePayPal/types.ts
  apps/web/composables/usePayPal/usePayPal.ts
Labels: fix

#316 chore: 19 01 review feedback
  apps/web/components/NewsletterSubscribe/NewsletterSubscribe.vue
  apps/web/components/register/register.vue
  apps/web/components/ui/PurchaseCard/PurchaseCard.vue
  apps/web/lang/de.json
  apps/web/lang/en.json
Labels: ignore-for-release
