Repository plentymarkets/plentyshop-pwa, pull requests merged in 2024-05, with the labels that each got.

#403 feat: quick checkout design work
  apps/web/.env.example
  apps/web/__tests__/support/pageObjects/ProductListPageObject.ts
  apps/web/__tests__/support/pageObjects/WishlistObject.ts
  apps/web/__tests__/test/smoke/cartPage.cy.ts
  apps/web/components/ProductPrice/ProductPrice.vue
  apps/web/components/ProductPrice/types.ts
  apps/web/components/QuickCheckout/QuickCheckout.vue
  apps/web/components/QuickCheckout/types.ts
  apps/web/components/ui/ProductCard/ProductCard.vue
  apps/web/components/ui/PurchaseCard/PurchaseCard.vue
  apps/web/composables/defaults.ts
  apps/web/composables/useCart/useCart.ts
  apps/web/composables/useQuickCheckout/index.ts
  apps/web/composables/useQuickCheckout/types.ts
  apps/web/composables/useQuickCheckout/useQuickCheckout.ts
  apps/web/lang/de.json
  apps/web/lang/en.json
  apps/web/layouts/default.vue
  apps/web/nuxt.config.ts
  apps/web/pages/product/[slug].vue
  docs/changelog/changelog_en.md
Labels: feature

#439 feat: renaming to alokai
  .github/CONTRIBUTING.md
  GUIDE.md
  README.md
  docs/changelog/changelog_de.md
  docs/changelog/changelog_en.md
Labels: feature

#424 feat: register overlay redesign
  apps/web/components/LoginComponent/LoginComponent.vue
  apps/web/components/LoginComponent/types.ts
  apps/web/components/register/register.vue
  apps/web/components/register/types.ts
  apps/web/components/ui/Header.vue
  apps/web/lang/de.json
  apps/web/lang/en.json
  apps/web/pages/login.vue
  docs/changelog/changelog_de.md
  docs/changelog/changelog_en.md
Labels: feature

#436 feat: lazy load images
  apps/web/assets/style.scss
  apps/web/components/BundleOrderItems/BundleOrderItems.vue
  apps/web/components/CartPageContent/CartPageContent.vue
  apps/web/components/CategoryEmptyState/CategoryEmptyState.vue
  apps/web/components/CheckoutPayment/CheckoutPayment.vue
  apps/web/components/Gallery/Gallery.vue
  apps/web/components/OrderPropertyFileUpload/OrderPropertyFileUpload.vue
  apps/web/components/OrderSummaryProductCard/OrderSummaryProductCard.vue
  apps/web/components/ProductAttributes/AttributeImage/AttributeImage.vue
  apps/web/components/ProductSlider/ProductSlider.vue
  apps/web/components/WishlistPageContent/WishlistPageContent.vue
  apps/web/components/ui/CartProductCard/CartProductCard.vue
  apps/web/components/ui/Hero/Hero.vue
  apps/web/components/ui/Icons/IconLinkedin.vue
  apps/web/components/ui/ProductCard/ProductCard.vue
  apps/web/components/ui/ProductCardHorizontal/ProductCardHorizontal.vue
  apps/web/components/ui/VsfLogo.vue
  apps/web/pages/index.vue
  apps/web/pages/my-account/my-orders.vue
  apps/web/pages/my-account/returns.vue
  apps/web/pages/reset-password-success.vue
  apps/web/pages/signup.vue
  docs/changelog/changelog_de.md
  docs/changelog/changelog_en.md
Labels: feature

#442 feat: homepage images conversion
  apps/web/components/Register/Register.vue
  apps/web/components/Register/types.ts
  apps/web/pages/index.vue
  apps/web/public/images/homepage-display-1.avif
  apps/web/public/images/homepage-display-1.webp
  apps/web/public/images/homepage-display-2.avif
  apps/web/public/images/homepage-display-2.webp
  apps/web/public/images/homepage-display-3.avif
  apps/web/public/images/homepage-display-3.webp
  apps/web/public/images/homepage-hero-bg-mobile.avif
  apps/web/public/images/homepage-hero-bg-mobile.webp
  apps/web/public/images/homepage-hero-bg.avif
  apps/web/public/images/homepage-hero-bg.webp
  apps/web/public/images/homepage-hero-headphones.avif
  apps/web/public/images/homepage-hero-headphones.webp
  apps/web/public/images/homepage-kid-category.avif
  apps/web/public/images/homepage-kid-category.webp
  apps/web/public/images/homepage-men-category.avif
  apps/web/public/images/homepage-men-category.webp
  apps/web/public/images/homepage-women-category.avif
  apps/web/public/images/homepage-women-category.webp
  docs/changelog/changelog_de.md
  docs/changelog/changelog_en.md
Labels: feature

#451 fix: made login button name accessible
  apps/web/components/ui/Header.vue
  apps/web/lang/de.json
  apps/web/lang/en.json
  docs/changelog/changelog_de.md
  docs/changelog/changelog_en.md
Labels: fix

#448 fix: reviews accessibility
  apps/web/components/ui/ProductCard/ProductCard.vue
  apps/web/components/ui/PurchaseCard/PurchaseCard.vue
  docs/changelog/changelog_de.md
  docs/changelog/changelog_en.md
Labels: fix

#441 fix: pixelated images on category view
  apps/web/components/CategoryPageContent/CategoryPageContent.vue
  apps/web/composables/useStructuredData/useStructuredData.ts
  docs/changelog/changelog_de.md
  docs/changelog/changelog_en.md
Labels: fix

#445 fix: javascript error on PWA preview
  apps/web/__tests__/test/unit/apiUrl.spec.ts
  apps/web/nuxt.config.ts
  apps/web/utils/pathHelper.ts
  docs/changelog/changelog_de.md
  docs/changelog/changelog_en.md
Labels: fix

#453 fix: ssr category filtering
  apps/web/components/CategoryFilters/Filter.vue
  apps/web/composables/useCategoryFilter/useCategoryFilter.ts
  docs/changelog/changelog_de.md
  docs/changelog/changelog_en.md
Labels: fix

#431 fix: paypal add to cart
  apps/web/components/CartPageContent/CartPageContent.vue
  apps/web/components/OrderPropertyFileUpload/OrderPropertyFileUpload.vue
  apps/web/components/PayPal/PayPalExpressButton.vue
  apps/web/components/PayPal/types.ts
  apps/web/components/ui/Notifications/Notifications.vue
  apps/web/components/ui/PurchaseCard/PurchaseCard.vue
  apps/web/composables/useLocalization/useLocalization.ts
  apps/web/composables/useProductOrderProperties/types.ts
  apps/web/composables/useProductOrderProperties/useProductOrderProperties.ts
  apps/web/composables/useStructuredData/useStructuredData.ts
  apps/web/nuxt.config.ts
  apps/web/pages/checkout.vue
  apps/web/pages/checkoutnew.vue
  docs/changelog/changelog_de.md
  docs/changelog/changelog_en.md
  package.json
  yarn.lock
Labels: fix

#447 fix: quantity on quickcheckout
  apps/web/components/QuickCheckout/QuickCheckout.vue
  apps/web/components/ui/ProductCard/ProductCard.vue
  apps/web/components/ui/PurchaseCard/PurchaseCard.vue
  apps/web/composables/useQuickCheckout/__tests__/useQuickCheckout.spec.ts
  apps/web/composables/useQuickCheckout/types.ts
  apps/web/composables/useQuickCheckout/useQuickCheckout.ts
  docs/changelog/changelog_de.md
  docs/changelog/changelog_en.md
Labels: fix

#454 fix: lighthouse button fix
  apps/web/components/WishlistButton/WishlistButton.vue
  docs/changelog/changelog_de.md
  docs/changelog/changelog_en.md
Labels: fix

#455 chore: aspect ratio for home image
  apps/web/pages/index.vue
Labels: ignore-for-release

#459 chore: modal click away / mega menu linking
  apps/web/components/MegaMenu/MegaMenu.vue
  apps/web/components/ui/Header.vue
  apps/web/composables/useCustomerContact/types.ts
  apps/web/composables/useCustomerContact/useCustomerContact.ts
  apps/web/pages/contact.vue
Labels: ignore-for-release

#462 fix: style fixes
  apps/web/components/WishlistButton/WishlistButton.vue
  apps/web/components/ui/CartProductCard/CartProductCard.vue
  docs/changelog/changelog_de.md
  docs/changelog/changelog_en.md
Labels: fix

#461 feat: added translations for cookies properties
  apps/web/components/Cookiebar/Cookiebar.vue
  apps/web/cookie.config.ts
  apps/web/lang/de.json
  apps/web/lang/en.json
  docs/changelog/changelog_de.md
  docs/changelog/changelog_en.md
Labels: feature

#464 fix: remove empty wishlist image
  apps/web/__tests__/support/pageObjects/WishlistObject.ts
  apps/web/components/WishlistPageContent/WishlistPageContent.vue
  docs/changelog/changelog_de.md
  docs/changelog/changelog_en.md
Labels: fix

#460 fix: remove returns image
  apps/web/pages/my-account/returns.vue
  docs/changelog/changelog_de.md
  docs/changelog/changelog_en.md
Labels: fix

#458 fix: sizes for demo images
  apps/web/nuxt.config.ts
  apps/web/pages/index.vue
  apps/web/public/images/homepage-display-1.avif
  apps/web/public/images/homepage-display-2.avif
  apps/web/public/images/homepage-hero-bg-mobile.avif
  apps/web/public/images/lg/homepage-display-1.avif
  apps/web/public/images/lg/homepage-display-2.avif
  apps/web/public/images/lg/homepage-display-3.avif
  apps/web/public/images/lg/homepage-hero-bg.avif
  apps/web/public/images/lg/homepage-hero-headphones.avif
  apps/web/public/images/md/homepage-display-1.avif
  apps/web/public/images/md/homepage-display-2.avif
  apps/web/public/images/md/homepage-display-3.avif
  apps/web/public/images/md/homepage-hero-bg.avif
  apps/web/public/images/md/homepage-hero-headphones.avif
  apps/web/public/images/sm/homepage-display-1.avif
  apps/web/public/images/sm/homepage-display-2.avif
  apps/web/public/images/sm/homepage-display-3.avif
  apps/web/public/images/sm/homepage-hero-bg.avif
  apps/web/public/images/sm/homepage-hero-headphones.avif
  docs/changelog/changelog_de.md
  docs/changelog/changelog_en.md
Labels: fix

#433 fix: refactor checkout address
  apps/web/components/AddressFormNew/AddressFormNew.vue
  apps/web/components/CheckoutAddressNew/CheckoutAddressNew.vue
  apps/web/composables/useAddress/types.ts
  apps/web/composables/useAddress/useAddress.ts
  apps/web/composables/useCart/types.ts
  apps/web/composables/useCart/useCart.ts
  apps/web/pages/checkoutnew.vue
  docs/changelog/changelog_de.md
  docs/changelog/changelog_en.md
Labels: fix

#470 fix: define expose
  apps/web/components/AddressFormNew/AddressFormNew.vue
  apps/web/components/CheckoutAddressNew/CheckoutAddressNew.vue
  docs/changelog/changelog_de.md
  docs/changelog/changelog_en.md
Labels: fix

#469 fix: wishlist multiple items
  apps/web/components/WishlistButton/WishlistButton.vue
  apps/web/components/WishlistPageContent/WishlistPageContent.vue
  apps/web/components/WishlistPageContent/types.ts
  apps/web/composables/useModernImage/useModernImage.ts
  apps/web/composables/useWishlist/useWishlist.ts
  apps/web/pages/my-account/wishlist.vue
  apps/web/pages/wishlist.vue
  docs/changelog/changelog_de.md
  docs/changelog/changelog_en.md
Labels: fix

#457 chore: preload images
  apps/web/components/CategoryPageContent/CategoryPageContent.vue
  apps/web/components/WishlistPageContent/WishlistPageContent.vue
  apps/web/pages/index.vue
Labels: ignore-for-release

#472 fix: local e2e tests
  apps/web/components/CategoryItemsPerPage/__tests__/CategoryItemsPerPage.spec.ts
  apps/web/components/ShippingMethod/__tests__/ShippingMethod.spec.ts
  docs/changelog/changelog_de.md
  docs/changelog/changelog_en.md
Labels: fix

#449 fix: bundle items accessability
  apps/web/components/BundleOrderItems/BundleOrderItems.vue
  apps/web/lang/de.json
  apps/web/lang/en.json
  docs/changelog/changelog_de.md
  docs/changelog/changelog_en.md
Labels: fix

#476 fix: use correct domain
  apps/web/components/ProductAttributes/AttributeImage/AttributeImage.vue
  apps/web/composables/useStructuredData/useStructuredData.ts
  apps/web/nuxt.config.ts
  docs/changelog/changelog_de.md
  docs/changelog/changelog_en.md
Labels: fix

#474 fix: thank you page missing details
  apps/web/components/OrderPaymentSummary/OrderPaymentSummary.vue
  apps/web/components/OrderShippingSummary/OrderShippingSummary.vue
  apps/web/lang/de.json
  apps/web/lang/en.json
  docs/changelog/changelog_de.md
  docs/changelog/changelog_en.md
Labels: fix

#473 fix: cookie external scripts
  apps/web/__tests__/support/pageObjects/CookieBarObject.ts
  apps/web/__tests__/test/feature/cookieBar.cy.ts
  apps/web/components/Cookiebar/Cookiebar.vue
  apps/web/composables/useReadCookieBar/useReadCookieBar.ts
  apps/web/cookie.config.ts
  docs/changelog/changelog_de.md
  docs/changelog/changelog_en.md
Labels: fix

#481 fix: add missing translations for the cookie bar
  apps/web/components/Cookiebar/Cookiebar.vue
  apps/web/lang/de.json
  apps/web/lang/en.json
  docs/changelog/changelog_de.md
  docs/changelog/changelog_en.md
Labels: fix

#479 feat: review feedback
  apps/web/components/ReviewsAccordion/ReviewsAccordion.vue
  apps/web/components/ui/Review/Review.vue
  apps/web/pages/product/[slug].vue
  docs/changelog/changelog_de.md
  docs/changelog/changelog_en.md
Labels: feature

#483 feat: custom icon
  apps/web/assets/icons/edit.svg
  apps/web/components/ui/Review/Review.vue
  apps/web/nuxt.config.ts
  docs/changelog/changelog_de.md
  docs/changelog/changelog_en.md
  package.json
  yarn.lock
Labels: feature
