Repository plentymarkets/plentyshop-pwa, pull requests merged in 2025-09, with the labels that each got.

#1586 fix: show net prices in net countries
  apps/web/components/CategoryPageContent/CategoryPageContent.vue
  apps/web/components/OrderAgain/OrderAgain.vue
  apps/web/components/OrderSummary/OrderSummary.vue
  apps/web/components/ProductSlider/ProductSlider.vue
  apps/web/components/QuickCheckout/QuickCheckout.vue
  apps/web/components/WishlistPageContent/WishlistPageContent.vue
  apps/web/components/ui/PurchaseCard/PurchaseCard.vue
  apps/web/composables/useCart/types.ts
  apps/web/composables/useCart/useCart.ts
  apps/web/composables/useCustomer/types.ts
  apps/web/composables/useCustomer/useCustomer.ts
  package-lock.json
  package.json
Labels: fix

#1646 fix: change error message for csrf token mismatch
  apps/web/composables/useAdditionalInformation/types.ts
  apps/web/composables/useAdditionalInformation/useAdditionalInformation.ts
  apps/web/composables/useAddressV2/useCreateAddress.ts
  apps/web/composables/useAddressV2/usePrimaryAddress.ts
  apps/web/i18n/lang/de.json
  apps/web/i18n/lang/en.json
  package-lock.json
  package.json
Labels: fix

#1611 feat: add edit for multigrid block
  apps/web/components/PageBlock/PageBlock.vue
  apps/web/components/blocks/structure/MultiGrid/MultiGrid.vue
  apps/web/components/ui/BlockActions/BlockActions.vue
  apps/web/components/ui/BlockActions/types.ts
Labels: ignore-for-release

#1628 feat: adding the image block as a standalone
  apps/web/public/_nuxt-plenty/editor/blocksLists.json
Labels: feature

#1657 feat: add image block text settings
  apps/web/components/blocks/Image/Image.vue
  apps/web/components/blocks/Image/ImageForm.vue
  apps/web/components/blocks/Image/types.ts
  apps/web/public/_nuxt-plenty/editor/blocksLists.json
Labels: feature

#1655 feat: setting calculate the variation position based on monthly sales
  apps/web/__tests__/support/pageObjects/CategorySettingsObject.ts
  apps/web/__tests__/test/editor/category/sorting/variation-position-based-on-sales/variationPositionBasedOnSales.cy.ts
  apps/web/components/settings/category/sorting/variation-position-based-on-sales/VariationPosition.vue
  apps/web/components/settings/category/sorting/variation-position-based-on-sales/types.ts
  apps/web/nuxt.config.ts
Labels: feature

#1659 fix: add missing ul element to footer contact link
  apps/web/components/blocks/Footer/Footer.vue
Labels: fix

#1554 feat: stock reservation for paypal + mollie
  apps/web/__tests__/support/commands.ts
  apps/web/__tests__/test/checkout/mollie.cy.ts
  apps/web/components/PayPal/ApplePayButton.vue
  apps/web/components/PayPal/GooglePayButton.vue
  apps/web/components/PayPal/PayPalAPM.vue
  apps/web/components/PayPal/PayPalCreditCardForm.vue
  apps/web/components/PayPal/PayPalExpressButton.vue
  apps/web/components/PayPal/PayPalPayUponInvoiceForm.vue
  apps/web/components/PaymentButtons/PaymentButtons.vue
  apps/web/composables/useApplePay/useApplePay.ts
  apps/web/composables/useGooglePay/useGooglePay.ts
  apps/web/i18n/lang/de.json
  apps/web/i18n/lang/en.json
  apps/web/pages/readonly-checkout.vue
Labels: feature, fix

#1668 fix: 'image add' button disabled until image upload call is 100% done
  apps/web/components/ui/ImageSelectorModal/ImageSelectorModal.vue
Labels: fix

#1693 fix: gallery products not shown
  apps/web/components/PageBlock/PageBlock.vue
Labels: fix

#1704 feat: flexible 6-6 multigrid
  apps/web/components/blocks/structure/MultiGrid/MultiGrid.vue
  apps/web/components/blocks/structure/MultiGrid/MultiGridForm.vue
  apps/web/components/blocks/structure/MultiGrid/types.ts
  apps/web/components/editor/ColumnWidthInput.vue
  apps/web/composables/index.ts
  apps/web/composables/useGridSplits/index.ts
  apps/web/composables/useGridSplits/useGridSplits.ts
Labels: feature

#1689 feat: add item grid block + form
  apps/web/components/CategoryPageContent/CategoryPageContent.vue
  apps/web/components/ProductSlider/ProductSlider.vue
  apps/web/components/WishlistPageContent/WishlistPageContent.vue
  apps/web/components/blocks/ItemGrid/ItemGrid.vue
  apps/web/components/blocks/ItemGrid/ItemGridForm.vue
  apps/web/components/blocks/ItemGrid/types.ts
  apps/web/components/ui/ProductCard/ProductCard.vue
  apps/web/components/ui/ProductCard/__tests__/ProductCard.spec.ts
  apps/web/components/ui/ProductCard/types.ts
  apps/web/composables/useCategoryTemplate/categoryTemplateDataEn.json
  apps/web/composables/useCategoryTemplate/types.ts
  apps/web/composables/useCategoryTemplate/useCategoryTemplate.ts
  apps/web/pages/[...slug].vue
  apps/web/utils/grid.ts
Labels: feature

#1703 feat: add item grid block to add list
  apps/web/public/_nuxt-plenty/editor/blocksLists.json
Labels: feature

#1723 fix: overflow x issues for Multigrid
  apps/web/components/blocks/structure/MultiGrid/MultiGrid.vue
Labels: fix

#1724 fix: improvements for image form padding field
  apps/web/components/blocks/Image/Image.vue
  apps/web/components/blocks/Image/ImageForm.vue
Labels: fix

#1726 feat: add info box for product categories
  apps/web/components/CategorySettingsDrawer/CategorySettingsDrawer.vue
Labels: feature

#1733 fix: ensure MultiGrid margins are set for existing blocks before form is opened
  apps/web/components/blocks/structure/MultiGrid/MultiGrid.vue
  apps/web/components/blocks/structure/MultiGrid/MultiGridForm.vue
Labels: fix

#1678 feat: add multigrid parent slot ordering
  apps/web/components/blocks/structure/MultiGrid/MultiGrid.vue
  apps/web/components/ui/BlockActions/BlockActions.vue
  apps/web/composables/useBlockManager/useBlockManager.ts
  apps/web/composables/useCategoryTemplate/homepageTemplateDataEn.json
  apps/web/public/_nuxt-plenty/editor/blocksLists.json
  apps/web/utils/settings-groups-imports.ts
Labels: feature

#1734 feat: changes to sort filter
  apps/web/components/CategoryItemsPerPage/CategoryItemsPerPage.vue
  apps/web/components/CategorySorting/CategorySorting.vue
  apps/web/components/blocks/SortFilter/SortFilter.vue
  apps/web/components/blocks/SortFilter/SortFilterForm.vue
Labels: feature

#1729 test: unit test suite for Multigrid component
  apps/web/components/blocks/structure/MultiGrid/MultiGrid.vue
  apps/web/components/blocks/structure/MultiGrid/__tests__/Multigrid.spec.ts
  apps/web/components/blocks/structure/MultiGrid/__tests__/multiGrid.mock.ts
Labels: feature

#1745 test: unit test suite for Image block component
  apps/web/components/blocks/Image/Image.vue
  apps/web/components/blocks/Image/__tests__/Image.button.spec.ts
  apps/web/components/blocks/Image/__tests__/Image.image.spec.ts
  apps/web/components/blocks/Image/__tests__/Image.layout.spec.ts
  apps/web/components/blocks/Image/__tests__/Image.mock.ts
  apps/web/components/blocks/Image/__tests__/Image.text.spec.ts
Labels: feature
