Repository plentymarkets/plentyshop-pwa, pull requests merged in 2025-03, with the labels that each got.

#1100 fix: toolbar language switch
  apps/web/components/ui/LanguageEditor/LanguageEditor.vue
  docs/changelog/changelog_en.md
  lighthouserc.json
Labels: fix

#1102 feat: rename block section titles
  apps/web/components/BlockEditView/BlockEditView.vue
  docs/changelog/changelog_en.md
Labels: fix

#1095 feat: show checkout delivery export hint
  apps/web/components/CheckoutExportDeliveryHint/CheckoutExportDeliveryHint.vue
  apps/web/composables/useAddressForm/useAddressForm.ts
  apps/web/i18n/lang/de.json
  apps/web/i18n/lang/en.json
  apps/web/pages/checkout.vue
  docs/changelog/changelog_en.md
  package-lock.json
  package.json
Labels: feature

#1104 fix: editor side toolbar visibility
  apps/web/__tests__/support/pageObjects/HomePageObject.ts
  apps/web/__tests__/test/smoke/homePage.cy.ts
  apps/web/app.vue
  apps/web/components/SettingsToolbar/SettingsToolbar.vue
  docs/changelog/changelog_en.md
Labels: fix

#1105 fix: link in german template references english category
  apps/web/composables/useHomepage/homepageTemplateDataDe.json
Labels: fix

#1116 fix: category middleware
  apps/web/__tests__/__mocks__/category-tree.mock.ts
  apps/web/composables/useMegaMenu/useMegaMenu.ts
  apps/web/composables/useProducts/types.ts
  apps/web/composables/useProducts/useProducts.ts
  apps/web/composables/useSearch/useSearch.ts
  apps/web/middleware/category-guard.ts
  apps/web/pages/[...slug].vue
  apps/web/utils/__tests__/__fixtures__/CategoryTree.ts
  docs/changelog/changelog_en.md
  package-lock.json
  package.json
Labels: fix

#1121 fix: page selector quick fix for page selector
  apps/web/components/ui/PageSelector/PageSelector.vue
  apps/web/pages/[...slug].vue
  docs/changelog/changelog_en.md
Labels: fix

#1117 fix: mange pages button
  apps/web/components/ui/PageSearch/PageSearch.vue
  docs/changelog/changelog_en.md
Labels: fix

#1119 feat: add legal disclosure to the cookie bar description
  apps/web/components/Cookiebar/Cookiebar.vue
  apps/web/i18n/lang/de.json
  apps/web/i18n/lang/en.json
  docs/changelog/changelog_en.md
Labels: feature, fix

#1122 fix: page selector closes when clicking outside of it
  apps/web/components/ui/PageSearch/PageSearch.vue
  apps/web/components/ui/PageSelector/PageSelector.vue
  docs/changelog/changelog_en.md
Labels: fix

#1129 fix: faulty z-index
  apps/web/components/ui/Toolbar/Toolbar.vue
Labels: fix

#1137 fix: toolbar arrow
  apps/web/components/ui/LanguageEditor/LanguageEditor.vue
  docs/changelog/changelog_en.md
Labels: fix

#1140 fix: checkout email validation
  apps/web/__tests__/test/feature/contactInformation.cy.ts
  docs/changelog/changelog_en.md
  package-lock.json
  package.json
Labels: fix

#1136 fix: categories navigation overflow in menu
  apps/web/components/MegaMenu/MegaMenu.vue
  docs/changelog/changelog_en.md
Labels: fix

#1130 fix: page search closes when clicking on button
  apps/web/components/ui/PageSearch/PageSearch.vue
  apps/web/components/ui/PageSelector/PageSelector.vue
  docs/changelog/changelog_en.md
Labels: fix

#1145 fix: shipping data my orders UI
  apps/web/pages/my-account/my-orders.vue
  docs/changelog/changelog_en.md
Labels: fix

#1125 fix: side navigation for german language
  apps/web/components/PagesView/PagesItem.vue
  apps/web/components/PagesView/PagesView.vue
  docs/changelog/changelog_en.md
Labels: fix

#1146 feat: category settings design
  apps/web/components/CategorySettingsDrawer/CategorySettingsDrawer.vue
  apps/web/components/PagesView/PagesItem.vue
  apps/web/components/PagesView/PagesView.vue
  apps/web/composables/useSiteConfiguration/types.ts
  apps/web/composables/useSiteConfiguration/useSiteConfiguration.ts
  docs/changelog/changelog_en.md
Labels: feature

#1131 feat: use sdk from shop core
  apps/web/nuxt.config.ts
  apps/web/package.json
  apps/web/sdk.client.ts
  apps/web/sdk.config.ts
  apps/web/utils/__tests__/sdkClientHelper.spec.ts
  docs/changelog/changelog_en.md
  package-lock.json
  package.json
Labels: feature, fix

#1134 feat: SEO view
  apps/web/components/CategorySettingsDrawer/CategorySettingsDrawer.vue
  apps/web/components/PagesView/PagesView.vue
  apps/web/components/SeoView/SeoView.vue
  apps/web/components/ui/Toolbar/Toolbar.vue
  docs/changelog/changelog_en.md
Labels: feature

#1156 fix: volume discount on customer class leads to zero
  apps/web/composables/useProductPrice/useProductPrice.ts
  docs/changelog/changelog_en.md
Labels: fix

#1165 feat: unlink category
  apps/web/app.vue
  apps/web/components/PagesGeneralSettings/PagesGeneralSettings.vue
  apps/web/components/PagesView/PagesItem.vue
  apps/web/components/SiteConfigurationDrawer/SiteConfigurationDrawer.vue
  apps/web/components/ui/UnlinkCategoryModal/UnlinkCategoryModal.vue
  apps/web/composables/useSiteConfiguration/types.ts
  apps/web/composables/useSiteConfiguration/useSiteConfiguration.ts
  apps/web/configuration/tailwind.config.ts
  docs/changelog/changelog_en.md
Labels: feature

#1142 fix: preview images on item page gallery overlap
  apps/web/components/Gallery/Gallery.vue
  docs/changelog/changelog_en.md
Labels: fix
