Repository plentymarkets/plentyshop-pwa, pull requests merged in 2025-06, with the labels that each got.

#1362 fix: robots save
  apps/web/components/PageSeoView/PageSeoView.vue
Labels: fix

#1363 fix: page modal redirect logic
  apps/web/composables/useAddPage/useAddPage.ts
Labels: fix

#1370 fix: open form on empty block
  apps/web/composables/useBlockManager/useBlockManager.ts
Labels: fix

#1368 fix: correct lines over block hover
  apps/web/app.vue
  apps/web/components/PageBlock/PageBlock.vue
Labels: fix

#1382 fix: redirect to homepage after deletion
  apps/web/composables/useCategorySettings/useCategorySettings.ts
Labels: fix

#1376 fix: languages for categories in page management
  apps/web/components/CategorySettingsDrawer/CategorySettingsDrawer.vue
  apps/web/components/PageSeoView/PageSeoView.vue
  apps/web/components/PageSettingsView/PageSettingsView.vue
  apps/web/components/PagesView/PagesItem.vue
  apps/web/components/PagesView/PagesView.vue
  apps/web/composables/useAddPage/useAddPage.ts
  apps/web/composables/useCategoriesSearch/useCategoriesSearch.ts
  apps/web/composables/useCategoryIdHelper/useCategoryIdHelper.ts
  apps/web/composables/useCategorySettings/useCategorySettings.ts
  apps/web/composables/useCategorySettingsCollection/useCategorySettingsCollection.ts
Labels: ignore-for-release

#1383 fix: edit page button correct redirect
  apps/web/components/CategorySettingsDrawer/CategorySettingsDrawer.vue
  apps/web/components/PagesView/PagesItem.vue
  apps/web/composables/useCategoryIdHelper/useCategoryIdHelper.ts
Labels: fix

#1377 fix: dont show 0,00 voucher on order confirmation page
  apps/web/components/OrderTotals/OrderTotals.vue
Labels: fix

#1393 fix: handle preview url if language isn't set up
  apps/web/components/PagesView/PagesItem.vue
Labels: fix, ignore-for-release

#1394 fix: save blocks in non-default language
  apps/web/composables/useUpdatePageTemplate/useUpdatePageTemplate.ts
Labels: fix
