Repository plentymarkets/plentyshop-pwa, pull requests merged in 2025-02, with the labels that each got.

#1010 fix: editor components display logic
  apps/web/components/PageBlock/PageBlock.vue
  apps/web/components/ui/Toolbar/Toolbar.vue
  apps/web/composables/useSiteConfiguration/useSiteConfiguration.ts
  docs/changelog/changelog_en.md
Labels: fix

#1007 fix: set colors at runtime
  apps/web/assets/_variables.scss
  apps/web/assets/style.scss
  apps/web/build/index.ts
  apps/web/plugins/generate-color-palette.ts
  apps/web/utils/tailwindHelper.ts
  docs/changelog/changelog_en.md
Labels: fix

#1021 fix: add fallback colors to palette plugin
  apps/web/plugins/generate-color-palette.ts
Labels: fix

#1013 feat: slider edit
  apps/web/__tests__/test/editor/editMode.cy.ts
  apps/web/app.vue
  apps/web/blocks/blocksLists.ts
  apps/web/components/BlockEditView/BlockEditView.vue
  apps/web/components/BlockSlider/BlockSlider.vue
  apps/web/components/BlocksNavigationList/BlocksNavigationList.vue
  apps/web/components/BlocksNavigationList/types.ts
  apps/web/components/Editor/Editor.vue
  apps/web/components/SiteConfigurationDrawer/SiteConfigurationDrawer.vue
  apps/web/components/ui/Banner/Banner.vue
  apps/web/components/ui/Banner/__tests__/Banner.text.spec.ts
  apps/web/components/ui/Banner/types.ts
  apps/web/components/ui/BlockActions/BlockActions.vue
  apps/web/components/ui/HeroCarousel/HeroCarousel.vue
  apps/web/components/ui/Toolbar/Toolbar.vue
  apps/web/composables/useHomepage/types.ts
  apps/web/composables/useHomepage/useHomepage.ts
  apps/web/composables/useSiteConfiguration/types.ts
  apps/web/composables/useSiteConfiguration/useSiteConfiguration.ts
  apps/web/nuxt.config.ts
  apps/web/pages/index.vue
  docs/changelog/changelog_en.md
Labels: feature

#1023 feat: slider edit improvements
  apps/web/__tests__/fixtures/newContent.json
  apps/web/blocks/blocksLists.ts
  apps/web/components/BlockSlider/BlockSlider.vue
  apps/web/components/NewsletterSubscribe/types.ts
  apps/web/components/ui/Banner/Banner.vue
  apps/web/components/ui/Banner/__tests__/Banner.button.spec.ts
  apps/web/components/ui/Banner/__tests__/Banner.defaults.spec.ts
  apps/web/components/ui/Banner/__tests__/Banner.image.spec.ts
  apps/web/components/ui/Banner/__tests__/Banner.text.spec.ts
  apps/web/components/ui/Banner/types.ts
  apps/web/components/ui/BlockActions/BlockActions.vue
  apps/web/components/ui/HeroCarousel/HeroCarousel.vue
  apps/web/components/ui/ImageText/types.ts
  apps/web/components/ui/TextCard/types.ts
  apps/web/composables/useHomepage/homepageTemplateDataDe.json
  apps/web/composables/useHomepage/homepageTemplateDataEn.json
  apps/web/composables/useHomepage/types.ts
  apps/web/composables/useHomepage/useHomepage.ts
  apps/web/composables/useSiteConfiguration/types.ts
  apps/web/composables/useSiteConfiguration/useSiteConfiguration.ts
  apps/web/nuxt.config.ts
  docs/changelog/changelog_en.md
Labels: feature

#1026 feat: adding newsletterform to block settings
  apps/web/components/BlockEditView/BlockEditView.vue
  apps/web/components/NewsletterSubscribeForm/NewsletterSubscribeForm.vue
  docs/changelog/changelog_en.md
Labels: feature

#1028 fix: multiple slider controls
  apps/web/__tests__/fixtures/newContent.json
  apps/web/blocks/blocksLists.ts
  apps/web/components/BlockEditView/BlockEditView.vue
  apps/web/components/BlockSlider/BlockSlider.vue
  apps/web/components/NewsletterSubscribe/types.ts
  apps/web/components/PageBlock/PageBlock.vue
  apps/web/components/ProductRecommendedProducts/types.ts
  apps/web/components/SiteSettingsView/SiteSettingsView.vue
  apps/web/components/ui/Banner/__tests__/Banner.button.spec.ts
  apps/web/components/ui/Banner/__tests__/Banner.defaults.spec.ts
  apps/web/components/ui/Banner/__tests__/Banner.image.spec.ts
  apps/web/components/ui/Banner/__tests__/Banner.text.spec.ts
  apps/web/components/ui/Banner/types.ts
  apps/web/components/ui/BlazeCarousel/BlazeCarousel.vue
  apps/web/components/ui/HeroCarousel/HeroCarousel.vue
  apps/web/components/ui/ImageText/types.ts
  apps/web/components/ui/TextCard/types.ts
  apps/web/components/ui/Toolbar/Toolbar.vue
  apps/web/composables/useBlockManager/useBlockManager.ts
  apps/web/composables/useHomepage/homepageTemplateDataDe.json
  apps/web/composables/useHomepage/homepageTemplateDataEn.json
  apps/web/composables/useHomepage/types.ts
  apps/web/composables/useHomepage/useHomepage.ts
  apps/web/composables/useSiteConfiguration/types.ts
  apps/web/composables/useSiteConfiguration/useSiteConfiguration.ts
  apps/web/configuration/tailwind.config.ts
  docs/changelog/changelog_en.md
Labels: feature, fix

#1040 feat: use shop-core module
  apps/web/components/Cookiebar/Cookiebar.vue
  apps/web/components/PayPal/PayPalCreditCardForm.vue
  apps/web/components/PayPal/PayPalExpressButton.vue
  apps/web/components/ui/Search.vue
  apps/web/composables/index.ts
  apps/web/composables/useApplePay/useApplePay.ts
  apps/web/composables/useCart/useCart.ts
  apps/web/composables/useCookieConsent/index.ts
  apps/web/composables/useCookieConsent/useCookieConsent.ts
  apps/web/composables/useCustomer/useCustomer.ts
  apps/web/composables/useGooglePay/useGooglePay.ts
  apps/web/composables/useReadCookieBar/__tests__/useReadCookieBar.spec.ts
  apps/web/composables/useReadCookieBar/cookieBarHelper.ts
  apps/web/composables/useReadCookieBar/index.ts
  apps/web/composables/useReadCookieBar/types.ts
  apps/web/composables/useReadCookieBar/useReadCookieBar.ts
  apps/web/composables/useWishlist/useWishlist.ts
  apps/web/configuration/cookie.config.ts
  apps/web/nuxt.config.ts
  apps/web/pages/checkout.vue
  docs/changelog/changelog_en.md
  package.json
  yarn.lock
Labels: feature, fix

#1039 fix: image text block component ratio
  apps/web/components/TextContent/TextContent.vue
  apps/web/components/ui/ImageText/ImageText.vue
  docs/changelog/changelog_en.md
Labels: fix

#1025 feat: recommended block
  apps/web/components/BlockEditView/BlockEditView.vue
  apps/web/components/BlockRecommendedProducts/BlockRecommendedProducts.vue
  apps/web/components/ProductRecommendedProducts/ProductRecommendedProducts.vue
  apps/web/components/ProductRecommendedProducts/types.ts
  apps/web/composables/useHomepage/types.ts
  apps/web/composables/useHomepage/useHomepage.ts
  docs/changelog/changelog_en.md
Labels: feature, fix

#1043 feat: dynamic component loading
  apps/web/__tests__/fixtures/newContent.json
  apps/web/__tests__/test/editor/imagetext.cy.ts
  apps/web/blocks/blocksLists.ts
  apps/web/components/BlockEditView/BlockEditView.vue
  apps/web/components/PageBlock/PageBlock.vue
  apps/web/components/blocks/BannerCarousel/Banner.vue
  apps/web/components/blocks/BannerCarousel/BannerCarousel.vue
  apps/web/components/blocks/BannerCarousel/BannerCarouselForm.vue
  apps/web/components/blocks/BannerCarousel/BannerSkeleton.vue
  apps/web/components/blocks/BannerCarousel/BlazeCarousel.vue
  apps/web/components/blocks/BannerCarousel/HeroCarousel.vue
  apps/web/components/blocks/BannerCarousel/__tests__/Banner.button.spec.ts
  apps/web/components/blocks/BannerCarousel/__tests__/Banner.defaults.spec.ts
  apps/web/components/blocks/BannerCarousel/__tests__/Banner.image.spec.ts
  apps/web/components/blocks/BannerCarousel/__tests__/Banner.text.spec.ts
  apps/web/components/blocks/BannerCarousel/styles/navigation.min.css
  apps/web/components/blocks/BannerCarousel/styles/pagination.min.css
  apps/web/components/blocks/BannerCarousel/styles/swiper.min.css
  apps/web/components/blocks/BannerCarousel/types.ts
  apps/web/components/blocks/ImageText/ImageText.vue
  apps/web/components/blocks/ImageText/ImageTextForm.vue
  apps/web/components/blocks/ImageText/types.ts
  apps/web/components/blocks/NewsletterSubscribe/NewsletterSubscribe.vue
  apps/web/components/blocks/NewsletterSubscribe/NewsletterSubscribeForm.vue
  apps/web/components/blocks/NewsletterSubscribe/types.ts
  apps/web/components/blocks/ProductRecommendedProducts/ProductRecommendedProducts.vue
  apps/web/components/blocks/ProductRecommendedProducts/ProductRecommendedProductsForm.vue
  apps/web/components/blocks/ProductRecommendedProducts/types.ts
  apps/web/components/blocks/TextCard/TextCard.vue
  apps/web/components/blocks/TextCard/TextCardForm.vue
  apps/web/components/blocks/TextCard/types.ts
  apps/web/components/ui/Banner/types.ts
  apps/web/components/ui/HeroCarousel/types.ts
  apps/web/composables/useHomepage/homepageTemplateDataDe.json
  apps/web/composables/useHomepage/homepageTemplateDataEn.json
  apps/web/composables/useHomepage/types.ts
  apps/web/composables/useHomepage/useHomepage.ts
  apps/web/pages/index.vue
  docs/changelog/changelog_en.md
Labels: feature

#1049 fix: close edit drawer on block delete
  apps/web/composables/useBlockManager/useBlockManager.ts
  docs/changelog/changelog_en.md
Labels: fix

#1050 feat: gtag implementation
  apps/web/nuxt.config.ts
  docs/changelog/changelog_en.md
  package.json
  yarn.lock
Labels: feature

#1048 feat: site settings test
  apps/web/__tests__/support/pageObjects/EditorObject.ts
  apps/web/__tests__/support/pageObjects/SiteSettingsObject.ts
  apps/web/__tests__/test/editor/siteSettings.cy.ts
  apps/web/app.vue
  apps/web/components/SiteSettingsView/SiteSettingsView.vue
  apps/web/components/ui/Toolbar/Toolbar.vue
  apps/web/utils/tailwindHelper.ts
  docs/changelog/changelog_en.md
Labels: feature, fix

#1057 feat: testing for recommended products
  apps/web/__tests__/test/editor/recommeneded.cy.ts
  apps/web/components/blocks/ProductRecommendedProducts/ProductRecommendedProducts.vue
  apps/web/components/blocks/ProductRecommendedProducts/ProductRecommendedProductsForm.vue
  apps/web/components/ui/ProductCard/ProductCard.vue
  docs/changelog/changelog_en.md
Labels: fix

#1061 fix: save changes button reactivity
  apps/web/composables/useHomepage/useHomepage.ts
  apps/web/pages/index.vue
  docs/changelog/changelog_en.md
Labels: fix

#1009 feat: use local env as build source
  apps/web/build/configurator/AppConfigurator.ts
  apps/web/build/configurator/SystemConfiguration.ts
  apps/web/build/configurator/__tests__/AppConfigurator.spec.ts
  apps/web/build/configurator/types.ts
  apps/web/build/index.ts
  docs/changelog/changelog_en.md
Labels: feature, fix

#1072 fix: build i18n
  apps/web/build/configurator/AppConfigurator.ts
  apps/web/build/configurator/SystemConfiguration.ts
  apps/web/build/configurator/__tests__/AppConfigurator.spec.ts
  apps/web/build/configurator/types.ts
  docs/changelog/changelog_de.md
  docs/changelog/changelog_en.md
Labels: fix

#1069 feat: adding feedback notifications for save changes button
  apps/web/components/ui/Toolbar/Toolbar.vue
  apps/web/composables/useCategoryTemplate/useCategoryTemplate.ts
  apps/web/composables/useSiteConfiguration/types.ts
  apps/web/composables/useSiteConfiguration/useSiteConfiguration.ts
  apps/web/composables/useToolbar/useToolbar.ts
  apps/web/composables/useUpdatePageTemplate/useUpdatePageTemplate.ts
  apps/web/i18n/lang/de.json
  apps/web/i18n/lang/en.json
  docs/changelog/changelog_en.md
Labels: feature

#1068 ci: test performance increase
  lighthouserc.json
Labels: feature

#1075 fix: recommended products on product pages
  apps/web/pages/product/[slug].vue
  docs/changelog/changelog_en.md
Labels: fix

#1077 fix: save button state
  apps/web/composables/useBlockManager/useBlockManager.ts
  apps/web/composables/useUpdatePageTemplate/useUpdatePageTemplate.ts
  apps/web/pages/index.vue
  docs/changelog/changelog_en.md
Labels: fix

#1080 fix: recommended products add block
  apps/web/components/blocks/ProductRecommendedProducts/ProductRecommendedProducts.vue
  apps/web/composables/useHomepage/useHomepage.ts
  docs/changelog/changelog_en.md
Labels: fix

#1088 chore: update editor feedback messages
  apps/web/i18n/lang/de.json
  apps/web/i18n/lang/en.json
Labels: enhancement

#1083 feat: guest email auto save
  apps/web/__tests__/support/pageObjects/CheckoutPageObject.ts
  apps/web/components/AddressFormBilling/AddressFormBilling.vue
  apps/web/components/AddressFormShipping/AddressFormShipping.vue
  apps/web/components/ContactInformation/ContactInformation.vue
  apps/web/components/ContactInformation/ContactInformationForm.vue
  apps/web/components/ContactInformation/__tests__/ContactInformationForm.spec.ts
  apps/web/composables/useCustomer/types.ts
  apps/web/composables/useCustomer/useCustomer.ts
  apps/web/nuxt.config.ts
  apps/web/pages/checkout.vue
  apps/web/pages/my-account/personal-data.vue
  docs/changelog/changelog_en.md
  package-lock.json
  package.json
Labels: feature, fix

#1091 fix: setting persistence
  apps/web/nuxt.config.ts
  apps/web/plugins/generate-color-palette.ts
  docs/changelog/changelog_en.md
Labels: fix

#1090 fix: homepage template
  apps/web/__tests__/test/editor/recommeneded.cy.ts
  apps/web/composables/useHomepage/homepageTemplateDataDe.json
  apps/web/composables/useHomepage/homepageTemplateDataEn.json
  docs/changelog/changelog_en.md
Labels: fix
