Repository plentymarkets/plentyshop-pwa, pull requests merged in 2025-01, with the labels that each got.

#931 fix: missing aria label for reset filters
  apps/web/components/CategoryFilters/Filter.vue
  docs/changelog/changelog_en.md
Labels: fix

#934 feat: max shipping days for shipping profile
  apps/web/components/OrderSummary/__tests__/ContactInformation.spec.ts
  apps/web/components/ShippingMethod/ShippingMethod.vue
  apps/web/lang/de.json
  apps/web/lang/en.json
  docs/changelog/changelog_en.md
  package.json
  yarn.lock
Labels: feature

#933 chore: upgrade alokai middleware to 5.3.2
  apps/server/middleware.config.ts
  apps/server/package.json
  apps/server/src/index.ts
  apps/server/tsconfig.json
  apps/web/.env.example
  apps/web/package.json
  yarn.lock
Labels: fix

#932 fix: homepage recommended products
  apps/web/components/ProductRecommendedProducts/ProductRecommendedProducts.vue
  apps/web/components/ProductRecommendedProducts/types.ts
  apps/web/components/RecommendedProducts/RecommendedProducts.vue
  apps/web/components/RecommendedProducts/types.ts
  apps/web/composables/useHomepage/types.ts
  apps/web/composables/useHomepage/useHomepage.ts
  apps/web/composables/useProductRecommended/useProductRecommended.ts
  docs/changelog/changelog_en.md
Labels: fix

#938 fix: gallery thumb alt
  apps/web/components/Gallery/Gallery.vue
  docs/changelog/changelog_en.md
Labels: fix

#940 feat: module injecting components
  apps/web/components/ModuleComponentRendering/ModuleComponentRendering.vue
  apps/web/components/ModuleComponentRendering/types.ts
  apps/web/composables/index.ts
  apps/web/composables/useModuleRendering/areas.ts
  apps/web/composables/useModuleRendering/index.ts
  apps/web/composables/useModuleRendering/useModuleRendering.ts
  apps/web/pages/checkout.vue
  docs/changelog/changelog_en.md
Labels: feature, fix

#935 fix: remove accept paypal cookie button
  apps/web/__tests__/test/feature/paypalButtons.cy.ts
  apps/web/__tests__/test/quarantine/paypalCreditCard.spec.cy.ts
  apps/web/components/PayPal/PayPalCookieDisabledBanner.vue
  apps/web/components/PayPal/PayPalCreditCardBuyButton.vue
  apps/web/components/PayPal/PayPalExpressButton.vue
  apps/web/components/PayPal/PayPalPayLaterBanner.vue
  apps/web/components/ui/PurchaseCard/__tests__/PurchaseCard.spec.ts
  apps/web/composables/useCookieConsent/useCookieConsent.ts
  apps/web/composables/usePayPal/usePayPal.ts
  apps/web/composables/useReadCookieBar/__tests__/useReadCookieBar.spec.ts
  apps/web/configuration/cookie.config.ts
  apps/web/lang/de.json
  apps/web/lang/en.json
  apps/web/pages/checkout.vue
  docs/changelog/changelog_en.md
Labels: fix

#951 fix: header z-index
  apps/web/components/MegaMenu/MegaMenu.vue
  apps/web/components/PageBlock/PageBlock.vue
Labels: fix

#944 fix: save button enable/disable behaviour
  apps/web/components/Editor/Editor.vue
  apps/web/components/ui/Toolbar/Toolbar.vue
  apps/web/composables/useBlockManager/useBlockManager.ts
  apps/web/composables/useHomepage/types.ts
  apps/web/composables/useHomepage/useHomepage.ts
  apps/web/composables/useJsonEditor/useJsonEditor.ts
  apps/web/composables/useUpdatePageTemplate/useUpdatePageTemplate.ts
  apps/web/pages/index.vue
  apps/web/utils/jsonHelper.ts
  docs/changelog/changelog_en.md
Labels: fix

#958 fix: product accordions
  apps/web/components/ui/AccordionItem/AccordionItem.vue
  docs/changelog/changelog_en.md
Labels: fix

#942 feat: canonical url setting
  apps/web/composables/useStructuredData/types.ts
  apps/web/composables/useStructuredData/useStructuredData.ts
  apps/web/pages/product/[slug].vue
  docs/changelog/changelog_en.md
  package.json
  yarn.lock
Labels: feature

#962 fix: use route in middleware
  apps/web/components/CategoryFilters/Filter.vue
  apps/web/components/CategorySorting/CategorySorting.vue
  apps/web/components/TextContent/TextContent.vue
  apps/web/composables/useCanonical/useCanonical.ts
  apps/web/composables/useCategoryFilter/useCategoryFilter.ts
  apps/web/sdk.client.ts
  docs/changelog/changelog_en.md
Labels: feature, fix

#971 fix: handle disabled en de
  apps/web/build/configurator/AppConfigurator.ts
  docs/changelog/changelog_en.md
Labels: fix

#972 fix: newsletter asterix should be visible only if nameIsRequired flag…
  apps/web/components/NewsletterSubscribe/NewsletterSubscribe.vue
  docs/changelog/changelog_en.md
Labels: fix

#968 fix: blaze carousel spacings and colors
  apps/web/__tests__/fixtures/newContent.json
  apps/web/components/PageBlock/PageBlock.vue
  apps/web/components/ProductRecommendedProducts/ProductRecommendedProducts.vue
  apps/web/components/ui/Banner/Banner.vue
  apps/web/components/ui/Banner/types.ts
  apps/web/components/ui/BlazeCarousel/BlazeCarousel.vue
  apps/web/components/ui/ImageText/ImageText.vue
  apps/web/composables/useHomepage/homepageTemplateDataDe.json
  apps/web/composables/useHomepage/homepageTemplateDataEn.json
  apps/web/pages/index.vue
  docs/changelog/changelog_en.md
Labels: fix

#975 fix: price vat hint
  apps/web/components/Price/Price.vue
  apps/web/components/ui/ProductCard/ProductCard.vue
  docs/changelog/changelog_en.md
Labels: fix

#937 feat: nuxt security module
  apps/web/configuration/security.config.ts
  apps/web/nuxt.config.ts
  docs/changelog/changelog_en.md
  package.json
  yarn.lock
Labels: feature

#977 feat: site configuration drawer
  apps/web/app.vue
  apps/web/components/CategoryPageContent/CategoryPageContent.vue
  apps/web/components/ConfirmationPageContent/ConfirmationPageContent.vue
  apps/web/components/OrderAgain/OrderAgain.vue
  apps/web/components/OrderDetails/OrderDetails.vue
  apps/web/components/OrderPaymentSummary/OrderPaymentSummary.vue
  apps/web/components/OrderShippingSummary/OrderShippingSummary.vue
  apps/web/components/Price/Price.vue
  apps/web/components/ProductAccordion/ProductAccordion.vue
  apps/web/components/QuickCheckout/QuickCheckout.vue
  apps/web/components/ReviewsAccordion/ReviewsAccordion.vue
  apps/web/components/SiteConfigurationDrawer/SiteConfigurationDrawer.vue
  apps/web/components/SiteSettingsView/SiteSettingsView.vue
  apps/web/components/ui/AccordionItem/AccordionItem.vue
  apps/web/components/ui/AccordionItem/types.ts
  apps/web/components/ui/BlockActions/BlockActions.vue
  apps/web/components/ui/Toolbar/Toolbar.vue
  apps/web/composables/useSiteConfiguration/index.ts
  apps/web/composables/useSiteConfiguration/types.ts
  apps/web/composables/useSiteConfiguration/useSiteConfiguration.ts
  apps/web/configuration/tailwind.config.ts
  apps/web/fonts/meta.json
  apps/web/layouts/default.vue
  apps/web/nuxt.config.ts
  docs/changelog/changelog_en.md
Labels: feature

#981 feat: movement of a block
  apps/web/__tests__/support/pageObjects/EditorObject.ts
  apps/web/__tests__/test/editor/blocks.cy.ts
  apps/web/components/PageBlock/PageBlock.vue
  apps/web/components/ui/BlockActions/BlockActions.vue
  apps/web/pages/index.vue
  docs/changelog/changelog_en.md
Labels: feature

#990 fix: fix toolbar error
  apps/web/composables/useHomepage/useHomepage.ts
  docs/changelog/changelog_en.md
Labels: fix

#989 feat: added blocks spacing preview + select autocomplete
  apps/web/components/PageBlock/PageBlock.vue
  apps/web/components/SiteSettingsView/SiteSettingsView.vue
  apps/web/components/ui/Toolbar/Toolbar.vue
  apps/web/composables/useSiteConfiguration/types.ts
  apps/web/composables/useSiteConfiguration/useSiteConfiguration.ts
  apps/web/configuration/tailwind.config.ts
  apps/web/nuxt.config.ts
  docs/changelog/changelog_en.md
  package.json
  yarn.lock
Labels: feature

#986 feat: prevent users from leaving the tab with unsaved block changes
  apps/web/components/ui/Toolbar/Toolbar.vue
  apps/web/pages/index.vue
  docs/changelog/changelog_en.md
Labels: feature

#974 chore: use npm registry
  .github/actions/setup/action.yml
  .github/workflows/build-windows.yml
  .github/workflows/integration.yml
  .github/workflows/upload.yml
  .yarnrc.yml.example
  README.md
  apps/web/.env.example
  apps/web/package.json
  docs/changelog/changelog_en.md
  package.json
  yarn.lock
  yarn.ps1
  yarn.sh
Labels: feature

#1000 chore: coverage action
  .github/workflows/integration.yml
  apps/web/vitest.config.ts
Labels: feature, ignore-for-release

#996 fix: paypal issues due to nuxt-security module
  apps/web/nuxt.config.ts
  docs/changelog/changelog_en.md
Labels: fix

#999 fix: local template check
  apps/web/components/ui/Toolbar/Toolbar.vue
  docs/changelog/changelog_en.md
Labels: fix

#948 fix: paypal readonly checkout guest paypal checkout button
  apps/web/pages/readonly-checkout.vue
  docs/changelog/changelog_en.md
Labels: fix

#998 fix: accesibility issue
  apps/web/components/ui/BlazeCarousel/BlazeCarousel.vue
  docs/changelog/changelog_en.md
Labels: fix

#997 feat: save site settings
  apps/web/components/ui/Toolbar/Toolbar.vue
  apps/web/composables/useSiteConfiguration/types.ts
  apps/web/composables/useSiteConfiguration/useSiteConfiguration.ts
  apps/web/nuxt.config.ts
  docs/changelog/changelog_en.md
  package.json
  yarn.lock
Labels: feature

#1003 fix: accesibility errors in edit mode
  apps/web/components/PageBlock/PageBlock.vue
  apps/web/components/ui/BlockActions/BlockActions.vue
  apps/web/components/ui/Button/Button.vue
  docs/changelog/changelog_en.md
Labels: fix

#992 fix: navigation elements change
  apps/web/components/GuestLogin/GuestLogin.vue
  apps/web/pages/guest/login.vue
  docs/changelog/changelog_en.md
Labels: fix

#980 feat: robots for static pages
  apps/web/composables/index.ts
  apps/web/composables/useRobots/index.ts
  apps/web/composables/useRobots/types.ts
  apps/web/composables/useRobots/useRobot.ts
  apps/web/pages/cancellation-form.vue
  apps/web/pages/cancellation-rights.vue
  apps/web/pages/contact.vue
  apps/web/pages/index.vue
  apps/web/pages/legal-disclosure.vue
  apps/web/pages/privacy-policy.vue
  apps/web/pages/search.vue
  apps/web/pages/terms-and-conditions.vue
  docs/changelog/changelog_en.md
Labels: feature

#995 feat: add block from side blocks lists
  apps/web/__tests__/support/pageObjects/EditorObject.ts
  apps/web/__tests__/test/editor/blocks.cy.ts
  apps/web/blocks/blocksLists.ts
  apps/web/components/BlocksNavigationList/BlocksNavigationList.vue
  apps/web/components/BlocksNavigationList/blocksLists.ts
  apps/web/components/BlocksNavigationList/types.ts
  apps/web/components/ui/BlazeCarousel/BlazeCarousel.vue
  apps/web/composables/useBlockManager/useBlockManager.ts
  apps/web/composables/useSiteConfiguration/types.ts
  apps/web/composables/useSiteConfiguration/useSiteConfiguration.ts
  apps/web/nuxt.config.ts
  apps/web/pages/index.vue
  docs/changelog/changelog_en.md
Labels: fix

#1004 fix: e2e tests
  apps/web/__tests__/support/pageObjects/CheckoutPageObject.ts
  apps/web/__tests__/support/pageObjects/ReviewPageObject.ts
  apps/web/__tests__/test/quarantine/reviews.cy.ts
  apps/web/composables/useCustomer/useCustomer.ts
  apps/web/composables/useInitialSetup/useInitialSetup.ts
  apps/web/composables/usePayPal/usePayPal.ts
  apps/web/composables/useWishlist/types.ts
  apps/web/composables/useWishlist/useWishlist.ts
  docs/changelog/changelog_en.md
Labels: fix

#993 fix: cookie bar logic
  apps/web/components/Cookiebar/Cookiebar.vue
  apps/web/composables/index.ts
  apps/web/composables/useCookieBar/index.ts
  apps/web/composables/useCookieBar/types.ts
  apps/web/composables/useCookieBar/useCookieBar.ts
  apps/web/composables/useReadCookieBar/cookieBarHelper.ts
  apps/web/composables/useReadCookieBar/index.ts
  apps/web/composables/useReadCookieBar/useReadCookieBar.ts
  apps/web/configuration/cookie.config.ts
  docs/changelog/changelog_en.md
Labels: feature, fix

#1001 feat: added new placeholder component
  apps/web/components/PageBlock/PageBlock.vue
  apps/web/components/ui/BlockPlaceholder/BlockPlaceholder.vue
  apps/web/composables/useBlockManager/useBlockManager.ts
  apps/web/pages/index.vue
  docs/changelog/changelog_en.md
Labels: fix

#1006 fix: add extra condition for showing placeholder
  apps/web/components/PageBlock/PageBlock.vue
  docs/changelog/changelog_en.md
Labels: fix
