Repository plentymarkets/plentyshop-pwa, pull requests merged in 2025-04, with the labels that each got.

#1170 fix: correct seo data for children pages
  apps/web/components/CategorySettingsDrawer/CategorySettingsDrawer.vue
  apps/web/components/PageSettingsView/PageSettingsView.vue
  apps/web/components/SeoView/SeoView.vue
  docs/changelog/changelog_en.md
Labels: fix

#1173 feat: hide tags on category page
  apps/web/.env.example
  apps/web/components/ui/ProductCard/ProductCard.vue
  apps/web/nuxt.config.ts
  docs/changelog/changelog_en.md
Labels: feature, fix

#1171 fix: v-html for short description
  apps/web/components/QuickCheckout/QuickCheckout.vue
  apps/web/components/ui/ProductCard/ProductCard.vue
  apps/web/components/ui/PurchaseCard/PurchaseCard.vue
  docs/changelog/changelog_en.md
Labels: fix

#1183 fix: filters and pagination
  apps/web/composables/useCategoryFilter/useCategoryFilter.ts
  docs/changelog/changelog_en.md
Labels: fix

#1179 fix: filter mollie klarna payment methods
  apps/web/composables/usePaymentMethods/usePaymentMethods.ts
  docs/changelog/changelog_en.md
Labels: fix

#1181 feat: default gallery image
  apps/web/components/Gallery/Gallery.vue
  apps/web/public/images/produkte/no_image.png
  docs/changelog/changelog_en.md
  package-lock.json
  package.json
Labels: feature, fix

#1185 fix: category product url
  apps/web/components/ui/ProductCard/ProductCard.vue
  docs/changelog/changelog_en.md
Labels: fix

#1189 fix: UnlinkCategoryModal.vue(81,22): error TS2367: This comparison appears to be unintentional because the types '"de"' and '"en"'
  apps/server/package.json
  apps/web/components/ui/UnlinkCategoryModal/UnlinkCategoryModal.vue
  apps/web/package.json
  docs/changelog/changelog_de.md
  docs/changelog/changelog_en.md
  package-lock.json
  package.json
Labels: fix

#1161 fix: button is not allowed inside anchor
  apps/web/components/MegaMenu/MegaMenu.vue
  docs/changelog/changelog_en.md
Labels: fix

#1192 fix: recommended products nuxt error
  apps/web/components/RecommendedProducts/RecommendedProducts.vue
  apps/web/components/blocks/ProductRecommendedProducts/ProductRecommendedProducts.vue
  apps/web/components/blocks/ProductRecommendedProducts/ProductRecommendedProductsForm.vue
  docs/changelog/changelog_en.md
Labels: fix

#1196 fix: turnstile validation contact form
  apps/web/pages/contact.vue
  docs/changelog/changelog_en.md
Labels: fix

#1197 feat: new shop-core frontend event 'frontend:productLoaded' updated 'frontend:removeFromCart'
  apps/web/__tests__/support/pageObjects/CheckoutPageObject.ts
  apps/web/__tests__/test/smoke/checkoutPage.cy.ts
  apps/web/components/ui/CartProductCard/CartProductCard.vue
  apps/web/composables/useCart/types.ts
  apps/web/composables/useCart/useCart.ts
  apps/web/pages/product/[slug].vue
  docs/changelog/changelog_en.md
  package-lock.json
  package.json
Labels: feature, fix

#1200 feat: delete category
  apps/web/components/ui/UnlinkCategoryModal/UnlinkCategoryModal.vue
  apps/web/configuration/tailwind.config.ts
  docs/changelog/changelog_en.md
Labels: feature

#1199 fix: import validator package error
  apps/web/nuxt.config.ts
  docs/changelog/changelog_en.md
Labels: fix

#1198 feat: add variation to product urls
  apps/web/components/ui/ProductCard/ProductCard.vue
  docs/changelog/changelog_en.md
  package-lock.json
  package.json
Labels: feature

#1205 fix: add missing classes to content pages
  apps/web/components/EditablePage/EditablePage.vue
  docs/changelog/changelog_en.md
Labels: fix

#1206 fix: enforce quantity limits in QuantitySelector component
  apps/web/components/ui/QuantitySelector/QuantitySelector.vue
  docs/changelog/changelog_en.md
Labels: fix

#1208 fix: add notification for delete
  apps/web/components/PagesView/PagesItem.vue
  apps/web/components/ui/UnlinkCategoryModal/UnlinkCategoryModal.vue
  apps/web/composables/useCategorySettings/types.ts
  apps/web/composables/useCategorySettings/useCategorySettings.ts
  apps/web/composables/useSiteConfiguration/types.ts
  apps/web/composables/useSiteConfiguration/useSiteConfiguration.ts
  apps/web/i18n/lang/de.json
  apps/web/i18n/lang/en.json
  docs/changelog/changelog_en.md
Labels: feature

#1195 fix: unify use of certain german words
  apps/web/i18n/lang/de.json
  docs/changelog/changelog_de.md
  docs/changelog/changelog_en.md
Labels: fix

#1210 fix: forgot one instance of an outdated german term
  apps/web/i18n/lang/de.json
Labels: fix

#1209 feat: added static accessibility page
  apps/web/i18n/lang/de.json
  apps/web/i18n/lang/en.json
  apps/web/mocks/footerData.ts
  apps/web/pages/declaration-of-accessibility.vue
  apps/web/utils/paths.ts
  docs/changelog/changelog_en.md
Labels: feature, fix

#1213 fix: quick checkout now leads to guest login page
  apps/web/components/QuickCheckout/QuickCheckout.vue
Labels: fix

#1164 feat: mollie module implementation & 1.14.0 release
  .github/workflows/integration.yml
  apps/server/package.json
  apps/web/__tests__/support/failOnError.ts
  apps/web/__tests__/support/pageObjects/CheckoutPageObject.ts
  apps/web/__tests__/support/pageObjects/PaymentStatusScreen.ts
  apps/web/__tests__/test/quarantine/mollie.cy.ts
  apps/web/components/PaymentButtons/PaymentButtons.vue
  apps/web/composables/useCart/types.ts
  apps/web/composables/useCart/useCart.ts
  apps/web/i18n/lang/de.json
  apps/web/i18n/lang/en.json
  apps/web/nuxt.config.ts
  apps/web/package.json
  apps/web/pages/checkout.vue
  apps/web/plugins/register-module-events.ts
  docs/changelog/changelog_de.md
  docs/changelog/changelog_en.md
  package-lock.json
  package.json
Labels: feature, fix

#1217 fix: remove instances of old product name
  apps/web/composables/index.ts
  apps/web/composables/useApplePay/useApplePay.ts
  apps/web/configuration/app.config.ts
  apps/web/docs/.vitepress/config.ts
  apps/web/docs/index.md
  apps/web/i18n/lang/de.json
  apps/web/i18n/lang/en.json
  apps/web/nuxt.config.ts
  docs/changelog/changelog_de.md
  docs/changelog/changelog_en.md
Labels: fix

#1220 fix: short description on bundle item page
  apps/web/components/BundleOrderItems/BundleOrderItems.vue
  docs/changelog/changelog_en.md
Labels: fix

#1176 feat: added aria label to custom button
  apps/web/components/AddressFormBilling/AddressFormBilling.vue
  apps/web/components/AddressFormShipping/AddressFormShipping.vue
  apps/web/components/AddressSelect/AddressSelect.vue
  apps/web/components/ConfirmationPageContent/ConfirmationPageContent.vue
  apps/web/components/OfferPageContent/OfferPageContent.vue
  apps/web/components/OrderAgain/OrderAgain.vue
  apps/web/components/OrderReturnForm/OrderReturnForm.vue
  apps/web/components/OrderReturnFormConfirmation/OrderReturnFormConfirmation.vue
  apps/web/components/PayPal/PayPalCreditCardForm.vue
  apps/web/components/PreviewMode/PreviewMode.vue
  apps/web/components/ProductLegalDetailsDrawer/ProductLegalDetailsDrawer.vue
  apps/web/components/ReviewForm/ReviewForm.vue
  apps/web/components/ui/Button/Button.vue
  apps/web/components/ui/Header.vue
  apps/web/components/ui/Notifications/Notifications.vue
  apps/web/components/ui/Search.vue
  apps/web/i18n/lang/de.json
  apps/web/i18n/lang/en.json
  apps/web/pages/my-account/my-orders.vue
  apps/web/pages/my-account/my-orders/[id].vue
  apps/web/pages/my-account/personal-data.vue
  docs/changelog/changelog_en.md
Labels: feature, fix

#1221 fix: checkout improvements for mollie
  apps/web/components/AddressFormBilling/AddressFormBilling.vue
  apps/web/composables/useAddressForm/useAddressForm.ts
  apps/web/composables/useCheckoutPagePaymentAndShipping/useCheckoutPagePaymentAndShipping.ts
  apps/web/pages/checkout.vue
  docs/changelog/changelog_en.md
Labels: fix

#1229 fix: soft login show warning now
  apps/web/pages/confirmation/[orderId]/[accessKey].vue
  docs/changelog/changelog_en.md
Labels: fix

#1128 feat: update exit editor icon and label
  apps/web/assets/icons/paths/store-black.svg
  apps/web/components/PreviewMode/PreviewMode.vue
  apps/web/components/PreviewMode/types.ts
  apps/web/composables/defaults.ts
  apps/web/i18n/lang/de.json
  apps/web/i18n/lang/en.json
  docs/changelog/changelog_en.md
Labels: feature, fix
