Repository plentymarkets/plentyshop-pwa, pull requests merged in 2025-05, with the labels that each got.

#1230 fix: move login button under email input on checkout
  apps/web/components/ContactInformation/ContactInformation.vue
  docs/changelog/changelog_en.md
Labels: feature, fix

#1245 feat: add global seo settings view
  apps/web/components/CategorySettingsDrawer/CategorySettingsDrawer.vue
  apps/web/components/PageSeoView/PageSeoView.vue
  apps/web/components/SeoView/SeoView.vue
  apps/web/components/SettingsToolbar/SettingsToolbar.vue
  apps/web/components/SiteConfigurationDrawer/SiteConfigurationDrawer.vue
  apps/web/composables/useSiteConfiguration/types.ts
  apps/web/composables/useSiteConfiguration/useSiteConfiguration.ts
  apps/web/configuration/app.config.ts
  docs/changelog/changelog_en.md
Labels: feature, fix

#1253 chore: changelog 1.15.0
  apps/server/package.json
  apps/web/package.json
  docs/changelog/changelog_de.md
  docs/changelog/changelog_en.md
  package.json
Labels: fix

#1251 feat: implement currency formatter
  apps/web/components/CartOrderProperty/CartOrderProperty.vue
  apps/web/components/GraduatedPriceList/GraduatedPriceList.vue
  apps/web/components/LowestPrice/LowestPrice.vue
  apps/web/components/OrderAgain/OrderAgain.vue
  apps/web/components/OrderPropertyCheckbox/OrderPropertyCheckbox.vue
  apps/web/components/OrderPropertyFileUpload/OrderPropertyFileUpload.vue
  apps/web/components/OrderPropertyInput/OrderPropertyInput.vue
  apps/web/components/OrderPropertySelect/OrderPropertySelect.vue
  apps/web/components/OrderReturnProductCard/OrderReturnProductCard.vue
  apps/web/components/OrderSummary/OrderSummary.vue
  apps/web/components/OrderSummaryProductCard/OrderSummaryProductCard.vue
  apps/web/components/OrderTotals/OrderTotals.vue
  apps/web/components/Price/Price.vue
  apps/web/components/QuickCheckout/QuickCheckout.vue
  apps/web/components/ShippingMethod/ShippingMethod.vue
  apps/web/components/ui/CartProductCard/CartProductCard.vue
  apps/web/components/ui/OfferProductCard/OfferProductCard.vue
  apps/web/components/ui/ProductCard/ProductCard.vue
  apps/web/components/ui/ShippingOptionItem/ShippingOptionItem.vue
  apps/web/composables/useCart/useCart.ts
  apps/web/composables/useLocalization/useLocalization.ts
  apps/web/composables/usePriceFormatter/__tests__/usePriceFormatter.spec.ts
  apps/web/composables/usePriceFormatter/index.ts
  apps/web/composables/usePriceFormatter/usePriceFormatter.ts
  apps/web/pages/my-account/my-orders.vue
  apps/web/pages/my-account/my-orders/[id].vue
  docs/changelog/changelog_en.md
  package-lock.json
  package.json
Labels: feature, fix

#1247 feat: add accessibility page robots
  apps/web/composables/useRobots/useRobot.ts
  apps/web/pages/declaration-of-accessibility.vue
  docs/changelog/changelog_en.md
Labels: feature

#1250 fix: z-index issue in the checkout
  apps/web/components/PreferredDelivery/PreferredDelivery.vue
  docs/changelog/changelog_en.md
Labels: fix

#1255 fix: page seo title tooltip
  apps/web/components/PageSeoView/PageSeoView.vue
  docs/changelog/changelog_en.md
Labels: fix

#1260 ci: refactor vsf-locale e2e tests
  apps/web/__tests__/test/checkout/checkout-addresses.cy.ts
  apps/web/__tests__/test/checkout/checkoutPage.cy.ts
  apps/web/__tests__/test/checkout/contactInformation.cy.ts
  apps/web/__tests__/test/checkout/mollie.cy.ts
  apps/web/__tests__/test/checkout/paypalButtons.cy.ts
  apps/web/__tests__/test/checkout/preferredDelivery.cy.ts
  apps/web/__tests__/test/editor/banner-slider.cy.ts
  apps/web/__tests__/test/editor/blocks.cy.ts
  apps/web/__tests__/test/editor/editMode.cy.ts
  apps/web/__tests__/test/editor/imagetext.cy.ts
  apps/web/__tests__/test/editor/newsletter.cy.ts
  apps/web/__tests__/test/editor/recommeneded.cy.ts
  apps/web/__tests__/test/editor/siteSettings.cy.ts
  apps/web/__tests__/test/editor/textcardform.cy.ts
  apps/web/__tests__/test/feature/cookieBar.cy.ts
  apps/web/__tests__/test/quarantine/cartPage.cy.ts
  apps/web/__tests__/test/quarantine/paypalCreditCard.spec.cy.ts
  apps/web/__tests__/test/quarantine/reviews.cy.ts
  apps/web/__tests__/test/quarantine/wishlist.cy.ts
  apps/web/__tests__/test/smoke/categoryPage.cy.ts
  apps/web/__tests__/test/smoke/manufacturerPage.cy.ts
  apps/web/__tests__/test/smoke/productDetailPage.cy.ts
Labels: fix

#1248 fix: contact form turnstile required
  apps/web/composables/useCustomerContact/useCustomerContact.ts
  apps/web/i18n/lang/de.json
  apps/web/i18n/lang/en.json
  apps/web/pages/contact.vue
  docs/changelog/changelog_en.md
Labels: fix

#1261 fix: correct navigation
  apps/web/components/PagesView/PagesItem.vue
  apps/web/components/PagesView/PagesView.vue
  docs/changelog/changelog_en.md
Labels: fix

#1267 fix: backwards compatible for old logo env variable
  apps/web/nuxt.config.ts
Labels: fix

#1256 fix: missing labels dhl preferred delivery service
  apps/web/components/PreferredDelivery/PreferredDelivery.vue
  apps/web/i18n/lang/de.json
  apps/web/i18n/lang/en.json
  docs/changelog/changelog_en.md
Labels: fix

#1278 feat: change mega menu hover color
  apps/web/components/MegaMenu/MegaMenu.vue
  docs/changelog/changelog_en.md
Labels: feature

#1277 fix: cookiebar line break and category breadcrumb on mobile
  apps/web/components/Cookiebar/Cookiebar.vue
  apps/web/components/MegaMenu/MegaMenu.vue
  apps/web/components/ui/Breadcrumbs/Breadcrumbs.vue
  apps/web/i18n/lang/de.json
  apps/web/i18n/lang/en.json
  docs/changelog/changelog_en.md
Labels: fix

#1233 feat: customer wish input on checkout
  apps/web/.env.example
  apps/web/__tests__/support/pageObjects/CheckoutPageObject.ts
  apps/web/__tests__/test/quarantine/paypalCreditCard.spec.cy.ts
  apps/web/components/CustomerWish/CustomerWish.vue
  apps/web/components/PaymentButtons/PaymentButtons.vue
  apps/web/composables/useAdditionalInformation/types.ts
  apps/web/composables/useAdditionalInformation/useAdditionalInformation.ts
  apps/web/composables/useMakeOrder/__tests__/useMakeOrder.unit.spec.ts
  apps/web/composables/useMakeOrder/useMakeOrder.ts
  apps/web/composables/usePayPal/usePayPal.ts
  apps/web/i18n/lang/de.json
  apps/web/i18n/lang/en.json
  apps/web/nuxt.config.ts
  apps/web/pages/checkout.vue
  apps/web/pages/readonly-checkout.vue
  docs/changelog/changelog_en.md
Labels: feature, fix

#1266 fix: display net prices for b2b customers
  apps/web/components/OrderAgain/OrderAgain.vue
  apps/web/components/OrderSummary/OrderSummary.vue
  apps/web/components/OrderSummaryProductCard/OrderSummaryProductCard.vue
  apps/web/components/OrderTotals/OrderTotals.vue
  apps/web/components/Price/Price.vue
  apps/web/components/QuickCheckout/QuickCheckout.vue
  apps/web/i18n/lang/de.json
  apps/web/i18n/lang/en.json
  apps/web/pages/my-account/my-orders.vue
  docs/changelog/changelog_en.md
Labels: fix

#1295 fix: support legacy config for meta title
  apps/web/configuration/app.config.ts
Labels: fix

#1290 fix: remove cross price if prices are the same
  apps/web/components/ui/ProductCard/ProductCard.vue
  docs/changelog/changelog_en.md
Labels: fix

#1301 chore: skip changelog if label is set on pr
  .github/workflows/gh-release-draft.yml
Labels: ignore-for-release

#1303 feat: highlight the selected category
  apps/web/components/PagesView/PagesItem.vue
Labels: ignore-for-release

#1307 fix: changed message when turnstile isn't configured correctly
  apps/web/i18n/lang/de.json
  apps/web/i18n/lang/en.json
Labels: fix

#1314 feat: add more category sorting options
  apps/web/components/CategorySorting/CategorySorting.vue
  apps/web/i18n/lang/de.json
  apps/web/i18n/lang/en.json
Labels: feature

#1289 feat: added loading animations on changing address on checkout
  apps/web/__tests__/support/pageObjects/CheckoutPageObject.ts
  apps/web/__tests__/test/checkout/checkout-addresses.cy.ts
  apps/web/components/AddressContainer/AddressContainer.vue
  apps/web/components/AddressDisplay/AddressDisplaySkeleton.vue
  apps/web/components/AddressForm/AddressFormSkeleton.vue
  apps/web/composables/useCheckout/useCheckout.ts
  apps/web/pages/checkout.vue
Labels: feature, fix

#1321 fix: declare inactive slide titles as h2
  apps/web/components/blocks/structure/Carousel/Carousel.vue
Labels: fix

#1316 ci: refactor checkout test runtime
  apps/web/__tests__/support/commands.ts
  apps/web/__tests__/support/pageObjects/CheckoutPageObject.ts
  apps/web/__tests__/test/checkout/checkout-addresses.cy.ts
  apps/web/__tests__/test/checkout/checkoutPage.cy.ts
  apps/web/__tests__/test/checkout/contactInformation.cy.ts
  apps/web/__tests__/test/checkout/mollie.cy.ts
  apps/web/__tests__/test/checkout/paypalButtons.cy.ts
  apps/web/__tests__/test/checkout/preferredDelivery.cy.ts
  apps/web/__tests__/test/quarantine/paypalCreditCard.spec.cy.ts
  apps/web/e2e/smoke-e2e.vue
  apps/web/nuxt.config.ts
Labels: fix

#1337 fix: removing useasyncdata
  apps/web/composables/useCategoryManagement/useCategoryManagement.ts
  apps/web/composables/useCategoryTemplate/useCategoryTemplate.ts
Labels: ignore-for-release

#1338 fix: configuration key for header bg color
  apps/web/composables/useSiteConfiguration/useSiteConfiguration.ts
Labels: fix

#1333 fix: always display homepage in page management
  apps/web/components/PagesView/PagesItem.vue
  apps/web/components/PagesView/PagesView.vue
  apps/web/components/PagesView/types.ts
  apps/web/composables/usePages/usePages.ts
Labels: fix, ignore-for-release
