Repository plentymarkets/plentyshop-pwa, pull requests merged in 2025-07, with the labels that each got.

#1400 feat: implement site settings architecture
  apps/web/__tests__/support/pageObjects/SiteSettingsObject.ts
  apps/web/components/DesignView/DesignView.vue
  apps/web/components/MegaMenu/MegaMenu.vue
  apps/web/components/PageBlock/PageBlock.vue
  apps/web/components/SettingsGroup/SettingsGroup.vue
  apps/web/components/SettingsToolbar/SettingsToolbar.vue
  apps/web/components/SettingsView/SettingsView.vue
  apps/web/components/SiteConfigurationDrawer/SiteConfigurationDrawer.vue
  apps/web/components/SiteConfigurationView/SiteConfigurationView.vue
  apps/web/components/settings/design/1.fonts/GlobalFonts.vue
  apps/web/components/settings/design/1.fonts/types.ts
  apps/web/components/settings/design/2.colors/PrimaryColor.vue
  apps/web/components/settings/design/2.colors/SecondaryColor.vue
  apps/web/components/settings/design/3.header/BackgroundColor.vue
  apps/web/components/settings/design/3.header/IconColor.vue
  apps/web/components/settings/design/4.block-spacing/BlockSpacing.vue
  apps/web/components/settings/design/ToolbarTrigger.vue
  apps/web/components/settings/design/View.vue
  apps/web/components/ui/Header.vue
  apps/web/components/ui/NavbarTop.vue
  apps/web/components/ui/SimplifiedHeader.vue
  apps/web/composables/index.ts
  apps/web/composables/useBlockManager/useBlockManager.ts
  apps/web/composables/useSiteConfiguration/types.ts
  apps/web/composables/useSiteConfiguration/useSiteConfiguration.ts
  apps/web/composables/useSiteSettings/index.ts
  apps/web/composables/useSiteSettings/types.ts
  apps/web/composables/useSiteSettings/useSiteSettings.ts
  apps/web/utils/blocks-imports.ts
  apps/web/utils/settings-groups-imports.ts
  apps/web/utils/tailwindHelper.ts
  apps/web/utils/triggers-imports.ts
Labels: feature

#1411 fix: gallery thumbnail scroll arrows
  apps/web/components/Gallery/Gallery.vue
Labels: fix

#1406 fix: refresh after login
  apps/web/components/LoginComponent/LoginComponent.vue
  apps/web/components/LoginComponent/types.ts
  apps/web/components/ui/Header.vue
  apps/web/components/ui/ReviewModal/ReviewModal.vue
  apps/web/middleware/guest-guard.ts
  apps/web/pages/login.vue
Labels: fix

#1403 feat: change pages parents
  apps/web/components/PageSettingsView/PageSettingsView.vue
  apps/web/composables/useAddPage/useAddPage.ts
  apps/web/composables/useCategoriesSearch/types.ts
  apps/web/composables/useCategoriesSearch/useCategoriesSearch.ts
  apps/web/composables/useCategorySettingsCollection/useCategorySettingsCollection.ts
Labels: feature, fix

#1443 fix: change sorting default to be by name asc
  apps/web/nuxt.config.ts
Labels: fix

#1459 refactor: address loading indicator in checkout
  apps/web/components/AddressContainer/AddressContainer.vue
  apps/web/components/AddressFormBilling/AddressFormBilling.vue
  apps/web/components/AddressFormShipping/AddressFormShipping.vue
  apps/web/components/PaymentButtons/PaymentButtons.vue
  apps/web/composables/useCheckoutPagePaymentAndShipping/__tests__/useCheckoutPagePaymentAndShipping.spec.ts
  apps/web/composables/useCheckoutPagePaymentAndShipping/useCheckoutPagePaymentAndShipping.ts
  apps/web/pages/checkout.vue
  apps/web/pages/readonly-checkout.vue
Labels: feature, fix

#1460 fix: shipping addresses not refetched on client side navigation
  apps/web/pages/checkout.vue
Labels: feature, fix

#1465 fix: preferred delivery surcharge causing an error
  apps/web/__tests__/support/pageObjects/PreferredDeliveryObject.ts
  apps/web/__tests__/test/checkout/preferredDelivery.cy.ts
  apps/web/components/PreferredDelivery/PreferredDelivery.vue
  apps/web/composables/usePreferredDelivery/usePreferredDelivery.ts
Labels: fix

#1479 fix: sorting options refresh on removal only when default is selected
  apps/web/components/settings/sorting-pagination/category-sorting/AvailableSortingOptions.vue
Labels: fix

#1481 fix: footer block
  apps/web/composables/useCategoryTemplate/useCategoryTemplate.ts
Labels: fix

#1475 chore: change back button behavior on checkout
  apps/web/components/OfferPageContent/OfferPageContent.vue
  apps/web/i18n/lang/de.json
  apps/web/i18n/lang/en.json
  apps/web/layouts/checkout.vue
  apps/web/layouts/types.ts
  apps/web/pages/cart.vue
  apps/web/pages/checkout.vue
  apps/web/pages/readonly-checkout.vue
Labels: fix

#862 refactor: unit test setup
  apps/web/components/CategoryTree/__tests__/CategoryTree.spec.ts
  apps/web/components/WishlistPageContent/__tests__/WishlistPageContent.spec.ts
  apps/web/composables/useWishlist/__tests__/useWishlist.spec.ts
  apps/web/vitest.config.setup.ts
Labels: fix

#1441 feat: implement recommended sorting
  apps/web/components/settings/sorting-pagination/recommended-sorting/FirstSorting.vue
  apps/web/components/settings/sorting-pagination/recommended-sorting/SecondSorting.vue
  apps/web/components/settings/sorting-pagination/recommended-sorting/ThirdSorting.vue
  apps/web/i18n/lang/de.json
  apps/web/i18n/lang/en.json
  apps/web/nuxt.config.ts
  apps/web/utils/sortingOptionsHelper.ts
Labels: feature

#1480 fix: image input delete button
  apps/web/components/ui/ImagePicker/ImagePicker.vue
Labels: ignore-for-release

#1478 feat: content selection
  apps/web/components/UnitContentSelect/UnitContentSelect.vue
  apps/web/components/ui/PurchaseCard/PurchaseCard.vue
  apps/web/components/ui/PurchaseCard/__tests__/PurchaseCard.spec.ts
  package-lock.json
  package.json
Labels: feature

#1491 feat: image table mockups
  apps/web/components/ui/ImageSelectorModal/ImageSelectorModal.vue
  apps/web/components/ui/ImageTable/ImageTable.vue
  apps/web/eslint.config.mjs
  apps/web/nuxt.config.ts
  apps/web/package.json
  package-lock.json
Labels: feature

#1504 fix: middleware occasionally failed to send headers
  package-lock.json
  package.json
Labels: fix

#1499 fix: add paypal hyperlinks style for pui
  apps/web/components/PayPal/PayPalPayUponInvoiceForm.vue
Labels: fix

#1507 fix: paypal apm & checkout payment/shipping improvements
  apps/web/components/PayPal/PayPalAPM.vue
  apps/web/composables/useCheckoutPagePaymentAndShipping/useCheckoutPagePaymentAndShipping.ts
  apps/web/pages/checkout.vue
Labels: fix
