Repository plentymarkets/plentyshop-pwa, pull requests merged in 2025-08, with the labels that each got.

#1518 feat: product title overflow
  apps/web/components/OrderAgain/OrderAgain.vue
  apps/web/components/QuickCheckout/QuickCheckout.vue
  apps/web/components/ui/CartProductCard/CartProductCard.vue
  apps/web/components/ui/PurchaseCard/PurchaseCard.vue
Labels: feature

#1525 feat: update the sortingOptionsHelper
  apps/web/components/settings/sorting-pagination/category-sorting/AvailableSortingOptions.vue
  apps/web/components/settings/sorting-pagination/category-sorting/DefaultSorting.vue
  apps/web/utils/sortingOptionsHelper.ts
Labels: feature

#1529 feat: added aria-roledescription, aria-controls and aria-label to our…
  apps/web/components/blocks/BannerCarousel/Banner.vue
  apps/web/components/blocks/structure/Carousel/Carousel.vue
Labels: feature

#1538 fix: add translations for accessibility attributes (aria-roledescript…
  apps/web/components/blocks/structure/Carousel/Carousel.vue
  apps/web/i18n/lang/de.json
  apps/web/i18n/lang/en.json
Labels: fix

#1500 feat: image selection modal component
  apps/web/components/SettingsView/SettingsView.vue
  apps/web/components/blocks/BannerCarousel/BannerForm.vue
  apps/web/components/blocks/Image/ImageForm.vue
  apps/web/components/ui/ImagePreview/ImagePreview.vue
  apps/web/components/ui/ImageSelectorModal/ImageSelectorModal.vue
  apps/web/components/ui/ImageSelectorModal/types.ts
  apps/web/components/ui/ImageTable/ImageTable.vue
  apps/web/composables/index.ts
  apps/web/composables/useImageMetadata/index.ts
  apps/web/composables/useImageMetadata/types.ts
  apps/web/composables/useImageMetadata/useImageMetadata.ts
  apps/web/composables/useItemTable/index.ts
  apps/web/composables/useItemTable/types.ts
  apps/web/composables/useItemTable/useItemTable.ts
  apps/web/composables/usePickerHelper/types.ts
  apps/web/composables/usePickerHelper/usePickerHelper.ts
  apps/web/composables/useSiteConfiguration/types.ts
  apps/web/composables/useSiteConfiguration/useSiteConfiguration.ts
Labels: feature

#1533 fix: aria label index for gallery and hide tag on bundles
  apps/web/components/Gallery/Gallery.vue
  apps/web/components/blocks/ProductRecommendedProducts/ProductRecommendedProducts.vue
  apps/web/components/ui/PurchaseCard/PurchaseCard.vue
  apps/web/composables/useLocalization/useLocalization.ts
Labels: fix

#1545 fix: saving of settings
  apps/web/composables/useSiteSettings/useSiteSettings.ts
Labels: fix

#1546 fix: image picker issues after new arhitecture
  apps/web/components/settings/branding-and-design/branding-and-design/1.branding/Logo.vue
  apps/web/components/ui/ImagePicker/ImagePicker.vue
Labels: fix

#1547 fix: load vuetify icons from local instead of cdn
  apps/web/components/ui/ImageTable/ImageTable.vue
  apps/web/nuxt.config.ts
  apps/web/package.json
  package-lock.json
Labels: fix

#1549 fix: image selector icons
  apps/web/components/ui/ImageSelectorModal/ImageSelectorModal.vue
  apps/web/components/ui/ImageTable/ImageTable.vue
Labels: fix, ignore-for-release

#1556 feat: change category parent
  apps/web/components/PageSettingsView/PageSettingsView.vue
Labels: feature

#1560 fix: folder multiselect does not show when opening an empty image picker
  apps/web/components/ui/ImageSelectorModal/ImageSelectorModal.vue
Labels: fix

#1570 feat: update block navigation list component to accordion structure
  apps/web/__tests__/support/pageObjects/EditorObject.ts
  apps/web/components/BlocksNavigationList/BlocksNavigationList.vue
Labels: feature, fix

#1576 feat: add tooltips for editor menus and buttons
  apps/web/components/BlocksNavigation/BlocksNavigation.vue
  apps/web/components/PageBlock/PageBlock.vue
  apps/web/components/SettingsToolbar/SettingsToolbar.vue
  apps/web/components/settings/branding-and-design/ToolbarTrigger.vue
  apps/web/components/settings/category/ToolbarTrigger.vue
  apps/web/components/settings/checkout/ToolbarTrigger.vue
  apps/web/components/settings/general/ToolbarTrigger.vue
  apps/web/components/settings/item/ToolbarTrigger.vue
  apps/web/components/settings/seo/ToolbarTrigger.vue
  apps/web/components/ui/BlockActions/BlockActions.vue
  apps/web/components/ui/LanguageEditor/LanguageEditor.vue
  apps/web/components/ui/PageSelector/PageSelector.vue
  apps/web/components/ui/Toolbar/Toolbar.vue
Labels: feature, fix

#1575 feat: adding getBlockDepth method + refactoring hardcoded part
  apps/web/components/EditablePage/EditablePage.vue
  apps/web/composables/useBlockManager/useBlockManager.ts
Labels: feature

#1602 fix: filter duplicate unit content
  apps/web/components/UnitContentSelect/UnitContentSelect.vue
  apps/web/components/ui/PurchaseCard/PurchaseCard.vue
  package-lock.json
  package.json
Labels: fix

#1595 feat: dynamic multigrid block
  apps/web/__tests__/test/editor/imagetext.cy.ts
  apps/web/components/BlocksNavigationList/BlocksNavigationList.vue
  apps/web/components/EmptyBlock/EmptyBlock.vue
  apps/web/components/PageBlock/PageBlock.vue
  apps/web/components/blocks/structure/MultiGrid/EmptyGridBlock.vue
  apps/web/components/blocks/structure/MultiGrid/MultiGrid.vue
  apps/web/components/blocks/structure/MultiGrid/MultiGridForm.vue
  apps/web/components/blocks/structure/MultiGrid/types.ts
  apps/web/composables/useBlockManager/types.ts
  apps/web/composables/useBlockManager/useBlockManager.ts
  apps/web/i18n/lang/de.json
  apps/web/i18n/lang/en.json
Labels: fix

#1580 feat: write e2e tests for editor settings
  apps/web/__tests__/support/pageObjects/CategorySettingsObject.ts
  apps/web/__tests__/support/pageObjects/EditorObject.ts
  apps/web/__tests__/support/pageObjects/SiteSettingsObject.ts
  apps/web/__tests__/test/editor/category/sorting/category-sorting/categorySorting.cy.ts
  apps/web/__tests__/test/editor/category/sorting/recommended-sorting/recommendedSorting.cy.ts
  apps/web/__tests__/test/editor/item/item/item-bundles/itemBundles.cy.ts
  apps/web/components/BundleOrderItems/BundleOrderItems.vue
  apps/web/components/CategorySorting/CategorySorting.vue
  apps/web/components/settings/category/ToolbarTrigger.vue
  apps/web/components/settings/category/sorting/category-sorting/AvailableSortingOptions.vue
  apps/web/components/settings/category/sorting/category-sorting/DefaultSorting.vue
  apps/web/components/settings/category/sorting/recommended-sorting/FirstSorting.vue
  apps/web/components/settings/category/sorting/recommended-sorting/SecondSorting.vue
  apps/web/components/settings/category/sorting/recommended-sorting/ThirdSorting.vue
  apps/web/components/settings/item/ToolbarTrigger.vue
  apps/web/components/ui/CartProductCard/CartProductCard.vue
Labels: feature

#1610 feat: adding styling to emptygridblock.vue
  apps/web/components/blocks/structure/MultiGrid/EmptyGridBlock.vue
Labels: feature

#1619 feat: forgot password
  apps/web/components/ForgotPasswordComponent/ForgotPasswordComponent.vue
  apps/web/components/ForgotPasswordComponent/types.ts
  apps/web/components/LoginComponent/LoginComponent.vue
  apps/web/composables/index.ts
  apps/web/composables/useResetPassword/index.ts
  apps/web/composables/useResetPassword/types.ts
  apps/web/composables/useResetPassword/useResetPassword.ts
  apps/web/i18n/lang/de.json
  apps/web/i18n/lang/en.json
  apps/web/pages/guest/login.vue
  apps/web/pages/password-reset/[contactId]/[hash].vue
Labels: feature, fix
